[2017-10-18 16:32] Eilon commented on #131
@davidfowl / @DamianEdwards / @vancem - is including the PDBs in the NUPKGs part of the plan for 2.0.x or 2.1? If so, which PDB format goes in there? And what does this do to the size of installers?

[2017-10-18 16:35] DamianEdwards commented on #131
not my understanding, I thought the plan was to use sourcelink but rely on symbol servers still, but I could be wrong. best to check with Richard Lander

[2017-10-18 16:36] Eilon commented on #131
Adding @richlander .

[2017-10-18 16:37] davidfowl commented on #131
Adding @tmat

Just FYI, we want this to work for our CI builds as well.

[2017-10-18 17:24] tmat commented on #131
I'm currently working on including Portable PDBs in Roslyn nuget packages.

[2017-10-18 17:28] tmat commented on #131
@DamianEdwards There is no support for Symbol Servers on Linux and MacOS at this point. We should be including Portable PDBs in nuget packages. The long term plan is to utilize package thinning (once implemented) to avoid downloading it in scenarios where the PDBs are available thru symbol server.

[2017-10-18 18:41] natemcmaster opened #610 "Run deb/rpm packages builds in parallel"
Currently this takes 50 to 60 minutes because we build a dozen variants of deb/rpm installers. These can all run in parallel since each deb/rpm build is isolated in a docker container.

[2017-10-18 18:42] JensNordenbro commented on #554
So, when doing this, may I suggest to produce a crossgen:ed store for asp.net core since arm32 is one of the architectures that would benefit the most of not having to spend time JIT:ing IL.  (See [corefx-crossgen:ed](https://github.com/dotnet/core-setup/issues/3314)  for more of the same)

[2017-10-18 21:25] vancem commented on #131
Including @noahfalk @mikem8361 @dagood @lt72.

I am not sure we have come to a consensus on all aspects of the symbol plan for .NET.    As @DamianEdwards  indicates @richlander owns driving the concensu.

What I believe we have reached consensus on is in the short term:
1.   .NET (Non native) components should use portable PDBs in their builds.
2.  We should be using SourceLink on all open source

[2017-10-18 21:50] davidfowl commented on #131
If the portable pdbs are in the packages and they are also on the symbol server do the local symbols win? What if there was to way to have our cake and eat it too? What if we could have the symbol server win for the places where it was supported (if that's the better choice)?

[2017-10-18 22:14] tmat commented on #131
@davidfowl If they are in both places than the local (next to the DLL) wins as that's more efficient to read it. There is no semantic difference though. The PDBs must be identical.

[2017-10-19 17:33] vancem commented on #131
After additional consultation, it seems that there is more planning/concenus forming, than I was aware of when I posted my reply above.

As I mentioned, we always have the option of including portable PDBS in the main (non-symbol) package.   It will have a size hit, but it also makes a number of debugging scenarios 'just work'.    While  the details of the longer term symbol plan may still be uncl

[2017-10-19 17:53] Eilon commented on #131
Would it make sense to see what the size delta is for the various installers before committing to this?

[2017-10-19 18:11] vancem commented on #131
Yes, of course we want to know the size cost.   We are expecting it to be < 20% of the package size.   The idea however, is that the change should be easy to do and undo, so the easiest way for us to experiment is to actually set up the PR create the packages and perform the measurement.   Thus we need to get to the point where we can 'pull the trigger' and then have that discussion.

Even after w

[2017-10-19 18:24] Petermarcu commented on #131
We'll need to think this through as ASP.NET moves to a ref only package model similar to netcoreapp. In that world, the package that developers reference doesn't contain the implementation, just the references. @vancem, for the netcoreapp runtime package, don't we just upload the windows pdb's to the symbol servers and provide a zip people can get for non-windows?

[2017-10-19 22:42] vancem commented on #131
I don't understand how a ref-only netcorapp-like package changes things.   Ultimately, the package that contains the DLL should also contain the portable PDB.  Ref-only packages don't change and are not relevant (as far as I can see).

@dagood can probably comment more authoritatively, but my understanding is that as we publish any of our packages we crack open the corresponding symbol package con

[2017-10-19 23:07] #605 closed

[2017-10-19 23:07] JunTaoLuo commented on #586
Done in rel/2.0.x

[2017-10-19 23:13] dagood commented on #131
That's correct. Just to make sure it's completely clear, the converted DLLs are *only* sent to the Microsoft Symbol Server, so this doesn't affect package size.

About the symbol zip: yes, it contains native symbol files, Portable PDBs, and any Windows PDBs that were directly built (not any converted ones).

[2017-10-19 23:17] JunTaoLuo commented on #610
I wonder how relevant this will be if we decide to move towards platforms. Also, https://github.com/dotnet/core-setup/issues/3325 would simplify installer builds for us significantly.

[2017-10-19 23:36] Petermarcu commented on #131
My point was that most developers will be using ref only package and will have no reference to any of ASP.NET's packages with implementations. Those implementations will come from their shared framework and the pdb's shouldn't be in their shared framework. Basically, the runtime thier apps will be running on will not be delivered via NuGet.

[2017-10-19 23:47] tmat commented on #131
IMO, we should publish a NuGet packages containing Portable PDBs for binaries in the shared framework until we get x-plat symbol server support for Portable PDBs and the debugger will be able to find them on the symbol server.

[2017-10-19 23:53] vancem commented on #131
@Petermarcu

Ah, I see now.   When you install the .NET Core runtime you get the ASP.NET and CoreFX as part of that runtime and no nugget packages are downloaded as part of the build (I just experimentally confirmed this).

I agree that adding the Portable PDBs to packages distributed as part of the .NET Core Runtime will not help.

Tomas' suggestion of adding the PDBs to what we ship with the run

[2017-10-20 00:10] tmat commented on #131
@vancem The package would be useful on Windows as well. For example, VS Code only supports Portable PDBs (even on Windows).

[2017-10-20 01:10] Petermarcu commented on #131
So it's a package with a flat folder  just with the pdbs that people can get?

Just to clarify, aspnet will probably be in a different layer but look a lot like netcoreapp does and not be in Nuget packages by default.

There will be packages for people targeting. Net framework so there may still be value in adding the pdbs for those.

My comment was to make sure we thought through what we should d

[2017-10-20 06:22] davidfowl commented on #131
+1000. We shouldn't throw everything away because of one of the ways we ship. People use the packages and they will use the uber package (once we get there).

[2017-10-20 17:09] vancem commented on #131
I am now with @Petermarcu  in the sense that I agree we need to walk through the details how this works so we can be use everything lines up.  There are more moving parts than I understood.

Lets start with at least one very concrete goal:
[code]
There may be other scenarios as well, but lets start with this one since it is hard enough.

To make this 'just work' we need the all the PDB to be porta

[2017-10-20 17:42] JunTaoLuo opened #614 "Produce cumulative zip and tar.gz files for CLI"
CLI and hosting installers consume zip files to create their installers. They need cumulative zips whereas antares require delta zips. We need to produce both.

[2017-10-20 19:50] vancem commented on #131
For everyone's information I had a build with portable PDBs handy, so I took all the System*.dll and Microsoft*.dlls (107 total) and their corresponding portable PDBS and measured their size.   I got 16.7Meg for the DLL and 6.22 Meg for the PDBs.  Thus PDBs are 37%.  This can vary from DLL to DLL but for the most part PDBs are at least 33% of the size of the DLL.

This ratio seems to also hold up

[2017-10-21 02:04] Petermarcu commented on #131
Just for completeness, the ASP.NET location may change. I forgot the name of the ASP.NET Package off hand so that isn't correct below but if things go the way they seem, these would be the folders for .NET Core 2.0.5.

C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.5 - for CoreFX Dlls
C:\Program Files\dotnet\shared\ASP.NET.All\2.0.5 - for ASP.NET dlls.

Yes, the idea that you can acquire

[2017-10-23 22:54] #553 closed

[2017-10-24 20:09] #590 closed

[2017-10-30 17:15] Tasteful opened #624 "Update XUnit to version 2.3.1 due to bug in 2.3.0 that prohibit usage of testrunner inside VS"
Is there a way that I can override the pinned xunit version? The pinned version is 2.3.0 and that cause runing tests in visual studio throwing the same error as https://github.com/xunit/xunit/issues/1514 and I should like to test with the 2.3.1 version instead to see if that solves the error. Working on an EFCore bug and it is hard to not been able to run and debug test during development. (dotnet

[2017-10-30 22:34] smitpatel commented on #624
@Tasteful - You should be able to put version no. in csproj file. KoreBuild raises error for pinned version in csproj but you can manually put that error code for NoWarn.

Something like this
https://github.com/aspnet/EntityFrameworkCore/blob/1030467f778be6ac77ef8b76d8bb927cbd97fc84/src/EFCore/EFCore.csproj#L31-L34

[2017-10-31 06:50] Tasteful commented on #624
@smitpatel Thanks, that worked and now I can run the test inside VS again :)

Tested with VS 2017 (15.4.1)

[2017-10-31 19:40] yohanmishkin commented on #624
Thanks @smitpatel! Any thoughts on how this might be done in a .Net Framework project?

[2017-10-31 19:41] smitpatel commented on #624
@yohanmishkin - Can you elaborate problem you are facing? This issue is something specific to source code of aspnet org

[2017-10-31 20:10] yohanmishkin commented on #624
Sure! I believe that `<PackageReference>` is only support in .Net Core, .Net Standard, and UWP projects being developed in VS2017 so I was wondering if there's an easy way to achieve the same ends in a regular .Net Framework (4.5+) project.

[2017-10-31 20:38] smitpatel commented on #624
I would recommend reading docs here at https://docs.microsoft.com/en-us/nuget/consume-packages/overview-and-workflow in detail.

I read the note in their docs same as you mentioned, but it is bit misleading.
PackageReference is supported property in new csproj format which is introduced in VS 2017. For older versions, (which we call classical csproj) does not support PackageReference so it require

[2017-10-31 20:40] yohanmishkin commented on #624
Right on. Thanks!

[2017-10-31 20:54] javiercn commented on #524
@Eilon We did this for repos with high traffic (MVC, EF, Hosting, Kestrel, etc), but we should finish doing it for the rest of the repos. We need to re-enable the generation behavior from the build script. When we had sake we could run the generation from build.cmd but I think this functionality wasn't completely migrated to MSBuild. Is this correct @ryanbrandenburg or am I missing something? Last

[2017-10-31 21:11] natemcmaster commented on #576
Fixed in https://github.com/aspnet/Universe/pull/618

[2017-10-31 21:11] #576 closed

[2017-10-31 21:17] natemcmaster commented on #575
Pinning versions in repos:

- [x] Antiforgery - https://github.com/aspnet/Antiforgery/commit/df486e54a8fc7e68b75b28d9076b5a9f1c29f49e
- [ ] AzureIntegration
- [ ] BasicMiddleware
- [ ] BrowserLink
- [ ] Caching
- [x] Common - https://github.com/aspnet/Common/pull/272
- [ ] Configuration - https://github.com/aspnet/Configuration/pull/749
- [ ] CORS
- [ ] DataProtection
- [ ] DependencyInjection
- [

[2017-11-01 04:51] Eilon commented on #524
Yes definitely let's finish this up.

[2017-11-01 20:03] #574 closed

[2017-11-02 17:24] johncrim commented on #131
I've never been a fan of using a separate `.symbols.nupkg` for symbols, for these reasons:
* Doesn't seem optimal to push `.nupkg` files to 2 places and manage 2 different configurations for the sets of places to fetch regular nupkg and symbol nupkgs from. We've automated keeping all developers global nuget configs/sources correct, but I'm not aware of how to keep everyone's symbol server configur

[2017-11-03 16:32] natemcmaster commented on #575
This has been completed for all repos in Universe.

[2017-11-03 16:32] #575 closed

[2017-11-03 22:53] #602 closed

[2017-11-06 17:21] JunTaoLuo opened #629 "Update installer platform requirements"
Ubuntu 16.10 support has ended we can remove this.
Ubuntu 17.04 will be dropped in January
ubuntu 17.10 is added, need to figure out how to build this one.

This is required for future builds with runtime store in the 2.0.x patch branch.

[2017-11-06 18:36] ctaggart commented on #131
A couple more weeks have gone by. @richlander, any update on this? Can the portable pdb files finally be added to the nuget packages?

[2017-11-07 07:43] davidfowl commented on #131
That's the path we're currently on I believe.

[2017-11-08 13:59] ctaggart commented on #131
Yes indeed. Roslyn just closed https://github.com/dotnet/roslyn/issues/3 by merging in a pull request to add them. I hope aspnet will join in soon. I'm happy to see these issues finally being resolved after 3 years. I hope someone records a screencast of this working once it does.

[2017-11-09 17:53] ryanbrandenburg opened #636 "Ensure repos compile after updating their versions."
Our `UpdateRepos.ps1` script should try to compile each repo to ensure it works before pushing it.

[2017-11-09 19:10] ryanbrandenburg commented on #577
As per conversation in person, we would want this to work with either a NuGet feed or ProdCon as the "source of truth".

[2017-11-09 19:23] natemcmaster commented on #577
cc @pranavkm

[2017-11-10 01:30] natemcmaster opened #642 "Add templating tests to universe"
Currently, the tests in aspnet/templating are very unreliable. We should add them to universe once the flakiness is addressed.

cref https://github.com/aspnet/templating/issues/63, https://github.com/aspnet/templating/issues/150

[2017-11-10 01:30] natemcmaster commented on #642
FYI - @SteveSandersonMS - aspnet/Templating is building in aspnet/Universe on dev, but the tests are still still skipped.

[2017-11-10 19:46] ryanbrandenburg commented on #636
Done in #640.

[2017-11-10 19:46] #636 closed

[2017-11-15 19:57] ryanbrandenburg opened #650 "BuildGraphOf is broken"
Currently when you try to use the `/p:BuildGraphOf` property you'll get a failure when it doesn't find the packages for the given repos dependencies within Universe. We should fix this scenario to make it easier for people to fix Universe-only problems.

[2017-11-15 22:47] natemcmaster opened #651 "Implement support for consuming dependencies from different sources"
Sources:
 - myget
 - azure blob feed
 - folder

Currently only myget is supported.

[2017-11-15 23:02] natemcmaster opened #653 "Implement configurable publishing"
Need to add support for publishing build results to the following:

 - myget
 - azure blob storage

Currently, only myget is supported. We need to be able to publish to one or many publish sources.

![image](https://user-images.githubusercontent.com/174281/33085204-e319e720-ce98-11e7-8bad-2d70cce19791.png)

[2017-11-15 23:12] natemcmaster opened #654 "Implement support for controlling the nuget feeds are used programmatically"
In addition to #651, a universe build needs to be able to build with additionally specified NuGet feeds

[2017-11-15 23:23] natemcmaster opened #655 "Produce only one version of assets"
Instead of producing two on each build, only produce one version of packages, templates, runtime store, etc.

[2017-11-15 23:43] natemcmaster opened #656 "Implement configurable dependencies versions"
Allow configuring the versions of external packages in build/dependencies.props from an external PackageVersionsPropsPath.

[2017-11-15 23:52] natemcmaster commented on #517
This was implemented as a pre-req to building the Razor and UserSecrett VSIX's. Builds of were failing inconsistently because we were picking the wrong versions of Visual Studio, depending on what the machine had installed.

https://github.com/aspnet/BuildTools/pull/448
https://github.com/aspnet/BuildTools/pull/443

[2017-11-17 18:15] ryanbrandenburg opened #658 "UpdateSubmodules should update BuildTools as well"
The UpdateSubmodules script needs to also update and commit new BuildTools in case on of the retrieved submodules uses a new 3rd party dependency (which lives in BuildTools)

[2017-11-20 15:26] SteveSandersonMS commented on #642
@natemcmaster Should be safe to re-enable now.

[2017-11-20 19:05] pranavkm opened #661 "Update to 4.5.0 builds of corefx packages"
Follow up to https://github.com/aspnet/Coherence-Signed/issues/657. We should additionally update repos to reference 4.5.0 version of CoreFx packages.

[2017-11-21 01:11] JunTaoLuo opened #662 "Produce AspNetCore Platform"
- [x] Produce platform by publishing framework dependent app
  - [x] win7-x64, win7-x86, osx-x64, linux-x64
  - [x] Update artifacts (naming and trimming) including deps.json, runtimeconfig.json and .version files
  - [x] Create optimized binaries using cross-gen
  - [x] Create symbols
  - [x] Create installers
- [x]  M.A.All package
  - [x] Remove manifests
  - [x] Update publish targets to set `

[2017-11-21 02:12] natemcmaster commented on #662
FYI - I'm working on https://github.com/aspnet/Coherence-Signed/issues/690 next

[2017-11-21 16:51] pranavkm commented on #653
My guess is `versions` wouldn't apply to aspnetcore's build. The other two options seem straightforward.

[2017-11-21 20:27] natemcmaster commented on #653
This bug may not be important given https://github.com/aspnet/Coherence-Signed/issues/701. We should be able to move the current /t:Push target to coherence-signed instead and close this out.

[2017-11-22 01:05] #655 closed

[2017-11-22 01:06] natemcmaster commented on #661
cc @ryanbrandenburg

[2017-11-22 17:48] pranavkm commented on #653
Resolved in https://github.com/aspnet/Universe/commit/db8adaf5b78dd11a7d25302606881728a40740b8

[2017-11-22 17:48] #653 closed

[2017-11-22 21:24] #661 closed

[2017-11-23 15:17] #642 closed

[2017-11-27 21:08] natemcmaster commented on #642
Thanks @SteveSandersonMS

[2017-11-28 00:06] natemcmaster commented on #654
Along with adding `-PackageVersionPropsUrl` to build.ps1 for this repo, we need to add `-RestoreSource` as an additional nuget source that should be used to restore feeds.

[2017-11-28 17:37] natemcmaster opened #671 "Investigate MSB3277 warnings on System.Security.Cryptography.Cng 4.5.0"
Samples and libraries are currently issuing this warning when compiling with System.Security.Cryptography.Cng  4.5.0-preview1-25922-03

[2017-11-28 19:15] pranavkm opened #673 "Add a way to disable strong name verification and execute it when building things on the CI"
Due to issues with the signing infrastructure some of the newer packages coming out of our partner builds. This results in failures when we test or run something on desktop `net4x`. To workaround this, we'll add a way to disable strong name verification and execute this as part of our CI builds. Devs \ contributors would have a way to run this to avoid seeing issues around this when building local

[2017-11-28 19:54] #654 closed

[2017-11-28 19:54] #656 closed

[2017-11-28 23:01] #624 closed

[2017-11-30 18:25] natemcmaster opened #679 "Generate a bill of materials"
Data to include

 - File name for all nupkg, zip, deb, rpm, tar.gz, etc. files
 - Source repo (e.g. aspnet/Razor)
 - Version
 - Logical name (for nupkg, this is package ID, for rpm, deb, it might be the display name of the installer)
 - Category (ship, shipoob, noship)
 - Artifact type (NuGetPackage, NuGetSymbolsPackage, VsixInstaller, ZipArchive, etc.)

[2017-11-30 20:35] natemcmaster opened #684 "LZMA generation based on restore result may miss packages"
Today, we generate the package LZMA by generating a csproj with package references, running restore, and zipping up the contents of the .nuget folder. This approach may miss packages.

Problems:
 - Hard to define multiple versions of one package. dotnet-restore resolves version conflicts by picking one. This means dotnet-restore may not download multiple versions of packages, even though they are

[2017-11-30 22:55] natemcmaster opened #686 "Split artifacts.props up into individual repos"
Instead of one massive list here: https://github.com/aspnet/Universe/blob/dev/build/artifacts.props, each repo should contain a "repo manifest" indicating the shipping status of each artifact.

See also #679

[2017-11-30 23:51] ryanbrandenburg commented on #673
The targets get added in aspnet/BuildTools#501. We no longer need to use it on the CI yet, correct?

[2017-12-01 00:12] pranavkm commented on #673
Not until we pick up unsigned binaries.

[2017-12-02 00:17] JunTaoLuo opened #693 "Specifying RuntimeFrameworkVersion cause an exception in VS 2017"
_From @Pilchie on November 27, 2017 19:12_

_From @xakep139 on November 19, 2017 7:20_

### Steps to reproduce
Simply create new ASP.NET Core app with `dotnet new web`, include `RuntimeFrameworkVersion` and replace `Microsoft.AspNetCore.All` (2.0.3) with `Microsoft.AspNetCore` (2.0.1):
[code]

Running this project with Visual Studio I got an exception:
[code]
Removing `RuntimeFrameworkVersion` sec

[2017-12-02 00:17] JunTaoLuo commented on #693
_From @Pilchie on November 27, 2017 19:12_

@BillHiebert - Do you know where this should go?

[2017-12-02 00:17] JunTaoLuo commented on #693
_From @Pilchie on November 27, 2017 19:12_

Ping @BillHiebert?

[2017-12-02 00:17] JunTaoLuo commented on #693
_From @Pilchie on November 27, 2017 19:12_

_From @BillHiebert on November 27, 2017 19:9_

@Pilchie - I would move it to https://github.com/aspnet/KestrelHttpServer since it could be hosting related.  Not sure why this only reproduces in VS since it basically just uses donet.exe to run the app.

[2017-12-02 00:17] JunTaoLuo commented on #693
_From @davidfowl on November 30, 2017 10:42_

@JunTaoLuo can you move this issue to the appropriate repository?

[2017-12-02 00:19] JunTaoLuo commented on #693
cc @pakrym I believe the idea here is we should pass `/Restore` instead of `/t:Restore`? As per https://github.com/dotnet/sdk/issues/1779?

[2017-12-04 18:37] pakrym opened #694 "Consider creating HostingStartup builder package"
It will contain template, TrimDeps task, and enough targets to be able to build correct `deps.json` file having only `HostingStartup` package. To be used by us and AI team.

[2017-12-04 18:40] muratg commented on #694
cc @Eilon @JunTaoLuo @Tratcher

The idea is to prevent some very-easy-to-make mistakes that could cause partner HostingStartup's to possibly fail. There was one such failure in 2.0.3, but it was hidden because of another bug in dotnet muxer.

[2017-12-04 18:42] muratg commented on #694
Re: distribution -- I'm thinking of a myget feed for partner dependencies like this.  Antares has a similar need with "detectoid" source package.

The other option is to keep 0.x versions for these packages and always keep them in "preview" versioning on NuGet.

[2017-12-04 23:47] ryanbrandenburg commented on #673
Fixed by https://github.com/aspnet/BuildTools/commit/00ce1383114015fe89b221146036e59e6bc11219.

[2017-12-04 23:47] #673 closed

[2017-12-04 23:53] ryanbrandenburg commented on #531
The repos that run into this seem to have all been fixed/changed, do we still care about doing the rest for consistency or should we do this as things become problems?

[2017-12-05 17:11] Eilon commented on #694
Sounds a'ight.

[2017-12-06 04:02] natemcmaster commented on #651
This was done.

[2017-12-06 04:02] #651 closed

[2017-12-07 17:16] natemcmaster commented on #671
@JunTaoLuo are we hitting this because we have mismatched TFM + Microsoft.NETCore.App package?

[2017-12-07 17:42] pranavkm commented on #671
The one in Kestrel has a different source for this warning:

[code]

I'll follow up on the CoreFx issue and see if we're doing something incorrect.

[2017-12-07 19:02] ryanbrandenburg opened #699 ""csc.dll" exited with code 255"
We sometimes get errors such as [this](http://aspnetci/viewLog.html?tab=buildLog&buildTypeId=XPlat_Windows_Win7_Universe&buildId=363350&_focus=16254) when building Universe. Seems to be a Roslyn issue, but we should do some investigation to provide a better report to the Roslyn team, and see if we can't mitigate it in the mean time.

[2017-12-12 17:15] JunTaoLuo opened #706 "Test generated shared framework"
Add tests to test end to end functions of the shared framework. We can test using templates, e.g. dotnet new mvc, and/or using something like MusicStore.

[2017-12-12 17:21] #586 closed

[2017-12-12 17:29] #588 closed

[2017-12-13 00:32] pakrym opened #709 "Investigate performance regression when running with 4.5.0-preview1-26006-06 on 2.0.3"
Visible in all our benchmarks

[2017-12-13 00:34] pakrym opened #710 "Update runtime corefxlab and corefx lab packages when GC and API changes would go through"
Corefx PR: https://github.com/dotnet/corefx/pull/25872

Fix in question: https://github.com/dotnet/coreclr/issues/15432

[2017-12-13 00:48] Eilon commented on #706
Can you come up with a specific list of tests and we can triage again?

[2017-12-13 01:33] JunTaoLuo commented on #614
We now produce both in 2.0. aspnetcore-store-* are delta zips and Build.RS.* are cumulative zips.

[2017-12-13 01:33] #614 closed

[2017-12-13 01:34] JunTaoLuo commented on #629
For January, we have decided to drop 16.10 support but keep all plaforms the same. The plan will be re-evaluated for the February patch.

[2017-12-13 20:16] natemcmaster opened #713 "Templates tests don't actually run on CI"
They're currently skipped because our CI splits compilation and testing into separate phases.

We need to also figure out how to enable the tests to run after the shared framework is built.

[2017-12-18 18:02] ryanbrandenburg commented on #699
This happened again [here](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=370006&_focus=8865). Not sure what steps to take to get more information. Maybe we could extract/preserve the error log from [this task](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L84) somehow?

[2017-12-18 18:42] natemcmaster commented on #699
Would be good to open an issue on dotnet/roslyn. They may be able to provide instructions on gathering more data.

[2017-12-18 19:18] ryanbrandenburg commented on #699
Good point. I was hoping we could have a little more to go on before filing against them, but they'll know best how to get that information.

[2017-12-18 23:36] JunTaoLuo opened #720 "Shared Framework installer reorganization"
Current:
[code]

Proposed:
[code]

[2017-12-19 06:03] #710 closed

[2017-12-19 06:04] pakrym commented on #709
Server GC runtime option wasn't passed though.

[2017-12-19 06:04] #709 closed

[2017-12-19 20:55] JunTaoLuo opened #721 "Produce Microsoft.AspNetCore.App package and shared framework"
This package will include first party packages and a few sanctioned third party packages. The .All package will take a dependency on the .App package and exclude its build assets. The .All shared framework will be dependent on the .App shared framework. Transitive references to third party references in both packages will be flattened.

Packages in the .All that will be removed from .App:
[code]

[2017-12-19 21:44] natemcmaster commented on #721
FYI - BrowserLink isn't third-party. We build it. https://github.com/aspnet/browserlink

[2017-12-19 22:46] JunTaoLuo commented on #721
Fair, though I believe there's some discussions on whether this package should remain in .App in the future, which is why I called it out explicitly here.

[2017-12-20 19:14] #694 closed

[2017-12-29 20:26] natemcmaster opened #734 "Don't make changes to korebuild-lock.txt when building each repo"
Now that korebuild-lock.txt is committed to source, we should stop overwriting it. We should use a different mechanism to override the korebuild version so that we're not modifying a source-controlled lockfile on build. It breaks `git submodule update`.

[2018-01-01 18:56] ctaggart commented on #131
I created the pull request to add the .pdb files to the packages for aspnet mvc in https://github.com/aspnet/Mvc/pull/7174. `dotnet sourcelink test` now supports different line endings too. You can test the created nupkg packages with it after the pull request gets merged.

[2018-01-02 22:06] jkotalik commented on #734
As a temporary workaround, do: git submodule foreach 'git checkout -- korebuild-lock.txt'

[2018-01-03 18:25] pakrym opened #740 "Add a way to update universe locally to a latest clean state"
Clean/reset all submodules,
Update all submodules
Etc.

In other words, do everything so the universe is buildable in the exact state it is on CI.

[2018-01-03 18:31] pakrym opened #741 "Add a way to propagate dependency version changes to subrepos"
Useful when updating third-party references

1. Update every submodule `dependencies.props` to the versions from universe `dependencies.props`
2. Add temporary custom feeds to repositories affected (so they can be built on their own with new packages)
3. Optionaly: Create branches for affected repositories

There should be a way to continually update versions (we found a bug, it was fixed and we n

[2018-01-03 18:32] pakrym commented on #741
/cc @natemcmaster @ryanbrandenburg  @muratg

[2018-01-03 18:35] natemcmaster commented on #741
Should be as simple as adding a script that does this:

1. `build.cmd /t:GeneratePropsFiles`
2. `./scripts/UpdateRepos.ps1 -Source ./artifacts/build/ -NoPush`

[2018-01-03 18:48] pakrym commented on #741
Doesn't solve problems with feeds.

[2018-01-03 18:52] natemcmaster commented on #741
Custom feeds shouldn't be necessary. We can push new packages to aspnetcore-dev as needed

[2018-01-03 18:52] pakrym commented on #741
Manually? What if they are broken?

[2018-01-03 18:55] natemcmaster commented on #741
I assume we don't want CI pushing broken state. This is why UpdateRepos.ps1 ensures a repo can still build and tests pass before it pushes updates.

CI pushes can be automated.

clarify this for me: are you talking about making this run on CI? Or on your local box?

[2018-01-03 18:57] pakrym commented on #741
It's on the local box. I want to get repos to the state where they work outside of universe with updated package versions so I can debug/do changes/open PRs.

[2018-01-03 19:06] natemcmaster commented on #741
Sounds similar to this conversation https://github.com/aspnet/Coherence-Signed/issues/680

[2018-01-03 19:09] pakrym commented on #741
Not really, in this case, I don't want CI to do things for me, I want to get local universe submodule into a state as if they were updated to new versions. So I can cd into submodule and fix/debug failures.

[2018-01-03 19:28] pakrym opened #742 "Add a switch to continue running universe even when tests fail"
And have a report of failed tests when finished.

/cc @natemcmaster @ryanbrandenburg

[2018-01-03 19:51] Eilon commented on #131
@DamianEdwards / @vancem - thoughts on doing this across all our projects? I want to make sure we end up with a good PDB experience, while balancing it with the size increase of the NUPKGs (roughly 20 - 25% larger).

[2018-01-03 19:55] tmat commented on #131
@Eilon If the PDBs are not included in nuget packages the libraries won't be debuggable in many scenarios (VS Code, VS Mac, debugging offline without access to a symbol server, etc.). I believe the extra size is worth it. My 2 cents.

[2018-01-03 20:46] JunTaoLuo opened #744 "LZMA needs to include full framework assets"
As discovered by @jbagga some full framework only package dependencies, such as ManagedEsent, are not captured in the LZMA which means full framework samples are not able to be restored offline. This occurs because we build the LZMA with packages restored for netcoreapp2.0 TFM only.

The simple fix would be to restore for both core and full framework at https://github.com/aspnet/Universe/blob/cf7e

[2018-01-03 20:46] JunTaoLuo opened #745 "LZMA needs to include full framework assets"
dev version of https://github.com/aspnet/Universe/issues/744

[2018-01-03 20:50] natemcmaster commented on #744
IIUC this scenario is out of scope for the LZMA. We don't intend to support all possible projects...just the most common ones. For example, we don't support offline restore for standalone .NET Core applications. Users who specify a RID have to be online to get the runtime-specific packages.

cc @livarcocc

[2018-01-03 20:51] livarcocc commented on #744
Correct. This has been the direction we have been keeping since 1.0.

[2018-01-03 21:04] JunTaoLuo commented on #744
I remember we didn't include the RID specific packages but I wasn't sure about the full framework ones. We spoke with @DamianEdwards this morning and it seemed like we did actually want to support full framework samples?

[2018-01-03 21:17] vancem commented on #131
@Eilon - a group of us including @tmat met about this a month or so ago, and here is my position.

On the negative side:

1.  It is likely that the nugget packages will bloat more than 20-25% (I have seen 40% and it did not look like an outlier).
2. The 'put the PDBs in with the base package' idea is even worse for native code (where at least on Windows PDBS are typically much larger),    We could

[2018-01-03 21:21] natemcmaster commented on #744
If this is a new direction we want to take (cc @DamianEdwards), it would have a negative impact on cross-plat. Currently, there is only one LZMA file and its used by Windows, Linux, and macOS. I don't think we should add .NET Framework assets (effectively Windows-only assets) unless we are willing to produce different LZMA files for different platforms.

[2018-01-03 21:23] natemcmaster commented on #744
cc @muratg for triage

[2018-01-03 21:26] JunTaoLuo commented on #744
I think we should check how many more packages are added if we add full framework dependencies. If it's just the ManagedEsent package, for example, I think it wouldn't be too bad to include it on all platforms. If we need to support different LZMA for each platform, I would be more hesitant to add the full framework packages.

[2018-01-03 22:08] Petermarcu commented on #131
Can we get an estimate of the "size on disk", download, and extraction time increases this will cause for the installer? We should at least have the data to help us be informed about the tradeoff.

[2018-01-03 23:22] jkotalik commented on #734
Also, for SignalR we will need to do the same for client-ts/package.json

[2018-01-03 23:35] anurse commented on #734
Well, unfortunately that's a lot harder. NPM really doesn't provide any other way to pack with a version other than the one in the `package.json`. We could build a whole bunch of copy logic to create a temporary copy of the whole package layout before packing (NPM is also extremely strict on the layout of the directory being `npm pack`ed), but that's pretty much our only option.

[2018-01-03 23:38] natemcmaster commented on #734
@anurse Could you make a backup copy of the original package.json, modify and pack, then replace it with the backup? I believe this is what the current SignalR build attempts, but it relies on git-checkout...which I've found is flaky.

[2018-01-03 23:48] anurse commented on #734
Yeah, that would be fine.

[2018-01-04 00:31] JunTaoLuo opened #747 "Produce distro agnostic deb installers"
We need to adopt core-setup's builds for creating distro-agnostic deb installer. See https://github.com/dotnet/core-setup/pull/3487.

[2018-01-04 03:17] JunTaoLuo commented on #744
Did a quick test and it looks like if we want to make offline full framework restore work, we will need the following packages
[code]

[2018-01-04 18:38] livarcocc commented on #744
We should not produce the lzma by maintaining the list of packages manually. The lzma today is produced by doing a dotnet new, dotnet restore to a particular folder and using the packages of that folder to produce the lzma.

I don't know if above you were just illustrating the delta of packages or state it as a list of packages to be somehow manually added to the lzma.

[2018-01-04 19:12] JunTaoLuo commented on #744
It's a delta list of packages that would need to be added to the lzma if we needed to support restoring full framework samples offline. I generated it by restoring for net461 instead of netcoreapp2.0 and comparing the restore output folders.

[2018-01-04 19:20] ryanbrandenburg commented on #742
In addition to the standard "peeling the onion" of test failures help, this would also help with our test statistics. Currently tests run at the end of builds are less likely to pass, so the statistics for them are all screwy.

[2018-01-04 20:34] pakrym opened #750 "Push third party dependencies to a feed after UpdateUniverse"
It would allow for a shorter time when individual repos are broken when requiring API changes from third parties.

/cc @natemcmaster @ryanbrandenburg

[2018-01-05 00:32] pakrym opened #753 "Create a metaverse"
We've put submodules into Universe on premise that it would not have a lot of manual commits directly to it. It isn't true at this point, we have tons of build logic in Universe that is being changed a lot and doesn't go through `UpdateUniverse` step and breaks our "Universe always build" promise.

So my proposal is:
1. Create/repurpose a repo and call it Metaverse
2. Move all submodules and updat

[2018-01-05 18:58] #744 closed

[2018-01-05 18:58] #745 closed

[2018-01-06 02:12] natemcmaster opened #757 "Need to build cumulative sharefx archive for all platforms"
We have cumulative .tar.gz for linux, but not for macos or windows.

By cumulative, I mean it includes Microsoft.NETCore.App, AspNetCore.App, and AspNetCore.All shared frameworks.

cc @JunTaoLuo

[2018-01-08 08:09] JunTaoLuo opened #760 "Cumulative shared framework archives need to include 2.0.x runtime stores"
Until the "trampoline" from runtime store to shared framework is implemented, we need to include the 2.0 runtime stores in the 2.1 shared frameworks. This is accomplished via a package dependency in the .deb and .rpm installers. The cumulative archives need to be updated to include these files.

cc @natemcmaster

[2018-01-08 18:24] natemcmaster opened #762 "Add runtime-specific packages to .All"
Add a runtime.json for RID-restore to make sure rid-only packages are included. i.e. Microsoft.AspNetCore.Server.IIS.

[2018-01-08 18:29] muratg commented on #762
cc @JunTaoLuo FYI.

I wonder if this would have any unforeseen impact...

[2018-01-08 19:25] ryanbrandenburg commented on #753
It's unclear to me what problem is solved by adding another level of abstraction here. How do we test all the logic of Universe if not by building all the repos of Metaverse? Doing otherwise would require an extensive set of tests, which probably still wouldn't cover the kind of weirdo edge-cases that tend to break us. Can you give an example of a break we had recently that would have been avoided

[2018-01-08 19:30] pakrym commented on #753
Things like this: http://aspnetci/viewLog.html?buildId=380158&tab=buildResultsDiv&buildTypeId=UniverseCoherence where I had to update the Universe to get new third-party packages but reaction PR's weren't there and we had broken commits in Universe, so if PCP requests a build at run at this point it would fail.

[2018-01-08 20:01] pakrym commented on #753
And if @natemcmaster didn't manually merge-in submodules (https://github.com/aspnet/Universe/commit/f9de3588e3fd7d084cce4a7aa68fdebbaf0c0e1b) it would have been broken for longer.

[2018-01-08 21:12] #757 closed

[2018-01-08 21:12] #760 closed

[2018-01-08 23:46] ryanbrandenburg commented on #753
Isn't that a case of a data change breaking the build, not logic? The break here seems to have been caused by updating the version of some package, which broke Kestrel. Are you advocating that we keep the `dependencies.props` and logic in Universe and the repos in "Metaverse", and only allow merging changes into Universe when it's passed Metaverse, which would use the "new" Universe to build? In t

[2018-01-08 23:57] pakrym commented on #753
Yes.

If we keep the amount of things in Metaverse to the minimum, ideally only update ps1 script we would push directly to it very rarely so every commit there would pass through validation.

It also fixes UpdateUniverse failures to push because of new changes in Universe.

[2018-01-09 01:08] #747 closed

[2018-01-09 23:24] #720 closed

[2018-01-09 23:53] natemcmaster opened #766 "Set default ANCM hosting model to InProcess from .App metapackage"
The default hosting model is currently out-of-proc. When we are ready, let's enable in-proc by default.

To do this, we need a copy of the MSBuild properties in M.A.Server.IIS -- which sets the `AspNetCoreHostingModel` msbuild property -- copied into the .App metapackage.

https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IIS/Microsoft.AspNetCore.Server.IIS.targets

[2018-01-09 23:54] natemcmaster commented on #762
Currently not planning to put this into preview1 so we have more time to consider the impact.

[2018-01-10 00:21] Eilon commented on #753
@muratg please follow up on this.

[2018-01-10 00:32] Eilon commented on #742
Recommendation is to change Universe build to do this:

1. Build everything
2. Test everything by running all test projects, no matter whether one failed or not
   * If any test project fails, ultimately fail the Universe, but keep running more test projects

[2018-01-10 00:38] Eilon commented on #750
No plans to do this, but there are some other changes @natemcmaster is contemplating that could make this easier in the future.

[2018-01-10 00:38] #750 closed

[2018-01-10 00:40] Eilon commented on #721
The list above is missing Ix-Async. @ajcvickers can you follow up with @DamianEdwards to confirm that this stays in the list? And if not, what is the plan?

[2018-01-10 00:55] Eilon commented on #741
@pakrym can you chat with @natemcmaster in person to provide more details on the scenario?

[2018-01-10 00:57] Eilon commented on #740
@pakrym can you write a script for this and submit a PR to Universe?

[2018-01-10 01:33] DamianEdwards commented on #721
It should be there, along with EF Core in general.

[2018-01-10 01:37] JunTaoLuo commented on #721
Updated. I think I missed it because the package name is System.Interactive.Async so I missed it in my previous list.

[2018-01-10 16:00] ctaggart commented on #131
So can https://github.com/aspnet/Mvc/pull/7174 be merged? @Petermarcu are those benchmarks really needed before a merge? If so, anyone volunteering?

[2018-01-10 18:27] Eilon commented on #131
@ctaggart I don't think we would merge that; we would make the change in one place so that all projects inherit it. @natemcmaster would know the right place to do that.

[2018-01-10 18:29] Eilon commented on #131
Also, just to check, which PDB format is it including, Windows or Portable? And which one do we want? (Presumably Portable?)

[2018-01-10 18:35] tmat commented on #131
@Eilon Definitely Portable. Managed Windows PDBs should not be included in nuget packages.

[2018-01-10 18:52] Eilon opened #767 "Add "don't touch this" doc to all pubternal types in all packages"
We need to add docs to all our pubternal types (i.e. `public` types in a `.Internal` namespace) to indicate that they are not supported.

I suggest writing a tool that uses Roslyn to insert a comment for all applicable types:
[code]

This will also make it easier in the future to enable the "doc comments required" C# compiler error because we *would* have docs for all accessible types.

For exampl

[2018-01-10 19:23] rynowak commented on #767
Can we make some of these proper internal and leave pubternal for when it's actually required or valuable?

[2018-01-10 20:03] Eilon commented on #767
You mean even in 2.1? Per our own rules that isn't a breaking change, so we certainly *could*...

[2018-01-10 20:22] natemcmaster commented on #767
Can we also stop setting NoWarn CS1591? Devs regularly miss documenting API -- even normal API -- because we suppress this warning in many of our projects.

[2018-01-10 21:08] Eilon commented on #767
@natemcmaster yup that's mentioned in the initial description 😄

[2018-01-10 21:10] natemcmaster commented on #767
Re-read my question - don't think I was clear. I actually meant something stronger. Could we _forbid_ use of NoWarn CS1591?

[2018-01-11 18:20] pakrym opened #772 "Change Antares test to use site extensions package as an artifact reference"
Right now build pushed the package to aspnetcore-dev myget feed and test has to wait until package appears. This has to change so Antares test configuration pushes the package to Azure blob feed and uses that feed for testing.

[2018-01-11 18:22] pakrym commented on #772
/cc @natemcmaster

[2018-01-11 19:06] ryanbrandenburg opened #773 "Fix and start running RuntimeStore-MusicStore tests."
We need to get these running again. They'll have to depend on `SetupSharedFramework` and `SharedFx_Installers` instead of `Coherence-Signed` so that we have the shared framework.

[2018-01-11 19:07] Eilon commented on #767
Oh - well, once we get all the docs actually cleaned up, yes, we'd consider banning it. Though, for some prototype code, or local dev work, we might not want to be quite so strict.

[2018-01-11 19:54] Eilon opened #776 "Consider removing all Obsolete APIs when we start working on 3.0.0"
In theory, when we start working on 3.0.0, we should delete all APIs that have been marked as `[Obsolete]`. There could be exceptions to that, but we should at least look.

[2018-01-11 20:04] davidfowl commented on #776
👍

[2018-01-11 21:21] Eilon commented on #776
cc @DamianEdwards as well.

[2018-01-11 21:22] Eilon commented on #776
And credit to @kichalla for the idea 😄

[2018-01-11 22:23] #662 closed

[2018-01-12 17:46] #742 closed

[2018-01-15 01:40] rynowak commented on #776
That's a cool original idea. Bravo @kichalla

[2018-01-16 18:44] NTaylorMullen opened #782 "Benchmarks test should have a mode for profiling"
We now have this great benchmark test suite but it doesn't enable us to profile those benchmarks easily. We should add configuration options/command line args to enable easy-profiling of our benchmark tests.

/cc @pakrym

[2018-01-16 22:34] JunTaoLuo commented on #721
Seems like I was generating the list of packages based on 2.0 packages for the original list. In 2.1 we also need to exclude these packages:
[code]

[2018-01-17 17:25] ctaggart commented on #131
@natemcmaster Can you please enable packing the portable pdb files in the nupkg in the appropriate place? I made the [1 line change[(https://github.com/aspnet/Mvc/pull/7174) to enable it for this project, but @Eilon says you would know the place to enable it for all projects.

Can ya'll please make this happen sooner than later? I've done everything I can think of to make this easy, but let me kno

[2018-01-17 17:34] natemcmaster commented on #131
@ctaggart I'm tagging in @muratg. Although yes, I know how to make our build infrastructure do this, I am still waiting for commitment to a particular shipping plan for our symbols. Internally, there has uncertainty about what we want to ship to nuget.org. There are several symbols formats, each with different characteristics that make them desirable. We have a high bar for putting files into our

[2018-01-17 18:33] mikem8361 commented on #131
FYI, our .NET Core plan is to upload all the repos’ and projects’ symbols to the Microsoft symbol server. The new symbol uploader build task can handle uploading to the public Microsoft symbol server any format binary (Windows, Portable PDB, xplat ELF and MachO files). It is available now as a package on the dotnet-buildtools feed.

/cc: @lt72 @vancem

[2018-01-17 18:47] tmat commented on #131
@mikem8361 That will only provide symbols for clients that support symbol servers and also only when they are online and can access the symbol servers.
VS Code and VS Mac do not support symbol servers. Do we have x-plat tool that downloads the symbols so I can download the symbols to my machine and point these debuggers to them?

[2018-01-17 18:53] tmat commented on #131
To make it easy to use such tool would need to be equivalent to nuget restore -- something like ```msbuild /t:RestoreSymbols MySolution.sln```

[2018-01-17 18:54] Suchiman commented on #131
Would that also download the source?

[2018-01-17 18:56] tmat commented on #131
@Suchiman No, the source is available on github. The PDBs link to github. That of course needs an access to github so you'd need to be online to see the sources. Pre-fetching source would be an orthogonal feature that the debugger would need to support.

[2018-01-17 18:57] mikem8361 commented on #131
Yes. Part of this work is a symbol download utility, SymClient. We also plan to re-work it into a dotnet cli “global” tool that can be installed. And eventually we want to integrate this support in our lldb plugin-in gives symbol server support on Linux.

[2018-01-17 18:58] tmat commented on #131
Would the SymClient put the PDBs into the NuGet cache next to the DLLs?

[2018-01-17 19:02] mikem8361 commented on #131
It would need some work to make this easier but it can be given the DLLs, etc. to get the symbols for and the output directory can be pointed to the same location.

[2018-01-17 19:06] tmat commented on #131
@mikem8361 We should definitely make it an msbuild task (```RestoreSymbols```) or even better part of the existing nuget restore task.

[2018-01-17 19:07] tmat commented on #131
Or we can just include the PDBs into the packages and be done with it :)

[2018-01-17 19:31] lt72 commented on #131
IMO it is unavoidable to add symbols to the nuget pckg (and BTW I am a fan of a single nuget package, not two) because of the many unknowns with our work for the symbols server, which only now approaches completion. I believe this work should be done for Preview 1, if possible.

When we accrue some mileage on testing the robustness of our implementation and its actual reach, then we will be in a b

[2018-01-17 19:59] ctaggart commented on #131
Good discussion. It sounds like for nuget packages that are not .NET Core Framework/Runtime itself, adding the portable symbols to the nuget packages is still the simple solution that works today. It is worth noting that several projects including all of the Google Cloud libraries are already doing this. However, a large number of projects are waiting for Microsoft to do this too. Newtonsoft.Json

[2018-01-18 18:34] natemcmaster commented on #679
@pranavkm was just talking to Eilon. It looks like we will need to do this for Orchestrated Builds. We need to have a final output of all packages that we can hand off to downstream partners.

Some of this work is already done. Each repo build is already producing artifacts/manifest.xml.
Remaining work:

 - Merge the manifests from repo builds into one
 - Ensure all files are in the manifest, incl

[2018-01-18 18:38] pranavkm commented on #679
Sure, I can have a look at this. What's the timeline for doing this?

[2018-01-18 18:41] natemcmaster commented on #679
This is something we wanted to get in for preview1. I'm also keeping myself assigned because I'll be syncing up with @dagood on how we can use this manifest for the "publish plan".

[2018-01-18 22:49] ryanbrandenburg opened #785 "Lineups and Runtime should publish at the same time"
Currently if Universe-Coherence passes but Publish fails we can get into a state where someone who does "./run.ps1 upgrade deps" will have new lineup packages, but fail when the Runtime can't be found. We should publish the Lineup at the same time as we do the Runtime/SDK (which is currently Publish) so that we always have a working coherent set of artifacts published.

@natemcmaster @muratg  and

[2018-01-19 17:06] pranavkm opened #787 "Create an analyzer metapackage"
We have a analyzer packages that are ready for preview1:

* https://github.com/aspnet/Logging/tree/dev/src/Microsoft.Extensions.Logging.Analyzers
* https://github.com/aspnet/Mvc/pull/7258

We need to produce a meta-analyzer package that combines these and is published to MyGet for the preview1 release.

[2018-01-19 17:32] muratg commented on #787
Candidates for the package name?

FYI @natemcmaster a new package coming in.

[2018-01-19 17:43] JunTaoLuo opened #788 "Flaky MusicStore test in 1.x patch branches"
The failing configuration was http://aspnetci/viewLog.html?buildId=389267&tab=buildResultsDiv&buildTypeId=Releases_Windows
[code]

[2018-01-19 17:43] JunTaoLuo commented on #788
Possible issue with cleanup. Passed on rerun so this is a flakiness issue.

[2018-01-19 17:46] natemcmaster commented on #787
Microsoft.AspNetCore.Analyzers

[2018-01-19 19:15] DamianEdwards commented on #787
Approve of *Microsoft.AspNetCore.Analyzers*

[2018-01-19 19:15] DamianEdwards commented on #787
And to clarify, we want this versioned as 0.1.x and to be pushed to nuget.org for preview1

[2018-01-19 19:49] muratg commented on #787
@pranavkm are you able to take this?

[2018-01-19 19:50] #721 closed

[2018-01-19 20:39] shirhatti opened #790 "Add ProjectCapability for ANCM In-process hosting to .App metapackage"
This is independent of whether we chose to make in-process the default behavior. That is tracked separately by  #766

[code]

cc @BillHiebert since tooling is going to depend on this.
I'll make a similar issue in IISIntegration as well

[2018-01-19 21:13] pranavkm commented on #787
Sure.

[2018-01-22 21:55] pranavkm commented on #787
Fixed in https://github.com/aspnet/Universe/commit/13cf9f76bdc50a3d6beba93fd28cd5888a1a29b5

[2018-01-22 21:55] #787 closed

[2018-01-23 20:55] anurse opened #795 "Auto-generated Build Numbers aren't consistent between Package build and Metapackage build"
When I ran `./build` in Universe, I got all the way to the end and then got a pile of these errors:

[code]

Note the version numbers: `2.1.0-preview1-t005c2fb47` `2.1.0-preview1-t005c2f6d9`. I suspect the BuildNumber that Universe auto-generates is not being properly transferred from the package build to the metapackage build.

This can be worked around by just specifying a build number.

cc @Jun

[2018-01-23 22:56] ryanbrandenburg opened #798 "Run Universe on the CI without parameters"
We've run into problems multiple times where Universe stops being buildable locally without us noticing because we pass a bunch of parameters in usually. Let's add a configuration which runs a clean `./build.cmd` on Universe to simulate this kind of local build and notify us when it's broken.

[2018-01-23 23:51] JunTaoLuo commented on #693
This was addressed in https://github.com/aspnet/Universe-Private/pull/9

[2018-01-23 23:51] #693 closed

[2018-01-24 05:23] xakep139 commented on #693
@JunTaoLuo how could we get this fix? Update SDK/ASP.NET Core/Runtime/NuGet?

[2018-01-24 08:46] JunTaoLuo commented on #693
Correct, the patch containing this fix was released in January.

[2018-01-24 15:52] ctaggart commented on #131
@muratg & @Eilon, how much longer before you complete due diligence on this and make a decision? The .NET ecosystem will benefit greatly from source link enabled pdb files bundled in the nuget packages.

[2018-01-24 19:43] natemcmaster commented on #795
I would love to solve this by building Universe the same way we build individual repos. That is, local builds are always `"t000"`. This would allow us to make Universe incremental. However, before we can do that, we need a way to ensure we actually are doing incrementalism correctly. #739 lays the foundation for doing this correctly.

In the meantime, this behavior is by-design. See https://github

[2018-01-24 19:44] natemcmaster commented on #798
+ 💯 . Requires big changes, though, such as the ability to build aspnet from end-to-end without moving bits between machines. Currently not possible, but #739 lays the foundation for doing this.

[2018-01-24 20:11] natemcmaster commented on #798
I was trying to point out that just "build.cmd" without parameters doesn't actually exercise a full build. build.cmd with no parameters only produces packages. It doesn't build the shared framework, package cache, or installers.

[2018-01-24 20:19] ryanbrandenburg commented on #798
Sure, but I don't think that needs to be part of this work, most of the people running Universe locally are worried about the main items in `/modules` not the shared framework and so on.

[2018-01-24 21:38] anurse commented on #795
It's by design that `./build` with no external BuildNumber specified should fail? Why bother generating the versions at all then, why not force the user to provide a BuildNumber?

The problem isn't the time-based versions, it's that the Metapackage build seems to be generating a **completely new** time-based version and using that to try and access artifacts from the per-repo builds.

[2018-01-25 06:16] #600 closed

[2018-01-25 18:13] pranavkm opened #802 "Set manifest info properties on PushToBlobFeed"
Requirement for prodcon that we need to get done for preview1. See https://github.com/dotnet/core-eng/issues/2404

[2018-01-25 18:13] pranavkm commented on #802
FYI @muratg

[2018-01-25 22:03] natemcmaster opened #803 "Building LZMA with DotnetTool packages fails"
We currently build the LZMA by generating a csproj file with PackageReference and DotNetCliToolReference, restoring it, and zipping up the cache folder. This fails with recent changes to NuGet that enforce restrictions on packageType.

[code]

[2018-01-25 22:09] natemcmaster commented on #803
Broken by https://github.com/NuGet/NuGet.Client/pull/1900 cc @nkolev92 @wli3

cc @JunTaoLuo not sure how we workaround this now that we can't use dotnet-restore to build the LZMA...

[2018-01-25 22:30] nkolev92 commented on #803
This normally shouldn't happen unless you have a DotnetTool package or a DotnetToolReference project style.

Can you please give me a repro so I can check this out.

[2018-01-25 22:38] natemcmaster commented on #803
This may be intentional behavior, but it's a breaking change for us. We are building the LZMA by generating a csproj with PackageReference/DotNetCliToolReference's to all the packages we want in the LZMA. We were using dotnet-restore to layout the CliFallbackFolder with pre-extracted packages.

Repro:

dotnet-CLI: 2.2.0-preview1-008003
[code]
[code]

[2018-01-25 22:39] natemcmaster commented on #803
From what I can tell, this is the intentional restriction of NuGet added for global tools. We'll have to workaround this by extract these packages on our own without dotnet-restore.

[2018-01-25 22:51] wli3 commented on #803
Use PackageArchiveReader? Like that https://github.com/dotnet/sdk/blob/master/src/Tests/Microsoft.NET.ToolPack.Tests/GivenThatWeWantToPackAToolProject.cs#L74 other than a file, there is an API to extract the whole nupkg.

[2018-01-25 22:52] nkolev92 commented on #803
Yeah, since  that version of dotnet-watch is a "dotnettool", that's the intentional restriction.

[2018-01-25 22:52] JunTaoLuo opened #806 "Build timestamped cumulative runtime store archives for CLI ingestion"
We build the cumulative runtime store archives for the CLI installers. These artifacts are named like Build.RS.linux.tar.gz and only contain the no-timestamp stores. We should also produce archives with naming such as Build.RS.linux-rtm-10008.tar.gz so we can switch between timestamp and no-timestamp builds easily.

[2018-01-25 22:55] wli3 commented on #803
Or create something like the temp project onsite? For each tool reference, have one such project with `<RestoreProjectStyle>DotnetToolReference</RestoreProjectStyle>` https://github.com/dotnet/cli/blob/master/src/dotnet/ToolPackage/ToolPackageObtainer.cs#L164

[2018-01-25 22:57] natemcmaster commented on #803
I'm just planning to do this:
[code]

[2018-01-26 02:06] #803 closed

[2018-01-26 19:45] pranavkm opened #810 "Microsoft.AspNetCore.All does not include any target \ prop files from packages"
We explicitly exclude build items from .App and it's dependencies. This was done to avoid picking up the App's props file that sets the TFM. Since NuGet ensures targets and props are imported in dependency order, we don't need to do this - the .All package's props file will get imported after .App and should override any configured setting.

[2018-01-26 19:45] pranavkm commented on #810
cc @muratg \ @JunTaoLuo

[2018-01-26 20:08] pranavkm opened #811 "EnsureTFMCompatibility check should not run when IsCrossTargetingBuild = true"
Repro steps

1. dotnet new mvc
2. dotnet run
3. Edit the csproj to change `<TargetFramework>netcoreapp2.1</TargetFramework>` to `<TargetFrameworks>netcoreapp2.1</TargetFrameworks>`
4. Run dotnet restore

Expected: Things work
Actual: This version of Microsoft.AspNetCore.All is only compatible with the netcoreapp2.1 target framework.

[2018-01-26 20:09] pranavkm commented on #811
@muratg \ @JunTaoLuo it will be good to take a fix for this in preview1. The workaround involves wiping the obj directory before proceeding which is just bad experience.

[2018-01-26 20:38] JunTaoLuo commented on #811
Yes, I'm looking into fixing this for preview1. Testing fix locally right now.

[2018-01-26 21:11] muratg commented on #810
@JunTaoLuo Was this by design?  Anything we need to do for preview1?

[2018-01-26 21:22] pranavkm commented on #810
This essentially results in the Razor.Design \ Razor.Compilation targets not being imported. We should fix this for preview1.

[2018-01-26 22:10] JunTaoLuo commented on #810
Oops, I commented on the wrong issue, but this is the actual bug I'm working on testing.

[2018-01-26 23:47] Eilon commented on #810
We need to make sure this works in .App and .All right?

Approved for preview1.

[2018-01-27 01:08] natemcmaster commented on #679
FYI - https://github.com/dotnet/versions/blob/e271d197d696866e11337ed78320537cb1fe3556/build-info/dotnet/product/cli/release/2.1/build.xml

[2018-01-27 02:23] pranavkm commented on #679
Sweet!

[2018-01-29 20:00] Eilon commented on #806
@JunTaoLuo anything further required for the 2.0.6 patch?

[2018-01-29 20:24] JunTaoLuo commented on #806
It's not strictly required for the 2.0.6 patch actually, but it'll be nice to have for the next non-stabilized build next time we patch. Not strictly required for 2.0.6

[2018-01-29 21:09] Eilon commented on #806
Do you have time to work on this this week?

[2018-01-29 21:15] rynowak opened #816 "Release branches need to be updated with the right KoreBuild channel"
See https://github.com/aspnet/Razor/pull/1987#discussion_r164542619

Our release/2.1 branches (and possibly others) still refer to the `dev` channel of KoreBuild

[2018-01-29 21:16] rynowak commented on #816
/cc @ryanbrandenburg @natemcmaster

[2018-01-29 21:17] natemcmaster commented on #816
Blocked on https://github.com/aspnet/BuildTools/issues/562

[2018-01-29 22:27] JunTaoLuo commented on #806
Definitely, it's a quick fix.

[2018-01-29 22:31] Eilon commented on #806
Ok then let's try to do it in the 2.0.6 timeframe.

[2018-01-30 06:30] DamianEdwards opened #820 "Remove BrowserLink from Microsoft.AspNetCore.App"
Let's remove the Browser Link package from *Microsoft.AspNetCore.App* and ensure it's added to the appropriate (i.e. VS) templates directly.

[2018-01-30 18:25] natemcmaster opened #822 "Packages aren't being published to transport feed anymore"
Possibly related or due to #804. Package aren't being published to our transport feed anymore

cc @pranavkm

[2018-01-30 19:00] pranavkm commented on #822
Are you looking in to this?

[2018-01-30 19:00] natemcmaster commented on #822
Yup, working on reproducing it right now. I'll send a PR soon-ish

[2018-01-30 20:55] #811 closed

[2018-01-30 20:55] #810 closed

[2018-01-30 21:51] ctaggart commented on #131
A draft of the spec for NuGet Package Debugging & Symbols Improvements was [announced yesterday](https://github.com/NuGet/Home/issues/6104#issuecomment-361408844). I [commented there](https://github.com/NuGet/Home/issues/6104#issuecomment-361737080), but I think it is worth repeating here.

A long term plan is forming to put source link enabled pdb files into `.snupkg` files (new extension). Sourc

[2018-01-31 00:33] JunTaoLuo commented on #820
@DamianEdwards Should BrowserLink be added to Microsoft.AspNetCore.All?

[2018-01-31 17:27] natemcmaster opened #833 "Support Alpine Linux"
All of our native dependencies need to also be updated to support musl instead of glibc.

 - https://github.com/aspnet/libuv-package/issues/23
 - https://github.com/ericsink/SQLitePCL.raw/issues/192

We also need to generate an aspnetcore-runtime tarball for Alpine.

- [x] Upgrade SQLitePclRaw
- [ ] ~~Upgrade libuv~~ Deferred until 2.2. See https://github.com/aspnet/libuv-package/issues/23
- [ ]

[2018-01-31 18:01] #802 closed

[2018-01-31 23:02] natemcmaster commented on #816
Done

[2018-01-31 23:02] #816 closed

[2018-02-01 01:00] JunTaoLuo opened #836 "Flatten Microsoft.AspNetCore.All dependencies"
Currently Microsoft.AspNetCore.All references Microsoft.AspNetCore.App which transitively references other aspnet components: Hosting, Kestrel, Mvc, etc. As per offline discussion yesterday, we would like to flatten the dependencies instead so that Microsoft.AspNetCore.All directly references all of its dependencies and remove its reference to Microsoft.AspNetCore.App.

cc @DamianEdwards @Eilon si

[2018-02-01 01:03] DamianEdwards commented on #836
The key here is to ensure we don't change the dependency graph of the existing meta-package (.All) in this release, as moving dependencies to the different levels of the tree can introduce behavior changes.

[2018-02-01 01:13] JunTaoLuo commented on #836
What do you mean by no change in the dependency graph of the existing .All metapackage? I did a diff of the 2.0.5 and the new 2.1.0-preview1 .All metapackages and ensured nothing was removed. However, in 2.1 we are adding references to new packages, for example Microsoft.AspNetCore.Identity.Service.*. I'm pretty sure this is fine but just wanted to check.

[2018-02-01 01:16] natemcmaster commented on #836
Related questions:
 - do we flatten third-party dependencies too?
 - do we also version-cap third-party dependencies?

If yes to both, my concern here is that we will be locking all aspnetcore users everywhere to third-party dependencies we don't control. `<dependency id="Newtonsoft.Json" version="[10.0.1]" />` seems dangerous.

[2018-02-01 01:20] DamianEdwards commented on #836
@JunTaoLuo I mean the depth of the graph should be the same, e.g. don't hoist anything higher or push anything lower. This can have semantic differences and affect how something is restored.

@natemcmaster no, in line with above, we should not be flattening anymore than we did before. Version caps **is** in *Microsoft.AspNetCore.App* but I agree we should likely not introduce them now in .All to e

[2018-02-01 01:22] JunTaoLuo commented on #836
Ah, let me remove the version caps in .All

[2018-02-01 06:29] Eilon commented on #131
Ok, yes, we are biting the bullet and we are doing this!

Please see the updated text in the top of this issue for what we plan to do.

We are doing this as an *experiment* for 2.1.0-preview1 to see how well this works. We want to see the actual net increase in installer size and package sizes, as well as get feedback on the actual experience of debugging things.

[2018-02-01 15:49] ctaggart commented on #131
Yay! When using the new project system, target .NET Core to get a good experience. https://github.com/dotnet/sdk/issues/1458 needs to be fixed in order to have a good experience when targeting the .NET Framework. `dotnet sourcelink test file.nupkg` can be run to see if all the source code is available.

[2018-02-01 17:03] smitpatel opened #838 "Remove/"Convert to tag" older patch branches which are already released"
Since we now use `release/x.x` branches for patch/preview releases, can we get older patch branches cleaned up (`rel/x.x.x` & `patch/x.x.x` ones)

[2018-02-01 18:52] #806 closed

[2018-02-01 19:37] natemcmaster commented on #577
@ryanbrandenburg I have a bunch of information now on how we can automate this now that prodcon is stabilizing. Is this work item one you still want to own?

[2018-02-01 19:38] natemcmaster commented on #838
I believe I cleaned up all patch/2.0.x and rel/2.0.x branches. @JunTaoLuo was looking into doing the same for 1.x.

[2018-02-01 19:40] natemcmaster commented on #838
We shouldn't delete tags because release notes may be linked to them, however, we do want to add tags in a consistent manner from now. Tags generally will match the package version of that release

[2018-02-01 19:53] #836 closed

[2018-02-01 20:56] #820 closed

[2018-02-01 21:17] smitpatel commented on #838
Updated title to be more clear on tags 😄

[2018-02-01 21:49] Eilon opened #842 "Add Microsoft.AspNetCore.SpaServices.Extensions to Microsoft.AspNetCore.App"
Please do this in:

* [ ] release/2.1 branch
* [ ] dev branch

Original TFS issue here: https://devdiv.visualstudio.com/DevDiv/_workitems?id=555879&_a=edit

cc @SteveSandersonMS @DamianEdwards

[2018-02-01 23:25] #842 closed

[2018-02-01 23:29] natemcmaster commented on #822
Fixed with https://github.com/aspnet/Universe/pull/826

[2018-02-01 23:29] #822 closed

[2018-02-01 23:36] natemcmaster opened #843 "Remove workaround for SQLitePCLRaw 1.1.8"
Remove this:

https://github.com/aspnet/Universe/blob/1c31731d89e757ce02478fa5af4f124a59a65985/build/SharedFx.targets#L122-L124

Blocked on https://github.com/aspnet/EntityFrameworkCore/issues/10724 and https://github.com/ericsink/SQLitePCL.raw/issues/194

[2018-02-02 23:34] natemcmaster opened #848 "LZMA is missing Microsoft.AspNetCore.App"
2.1.0-preview1-28226 is missing Microsoft.AspNetCore.App from the offline cache.

https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1

cc @JunTaoLuo @Eilon

[2018-02-02 23:34] ryanbrandenburg commented on #577
Yeah, let's swap info about how exactly we want this to function and I'll drive it.

[2018-02-05 19:46] pranavkm opened #850 "Publish symbols to prodcon feed"
Here are notes on what the symbol publish step will be looking for in the manifest:https://github.com/dotnet/core-eng/blob/master/Documentation/Orchestrated-Build/Api/publish.md#publish-symbol-packages-to-symbol-server. (Something that might not be clear is that it’s looking for Blob elements, not Packages.)

*Placeholder for what do with profiling (.ni.pdb) pdbs produced as part the build.*

[2018-02-05 19:47] pranavkm commented on #850
cc @natemcmaster \ @JunTaoLuo \ @dagood

[2018-02-05 20:04] ryanbrandenburg commented on #577
Some areas for to look at when doing this work:

- https://github.com/dotnet/versions/blob/cdce4ee1842eca91db64a1531c6fc4458c3e0bcf/Maestro/subscriptions.json#L559-L580
- https://github.com/dotnet/versions/blob/master/build-info/dotnet/product/cli/release/2.1/build.xml
- https://github.com/dotnet/corefxlab/blob/master/scripts/update-dependencies/update-dependencies.csproj

[2018-02-05 20:37] Eilon commented on #131
O, change of plans, sorry for the confusion. We (ASP.NET team) discussed this further with the .NET team and decided to *not* include the PDBs in the NUPKGs or shared runtime, but to instead include them on a symbol server that will have everything needed for debugging. We're tracking that work item here: https://github.com/aspnet/Universe/issues/850

Ultimately, our goal is to have a great debugg

[2018-02-05 20:38] #131 closed

[2018-02-05 20:55] ctaggart commented on #131
You didn't even do the experiment to see how well it works. You decided against it without giving reasons why. You chose a solution that does not work currently for the rest of the .NET community who can't publish to symbol server.

[2018-02-05 21:05] Eilon commented on #131
Sorry about that, let me elaborate. We are working on getting symbol server support for additional debugging scenarios in the .NET Core 2.1 timeframe. So, by publishing PDBs to those servers, debuggers will be able to pull down the PDBs and you get a great debugger experience. The PDBs already have source linking enabled, so you can step straight into GitHub sources (wherever that specific feature

[2018-02-05 21:36] ctaggart commented on #131
# Symbol Servers 👎

My experience with Symbol Servers is usually not a great experience. What makes using Symbol Servers a better experience then including the pdb files in the nupkg? If you put the pdb files in the nupkg, you don't need Symbol Servers. It is one less system to deal with (host, configure, manage).

### host
There are lots of options to host nuget feeds, including services like MyG

[2018-02-05 22:50] Eilon commented on #131
Because this is just a question for the .NET/ASP.NET/EF Core packages, there's just one symbol server, the Microsoft one. At least when using VS, the symbols are cached in a folder of your choice, so it's easy to clear them all out (but perhaps not as easy to clear out just a subset):

One of the downsides of including the PDBs in the NUPKGs is the increased size and that most of the time they are

[2018-02-05 22:50] vancem commented on #131
Note that we are not saying that people should not put PDBs into their main Nuget packages.   Indeed we suggest that they do precisely because we do NOT have a story for 3rd parties to use a symbol server (we have plans, but they are not ready).

However this particular work item is of much narrower scope.  It is whether ASP.NET (and certainly the .NET Framework) should package its PDBS into their

[2018-02-05 23:25] ctaggart commented on #131
**Can we agree that the .NET community should put source linked PDBs into their main NuGet packages until there is a better solution?** I think you are already saying, but I just want to confirm. I think with these projects finally enabling source link, it will be a major win and other major .NET projects will finally adopt it too. These Microsoft projects lead by example. With your clear explanat

[2018-02-05 23:39] onovotny commented on #131
@ctaggart I think that's the direction NuGet is going, either there or with the `snupkg` files. The `snupkg` files just being a delivery mechanism to the NuGet symbol server. I think they were looking at also indexing pdb's in the main package so either would work.

[2018-02-06 00:07] natemcmaster commented on #848
had to revert #849.

[2018-02-06 00:34] vancem commented on #131
I agree with @ctaggart point that people besides Microsoft should be

1. Enabling their build to use SourceLink (assuming their source code is hosted on the web in some way (e.g. GitHub).   Most Microsoft code is SourceLinked now and if it is not it is a bug.
2. They should include their (portable) PDBs in their nuget packages.  Microsoft does not of this but only because of special Microsoft circ

[2018-02-06 00:47] JunTaoLuo opened #853 "Produce symbol packages for Microsoft.AspNetCore.All and Microsoft.AspNetCore.App"
https://github.com/aspnet/Universe/issues/850

This specifically addresses the symbols requirements for the metapackages

[2018-02-06 02:36] JunTaoLuo commented on #706
# Variations

## Platforms:
Each of the follwing os and bitness must be tested
- win-x64
- win-x86
- osx-x64
- linux-x64

## Installers:
Each of the following types of installer must be tested
### Installers:
- Windows: Windows Hosting Bundle (.exe) SDK (.exe)
- macOS: SDK (.pkg)
- Linux: SDK (.deb, .rpm)
### Archives:
- Windows: SDK (.zip)
- macOS: SDK (.tar.gz)
- Linux: SDK (.tar.gz)

## Metapac

[2018-02-06 18:36] muratg commented on #848
👀

[2018-02-06 19:58] JunTaoLuo commented on #848
Build passed. Closing

[2018-02-06 19:58] #848 closed

[2018-02-07 00:24] ryanbrandenburg commented on #850
We confirmed that this made its way onto the Prodcon feed.

[2018-02-07 00:24] #850 closed

[2018-02-07 18:44] pranavkm opened #856 "Remove the need to mirror packages + transition to dotnet.myget.org/dotnet-core"
Our repositories currently reference aspnetcore-[dev|release] feeds and NuGet.org while relying on Universe to mirror packages for us from `dotnet-core`, `dotnet-corefxlab`, `roslyn`, `vssdk` and `vsformac` feeds.
CoreFxLab will transition to dotnet-core and `dotnet-corefxlab` will no longer need to be referenced. The remainder are meant to support tooling and are not consumed by runtime packages.

[2018-02-07 18:44] pranavkm commented on #856
cc @natemcmaster \ @pakrym \ @Eilon

[2018-02-07 18:58] Eilon commented on #856
This does look overall correct to me.

[2018-02-07 19:03] natemcmaster commented on #856
+1. I'm in favor of this.

[2018-02-07 19:33] pranavkm commented on #856
@pakrym could I assign this to you so we can track whenever you're done with the corefxlab changes?

[2018-02-07 19:34] pakrym commented on #856
Sure,

[2018-02-07 19:38] #790 closed

[2018-02-07 22:51] #785 closed

[2018-02-08 06:05] Eilon opened #858 "Make source linking work with '.Sources' packages"
Per @tmat :

1. The source package needs to be updated as well. Here’s an example of a source package with a proper SourceLink support: Roslyn’s Microsoft.CodeAnalysis.PooledObject package. The project that builds the nuget package references a target that generates the source link info to the package: https://github.com/dotnet/roslyn/blob/master/src/Dependencies/PooledObjects/Microsoft.CodeAnalys

[2018-02-08 22:48] JunTaoLuo opened #864 "Create cumulative runtime store archive for publishing to installer page"
For cli's consumption, we create a cumulative archive with the naming Build.RS.linux.tar.gz. This naming is used because it's what the cli ingestion mechanism expects. However, this is not the naming we use when publishing these archives on the download page and often the wrong "delta" runtime stores were uploaded by mistake. To make this a little easier and less error prone, we can rename the cum

[2018-02-09 01:23] #734 closed

[2018-02-09 01:30] JunTaoLuo opened #866 "Strip rhel.7 from rpm installers"
As per offline discussion, we should remove the platform name from installers for generic rpm installers. The redhat specific installer will keep the current naming.

I.E.
`aspnetcore-runtime-2.1.0-preview1-28243-rhel.7-x64.rpm` => `aspnetcore-runtime-2.1.0-preview1-28243-x64.rpm`
`aspnetcore-runtime-2.1.0-preview1-28243-rh.rhel.7-x64.rpm` => no change

cc @leecow @DamianEdwards @Eilon since this

[2018-02-09 19:00] natemcmaster commented on #856
How would we handle situations like this? #869  - we need a new version of xunit from yet-another myget feed. Should we update the feeds in each repo? Or continue to mirror?

[2018-02-10 01:48] #866 closed

[2018-02-10 01:52] JunTaoLuo opened #872 "Merge relevant release/2.1 changes back to dev"
Note to self: a few changes need to be merged back to dev:

1) strip rhel.7 from rpm installer
2) add signalr to shared framework
3) remove azureappservice hosting startup packages from .app and azurekeyvault hosting startup from .all

pending:
4) shared framework symbol packages

These changes were not merged immediately due to merge conflicts, I'll need to take a closer look first.

[2018-02-12 19:08] pranavkm commented on #856
Not entirely sure. A test-only package is easy to deal with since the repo could reference the package and we'd be done. Packages consumed by runtime would be far more problematic (for instance if Kestrel needs a nightly build of Libuv?). Maybe we'll still need to keep the feature around, just not use it.

[2018-02-12 22:01] shirhatti opened #873 "Ship Microsoft.AspNetCore.AspNetCoreModule"
It is currently marked as noship.
https://github.com/aspnet/Universe/blob/release/2.1/build/artifacts.props#L37

cc @muratg

[2018-02-12 22:02] Tratcher commented on #873
This is only for preview. File an additional issue to un-ship it for RTM.

[2018-02-12 23:43] #713 closed

[2018-02-13 18:39] shirhatti opened #875 "Don't ship Microsoft.AspNetCore.AspNetCoreModule after preview1"
This is an issue to remind ourselves to mark Microsoft.AspNetCore.AspNetCoreModule as noship after preview1
Related #873

[2018-02-13 18:50] natemcmaster commented on #873
Not sure I agree. This seems to violate the no-turds rule: we are not planning to ship this in RTM, so don't push it to NuGet.org. Since this package isn't really meant to be a "package" (i.e. you wouldn't use it as a PackageReference), have you considered other shipping mechanisms?

[2018-02-13 18:59] shirhatti commented on #873
The options we have
1. Ship an msi. We refrained from doing this since shipping an MSI that's part of a ref-counted exe bundle causes a whole slew of SxS installation failures down the road. We've made that mistake once with ANCM already
2. Ship a NuGet package on an existing feed. We can't use the https://dotnet.myget.org/gallery/aspnetcore-release feed since it's volatile preview2 bits will land

[2018-02-13 19:11] Tratcher commented on #873
Number four you mean...

[2018-02-13 19:17] natemcmaster commented on #873
I don't understand MSI's at all so not sure I understand why this is off the table, but isn't installing ANCM _without_ an MSI also going to cause issues? Manually copying aspnetcore.dll into a global location seems potentially more dangerous.

You might consider this feed instead: https://dotnet.myget.org/gallery/aspnetcore-master

[2018-02-13 19:43] natemcmaster commented on #873
aspnetcore-master is stable. We haven't cleared it in years.

[2018-02-13 20:54] natemcmaster opened #878 "Change aspnetcore runtime to publish to different location on dotnetcli feed"
Per feedback, we need to change where we publish the aspnetcore shared runtime. It shouldn't be in the same folder as the netcoreapp runtime installers.

Current: $root/Runtime/$version/
New: $root/aspnetcore/Runtime/$version/

Changes that need to update:

- [x]  dotnet-install.ps1/sh in https://github.com/dotnet/cli on release/2.0.0 branch, release/2.1.3xx branch, and master
- [x]  aspnet/Univer

[2018-02-13 22:23] muratg commented on #875
Blocked until preview21 ships.

[2018-02-13 22:25] muratg commented on #873
Approved for preview1.

@Eilon / @DamianEdwards FYI this is regarding the ANCM package that we plan to ship to nuget, only for preview1. This is our distribution mechanism for ANCM in-proc features in preview1.

[2018-02-13 23:06] Eilon commented on #875
preview21?

[2018-02-13 23:06] Eilon commented on #873
I'm ok with whatever. We have a plan to remove this after preview1 and I fear it'll be more complex to go some other route.

[2018-02-13 23:34] Eilon commented on #245
This looks like it's all gone now.

[2018-02-13 23:34] #245 closed

[2018-02-13 23:39] natemcmaster commented on #873
Ok. This is in for preview1. Should be in tomorrows prodcon build.

[2018-02-13 23:39] #873 closed

[2018-02-13 23:40] natemcmaster commented on #875
Why is it blocked? We can mark it as noship for preview2 right now

[2018-02-13 23:40] #872 closed

[2018-02-13 23:41] JunTaoLuo commented on #872
Completed in PR https://github.com/aspnet/Universe/pull/877 which was merged to dev in https://github.com/aspnet/Universe/commit/c5bb78c33edd25807c587f0c8cdb3acd0daba652

[2018-02-14 00:12] natemcmaster opened #883 "Add ExperimentalProjectPackageVersion anywhere ExperimentalProjectVersionPrefix is used"
Otherwise, IsFinalBuild=true fails to build

[code]

[2018-02-14 00:16] muratg commented on #875
Good point! :D

[2018-02-14 00:16] muratg commented on #875
Good point! :D

[2018-02-14 00:16] muratg commented on #875
Good point! :D

[2018-02-14 00:16] JunTaoLuo opened #884 "Review packages built using nuspec and parameter values"
I took a quick look at our repos and noticed some components use (or seem to use) .nuspec files to build packages. We should review whether this is necessary or we can rely on using .csproj instead. We need to also update the LicenseUrl, which is right no outdated, and other related parameters in these .nuspec files.

The affected repos/packages include (but are not limited to):
* https://github.c

[2018-02-14 00:25] muratg commented on #875
Good point! :D

[2018-02-14 01:36] #875 closed

[2018-02-14 02:08] shirhatti opened #885 "64-bit .NET Core on Antares"
As part of our effort to add support for 64-bit runtimes on Antares, we'll need to verify that this works on a private stamp.
The current plan on record deploy only the 64-bit runtime (and not the 64-bit SDK) via rapid update mechanism.

[2018-02-14 02:08] shirhatti commented on #885
cc @muratg @leecow @davidebbo

[2018-02-14 06:13] natemcmaster commented on #610
Not really important now that we only build one .deb file.

[2018-02-14 06:13] #610 closed

[2018-02-14 06:43] Eilon commented on #523
Is this a thing anymore with ProdCon? Safe to close?

[2018-02-14 06:43] Eilon commented on #516
Closing because this doesn't seem like a high priority anymore.

[2018-02-14 06:43] #516 closed

[2018-02-14 16:27] natemcmaster commented on #523
Yes, this was mostly done as a part of ProdCon.

[2018-02-14 16:27] #523 closed

[2018-02-14 17:41] natemcmaster commented on #878
PRs:
 - https://github.com/aspnet/aspnet-docker/pull/365
 - https://github.com/aspnet/BuildTools/pull/580
 - https://github.com/aspnet/Universe/pull/886
 - https://github.com/dotnet/cli/pull/8611

[2018-02-14 18:18] muratg commented on #885
cc @BrennanConroy

[2018-02-14 18:50] natemcmaster opened #887 "Make producing .deb files reproducible"
We currently build .deb files using dotnet-deb-tool, which comes from myget. We don't have the source code for this tool. We should make sure we know how to produce this tool in the event myget were to go down.

[2018-02-14 19:16] BrennanConroy commented on #885
In 2.1.0-preview1 we now install the runtime/sdk via a Site Extension instead of already having the runtime/sdk already installed on the machine. Is this not how we want to do 64 bit also?

[2018-02-14 19:20] shirhatti commented on #885
Nothing changes for the previews.

However, this is how we plan to ship rc/rtm (for both 32/64 bit). I only put it in the preview2 milestone so we can validate this scenario during that time frame.

[2018-02-14 19:34] natemcmaster commented on #878
Work on our end is done. Just waiting for dotnet/cli#8611

[2018-02-14 19:34] #878 closed

[2018-02-14 20:26] #853 closed, assigned to JunTaoLuo

[2018-02-14 22:34] pakrym opened #888 "Offline package cache lacks package for linux standalone publish"
[code]

1. Get sdk.tar.gz, unpack
2. `dotnet new razor`
3. `~/.dotnet/dotnet publish --runtime rhel.7-x64"

Expected:

All good, app published

Actual:
[code]

/cc @muratg

[2018-02-14 23:06] natemcmaster commented on #888
We've discussed before. This is out of scope for the LZMA. See https://github.com/dotnet/cli/issues/7089

[2018-02-14 23:09] pakrym commented on #888
Then why do we have other runtime.* package in it?
[code]

[2018-02-14 23:11] natemcmaster commented on #888
This looks wrong. I don't know off the top of my head, but it's possible these packages are in the restore graph of a portable (non-RID) restore. @JunTaoLuo any ideas?

[2018-02-14 23:29] muratg commented on #888
@glennc @DamianEdwards blocker for preview1 or wait until preview2?  (I'm assuming latter.)

[2018-02-14 23:33] natemcmaster commented on #888
I tracked this backward. These runtime.* packages come in as a part of the normal restore graph, even a "portable" restore.
[code]

[2018-02-14 23:35] natemcmaster commented on #888
@muratg unless the requirements for the LZMA have changed, I don't think is something we need to fix. LZMA is supposed to contain packages required for a portable restore of an aspnetcore app, not a RID-restore.

cc @livarcocc

[2018-02-14 23:41] muratg commented on #888
Isn't that RID matching the OS @pakrym is using?  My understanding from the bug is that on RH, standalone publishing is broken, but maybe I misunderstood.

[2018-02-14 23:43] pakrym commented on #888
It's broken only in offline scenario which we don't seem to care about.

[2018-02-14 23:43] natemcmaster commented on #888
Exactly. The offline package cache does not support standalone publishing. You have to restore from myget.org/nuget.org to get the additional packages.

[2018-02-14 23:47] livarcocc commented on #888
Yep. Historically, we have only put in the LZMA the packages for portable applications. If we decide to support RID specific ones, then we would need either to have a bloated lzma with all the supported RIDs or we would need RID specific LZMAs.

I vote to continue supporting portable applications only. One of the main goals of the offline cache is the class scenario where we don't want folks to al

[2018-02-15 00:03] natemcmaster commented on #888
See https://github.com/aspnet/Universe/pull/889

[2018-02-15 00:58] JunTaoLuo commented on #888
It's odd that runtime.* packages are being restored as part of a portable restore but I guess that's fine. There's no issue that needs fixing here.

[2018-02-15 00:58] #888 closed

[2018-02-15 06:01] muratg commented on #888
Thanks guys, sounds good.

[2018-02-15 17:14] natemcmaster commented on #883
@ryanbrandenburg looks like we may have this bug in a few places. Just hit the same error in BasicMiddleware now
[code]

[2018-02-15 19:47] ryanbrandenburg commented on #883
aspnet/Identity#1634, aspnet/Hosting#1330, aspnet/BasicMiddleware#300 and aspnet/Diagnostics#438 all are in response to this.

[2018-02-15 21:36] natemcmaster commented on #883
Those are all merged, so is this done now?

[2018-02-15 21:59] muratg opened #891 "Add WindowsServerHosting build to prodcon output"
We should push WSH to the same blob location as the rest of the release.  This will ensure WSH stays coherent for a particular release.

[2018-02-15 22:01] muratg opened #892 "[Temporary for preview1] Push corefxlab packages to the "ship" location"
These packages are moved to CoreFX repo for preview2, but for preview1, we'll need to make sure we push these packages.

Let's make the change temporarily for preview1.

[2018-02-15 22:02] muratg opened #893 "Undo #892 for Preview2"
Remove the temporary measure from #892 in preview2.  By preview2, the impacted packages would be in corefx properly and build with their system.

[2018-02-15 22:02] muratg commented on #892
cc @Eilon FYI

[2018-02-15 22:03] muratg commented on #893
cc @Eilon FYI

[2018-02-15 22:34] mikeharder commented on #892
I believe this is the list of packages:
* System.Buffers.Primitives
* System.IO.Pipelines
* System.Text.Encodings.Web.Utf8
* System.Text.Primitives

[2018-02-15 22:34] ryanbrandenburg commented on #883
Still trying to manually confirm that that's all the cases here, but I keep being delayed by VS requirements running Universe. All the repos I know of are done.

[2018-02-15 23:04] natemcmaster opened #895 "Only set auto-package versions for local builds"
To ensure we are provided a package version for each dependency we expect from ProdCon, let's disable this property group section in ProdCon builds.

https://github.com/aspnet/Universe/blob/7f10df609f929c43892f9dadaa8d0546d8fe237b/build/dependencies.props#L3

This will help us ensure that packages are either

1. Automatically flowed to us from prodcon
2. Pinned to a known stable version

[2018-02-15 23:40] muratg commented on #753
Decision was to go with an alternative plan to help with some of the pain points of cross-repo changes and rigidity of Universe.  Closing this one.

[2018-02-15 23:51] pakrym commented on #753
This was not about cross repo changes. This is to force a change to universe infrastructure to got through the same validation process as all other changes go.

[2018-02-15 23:53] natemcmaster commented on #892
Done in #894

[2018-02-15 23:53] #892 closed

[2018-02-16 16:41] #893 closed

[2018-02-16 16:43] natemcmaster commented on #891
Verified this is in latest output: 20180215-04

Fixed with #897

[2018-02-16 16:43] #891 closed

[2018-02-16 16:51] pakrym opened #898 "Package icons do not work"
The link (https://go.microsoft.com/fwlink/?LinkID=288859) we have for ASP.NET Core package icons doesn't work

https://github.com/aspnet/BuildTools/blob/bb4d0a2b748dcdcc62c5c15427e4c989054ff757/src/Internal.AspNetCore.Sdk/build/Common.props#L21

/cc @Eilon @muratg

[2018-02-16 17:13] Eilon commented on #898
Known issue, being resolved by the team that owns it.

[2018-02-16 17:13] #898 closed

[2018-02-16 18:25] muratg commented on #753
@pakrym got it.

[2018-02-16 18:25] muratg commented on #753
Backlogging instead of closing to keep the idea around.

[2018-02-16 18:30] natemcmaster commented on #883
I verified this works on my machine as of https://github.com/aspnet/Universe/commit/7c1ea50e2958d5e37b907d8dad753a0944c840ba

[2018-02-16 18:30] #883 closed

[2018-02-16 20:19] natemcmaster opened #901 "Projects with ExperimentalVersionPrefix are missing build number"
We're missing the build number now for IsFinalBuild=false builds.

![image](https://user-images.githubusercontent.com/2696087/36327496-9ad8db82-1313-11e8-9d03-1edf05a6cbdf.png)

[2018-02-16 21:47] smitpatel commented on #699
I am seeing this consistently on EF repo on Ubuntu since yesterday.

[2018-02-16 21:49] natemcmaster commented on #699
Any chance you have a crash dump? If so, can you share it with the roslyn team dotnet/roslyn#23846 ?

[2018-02-16 22:01] ryanbrandenburg commented on #901
Fixes for these should be in now. Will close out once a build has produced the right numbers.

[2018-02-16 22:06] smitpatel commented on #699
I am not able to make it fail while running on Ubuntu directly. It fails only while running through CI only. Any ideas?

[2018-02-16 22:07] natemcmaster commented on #699
none other than what has already been discussed on  dotnet/roslyn#23846

[2018-02-16 22:16] muratg opened #903 "Dev experience improvement idea: Install required VS via a script"
Opening this up for discussion (over GitHub or in the engineering triage.)

I'm hoping to get to a point where building a random ASP.NET repo (including Universe) on a dev machine becomes "easier".

One issue I hit today: VS requirement.

We are currently installing the required .NET Core SDK with the build scripts. but VS (for example) is not automatically installed. I don't think we can get rid

[2018-02-16 22:27] Eilon commented on #524
@javiercn is there work left to do here? Whatever is remaining we need to finish in preview2.

[2018-02-16 22:28] Eilon commented on #650
@ryanbrandenburg is this still an issue?

[2018-02-16 22:28] Eilon commented on #531
Closing for the reason @ryanbrandenburg mentioned. We'll tackle this on an as-needed basis.

[2018-02-16 22:28] #531 closed

[2018-02-16 22:30] Eilon commented on #629
@JunTaoLuo can you give an update on this when you're back? Also, I'm not sure exactly what this is about - which installer are we talking about here?

[2018-02-16 22:31] Eilon commented on #595
@JunTaoLuo where do we use this tool?

[2018-02-16 22:40] Eilon commented on #658
Seems like we have to do this for correctness, right?

cc @natemcmaster

[2018-02-16 22:51] pranavkm commented on #671
There are warnings around `System.Collections.Immutable` in Scaffolding but none of the warnings from here. Scaffolding has an issue tracking their warning here - https://github.com/aspnet/Scaffolding/issues/507

[2018-02-16 22:51] #671 closed

[2018-02-16 22:53] Eilon commented on #470
Can also just rename them if you want to be super safe. Rename `master` to `stale/master`, etc. Then at least it shouldn't confuse anyone.

[2018-02-16 23:03] muratg commented on #470
Sounds good, will do!

[2018-02-16 23:20] natemcmaster commented on #658
We don't need this anymore. The 3rd-party list was removed from build tools, and we added a script that updates build tools automatically.

[2018-02-16 23:20] #658 closed

[2018-02-16 23:22] natemcmaster commented on #595
We use it to make the LZMA. We should definitely do this.

[2018-02-16 23:25] natemcmaster commented on #903
For implementation ideas, we talked about doing this, but never got around to implementing it: https://github.com/aspnet/BuildTools/issues/445

[2018-02-20 00:17] JunTaoLuo commented on #629
I'll need to check with @leecow.

[2018-02-20 16:58] leecow commented on #629
This is concerning keeping the provided linux native installers inline with what's in support. From your side it will be aspnetcore-store and dotnet-hosting

[2018-02-20 21:56] natemcmaster commented on #762
@shirhatti @jkotalik should we do this for 2.1.0-preview2? i.e. should Microsoft.AspNetCore.Server.IIS be included in standalone deployments? We bumped this from preview1 b/c aspnetcorerh wasn't ready yet.

[2018-02-20 21:59] jkotalik commented on #762
Yes, as long as @shirhatti is okay with it.

[2018-02-20 22:05] shirhatti commented on #762
We don't do this already? 😕 How does libuv work today without this?

[2018-02-20 22:06] natemcmaster commented on #762
Libuv isn't a RID-split package (yet), so it is included in the restore graph of a portable project. When/if we rid-split libuv, it would be in the same category as Microsoft.AspNetCore.Server.IIS.

[2018-02-21 10:41] pkapare opened #912 "Could not find an installation of Visual Studio that satisifies the specified requirements in korebuild.json."
I am getting following error while trying to build Universe repository.

**My System Configuration :**
OS : Windows 10 Pro, Version : 1709, OS Build : 16299.248
1. Visual Studio 2017 Community
2. Visual Studio 2017 Community Preview
3. All workloads for both VS installed.
4. Windows 10 SDK and Windows 8.1 SDK installed.

When I run build.cmd, I am getting following error:

H:\Github\DotNetCore\Uni

[2018-02-21 11:19] pkapare opened #913 "Build fails due to package dependencies not found."
When I run build.cmd ALL submodules builds successfully without any errors however overall build is failing with following error: (Pasting relevant sections of console log.)
Note : All missing packages mentioned in below log are present in H:\Github\DotNetCore\Universe\artifacts\build folder. Do I need to do any specific settings?

 - Package: Microsoft.Extensions.Logging.Console Version: [2.1.0-p

[2018-02-21 22:24] JunTaoLuo commented on #864
This was completed in private https://github.com/aspnet/Universe/pull/22

[2018-02-21 22:25] #864 closed

[2018-02-22 20:53] Eilon commented on #901
@ryanbrandenburg presumably this can be closed now? Can you confirm?

[2018-02-22 21:03] #901 closed

[2018-02-22 22:57] natemcmaster opened #916 "Update aspnetcore runtime to Newtonsoft.Json 11"
Tooling needs to stay at the version Visual Studio uses (currently 9), but could the runtime move up to 11? Thoughts @Eilon @JamesNK?

http://james.newtonking.com/archive/2018/02/22/json-net-11-0-release-1-net-standard-2-0-jsonconverters-json-path-and-more

[2018-02-22 23:23] Eilon commented on #916
Technically that'd be a breaking change because it'd bump up the major version of Json.NET in a minor version of ASP.NET Core.

@jamesnk - are there any serious breaking changes we'd need to be concerned about if we update?

[2018-02-22 23:46] JamesNK commented on #916
These are the changes that I thought might be potentially breaking for people:

Can change how types are serialized. Are people serializing/deserializing types that implement ISerializable with ASP.NET Core?

Obsoleting a property that never did anything doesn't matter.

ASP.NET Core is using camel case by default so you should think about this - https://github.com/JamesNK/Newtonsoft.Json/pull/146

[2018-02-27 00:44] Eilon commented on #916
@JamesNK thanks for the list. I don't think any of these are of very high concern to ASP.NET Core apps with regard to breaking changes.

@DamianEdwards - any thoughts on updating Json.NET? We have a few options:

1. Do nothing; we're using Json.NET 10.0.1 right now. Apps would need to update it themselves by lifting in their own csproj
2. Update the min-required Json.NET wherever we reference it (

[2018-02-27 01:50] JunTaoLuo opened #920 "Microsoft.AspNetCore.App is not specifying version ranges for 3rd party dependencies"
_From @DamianEdwards on February 27, 2018 1:8_

It seems that *Microsoft.AspNetCore.App* is not currently setting version ranges for the 3rd party dependencies in the transitive graph, e.g. *Newtonsoft.Json*.

Do folks think we should instead be locking these versions to the known good version, given the intent is to ensure folks can't be lifted out of the supported state without a warning (direct

[2018-02-27 01:50] JunTaoLuo commented on #920
Yes we should, I thought I filed a bug for this in preview2 since we were running out of time for preview1 but I can no longer find it. I'll move this issue to Universe.

[2018-02-27 01:56] natemcmaster commented on #920
To be 100% clear, are we talking about adding **maximum** versions to this range, or just a required minimum?

[2018-02-27 02:00] DamianEdwards commented on #920
Yes, **exact** versions to be absolutely clear.

[2018-02-27 03:47] natemcmaster commented on #920
Have we considered other solutions? I'm concerned exact version limitations will make it harder for library authors to write libraries compatible with multiple platforms, including ASP.NET Core. We don't own re-linq, ix-async, identity model, or JSON.NET and don't align with their release cycles. I'm not convinced benefits of restricting versions outweigh the negative impact on the ecosystem.

[2018-02-27 05:17] DamianEdwards commented on #920
We considered many aspects and trade-offs when coming up with the current plan. The fact that we don't own (and thus control) those libraries is exactly the reason why this is more important, as we've had numerous examples of customers being broken by dependencies being lifted without their knowledge, across breaking changes. Despite the best intentions of SemVer, this simply can't be reliably man

[2018-02-27 05:24] DamianEdwards commented on #916
With the new behavior of the default meta-package (*Microsoft.AspNetCore.App*) any direct hoisting of our dependencies beyond the exact version we close over causes a NuGet warning. A transitive lifting causes an error. This is in order to ensure customers are using a known good set when using our meta-package. This means option 3 is out of the question, as it would cause a warning. Option 1 means

[2018-02-27 05:28] Eilon commented on #920
Exactly what would the caps be? E.g. `Newtonsoft.Json` version `[10.0.1,10.1.0)`? That is, allow patches, but no major/minor updates? Or even lock down on patches?

As long as lifting at the direct-reference layer works, this seems like a minor encumbrance with a decent amount of value.

[2018-02-27 05:44] Eilon commented on #916
Ah, so leave MVC/whatever referencing whatever, but change `.App` to use Json.NET 11.0.1?

[2018-02-27 05:53] DamianEdwards commented on #920
The current plan has the versions be exact: `[10.0.1,10.0.1]`. i.e. locked down completely. Like I said, given we don't control these components we can't rely on their versioning schemes to accurately reflect what's safe and what isn't. Folks who want to use a later version can do so via direct-reference and then suppressing the warning.

We would commit to reviewing these in each release (patches

[2018-02-27 05:55] DamianEdwards commented on #916
Yep, exactly.

[2018-02-27 05:55] davidfowl commented on #920
Why do we need to lock these down at all though? If they can't lift the ASP.NET Core dependencies does it matter?

[2018-02-27 06:01] DamianEdwards commented on #920
They can still affect (even break) the application after being silently lifted.

[2018-02-27 06:18] davidfowl commented on #920
We should be less concerned about that. Lets just start with out dependencies and see how that works out before we lock down things we don't own.

[2018-02-27 06:27] DamianEdwards commented on #920
OK thought about this and chatted with @davidfowl offline a bit and I'm OK to leave this as is for now (no version ranges for the 3rd party deps). The chances that a new version of these will break **our** bits is minuscule, and we can react if that ever does happen. If folks choose to lift the version in their projects and it breaks something that they're using directly (rather than snapping our

[2018-02-27 06:27] #920 closed

[2018-02-27 06:35] davidfowl commented on #916
Lets just update to 11 across the board.

[2018-02-27 06:48] DamianEdwards commented on #916
The reasoning to @davidfowl's comment is the nature of major changes in JSON.NET are generally incredibly minor anyway, plus only updating it in the meta-package adds a test burden that we don't really want to pay.

[2018-02-27 18:38] DamianEdwards commented on #916
Let's add this to preview2 work please.

[2018-02-27 18:54] JunTaoLuo opened #921 "Trim aspnet package referenced individually"
This needs some design/exploration.

The current trimming mechanism relies on both the property MicrosoftNETPlatformLibrary being set and he package to trim being in the restore graph. This means that all apps referencing individual packages must also reference Microsoft.AspNetCore.App or Microsoft.AspNetCore.All if they want their output trimmed which may defeat the purpose of referencing the ind

[2018-02-27 19:37] natemcmaster opened #922 "Refactor RepositoryBuild.targets into individual project builds"
Prototype code here: https://github.com/aspnet/Universe/blob/23de03147dc13dc9655882d77f5e21229f5ea168/build/targets/Repository.Common.targets

We need to polish and update these targets to work with the 2.1 branch (prototype was written for 2.0)

[2018-02-27 19:40] natemcmaster opened #923 "Refactor LZMA and installers targets into individual project builds"
Prototype code:
https://github.com/aspnet/Universe/blob/23de03147dc13dc9655882d77f5e21229f5ea168/src/PackageArchive/PackageArchive.targets
https://github.com/aspnet/Universe/tree/23de03147dc13dc9655882d77f5e21229f5ea168/src/Installers

Refactor the targets for building the LZMA, installers (debian, rpm), and tarballs into individual projects instead of repo.targets

[2018-02-27 20:29] JamesNK commented on #916
Fyi I'm going to release an 11.0.2 in less than a week with a couple of minor bug fixes for regressions.

[2018-02-27 23:26] muratg commented on #833
SQLLitePCL.raw seems to be ready.  libuv-package task is assigned to @natemcmaster.

@glennc You had some concerns about this. Could you elaborate?  Tentatively putting this in the milestone so that we don't lose track of it.

[2018-02-27 23:50] #895 closed

[2018-02-27 23:52] natemcmaster commented on #833
I believe @bricelam is currently assigned to pull in a new SQLitePCL.raw package for a separate reason. We can use https://github.com/aspnet/EntityFrameworkCore/issues/10724 to track that update.

[2018-02-28 00:28] Eilon commented on #679
Let's:
1. Remove the bill of materials that we have right now
2. Talk to the ProdCon people about anything extra we would like added to the versions repo

[2018-02-28 21:24] javiercn opened #929 "Make API baseline generation part of the universe builds"
We want to generate baselines automatically as part of Universe.
Initially we will generate baselines in a different configuration (UniverseBaselines).
Once we iron out the kinks, asses its stability we will decide whether or not we move it into universe.

[2018-03-01 17:52] natemcmaster commented on #679
See https://github.com/dotnet/buildtools/issues/1937 and https://github.com/aspnet/BuildTools/pull/595

[2018-03-01 17:53] #679 closed

[2018-03-01 18:37] natemcmaster opened #933 "Upgrade to SQLitePCLraw 1.1.10"
Follow-up to https://github.com/aspnet/Universe/pull/931. Make sure to upgrade to the stable version of this package before we RTM 2.1.

:watch: it's not released yet, but hopefully will be out soon-ish.

[2018-03-01 18:55] #843 closed

[2018-03-01 19:03] pakrym commented on #856
Unblocked now.

[2018-03-01 21:44] Eilon commented on #913
Hi @pkapare there are some known issues with building Universe locally, which we are covering in this issue: https://github.com/aspnet/Universe/issues/512

[2018-03-01 21:44] #913 closed

[2018-03-01 21:54] Eilon commented on #629
@JunTaoLuo can you provide an update?

[2018-03-01 21:56] Eilon commented on #650
Per triage discussion, this won't be useful anymore because we'll have incremental builds.

We should just delete the parts of the build that support `BuildGraphOf` and never worry about it again.

[2018-03-01 21:58] Eilon commented on #699
Closing this because there's nothing left for us to track. It was ultimately a JIT bug.

[2018-03-01 21:58] #699 closed

[2018-03-01 22:02] natemcmaster commented on #912
When you install VS, you need to make sure you also have this box checked:

<img width="346" alt="untitled" src="https://user-images.githubusercontent.com/2696087/36872104-fa33441a-1d58-11e8-8b76-e20a6e10745d.png">

You need the UCRT SDK in addition to the Windows 10 and 8.1 SDKs.

Closing as a duplicate of #903. We plan to write a script that would make it easier to install required workloads.

[2018-03-01 22:02] #912 closed

[2018-03-01 23:51] Eilon commented on #524
Load balancing to @ryanbrandenburg . Please make sure changes are reviewed by @natemcmaster and @javiercn .

[2018-03-01 23:51] Eilon commented on #929
Load balancing to @ryanbrandenburg . Please make sure changes are reviewed by @natemcmaster and @javiercn .

[2018-03-02 17:13] natemcmaster commented on #887
This became urgent. We need to do this now since the dotnet-deb-tool went missing from myget.

[2018-03-02 20:17] natemcmaster commented on #887
Worked around for now by finding an old copy of dotnet-deb-tool/2.0.0 in backups and pushing to aspnetcore-dev. We should look at moving this tool to dotnet/arcade.

[2018-03-02 22:35] prafullbhosale opened #935 "Scaffolding package versions need to match Microsoft.AspNetCore.App package versions"
Since the `Microsoft.AspNetCore.App` package uses '=' for dependency versions, the scaffolding packages need to match the version of `Microsoft.AspNetCore.App`.

This will be implicitly true till we RTM 2.1, but for later patch builds this needs to be ensured.

cc @natemcmaster, @Eilon, @seancpeters

[2018-03-02 23:24] Eilon commented on #554
Moving to Backlog for now.

[2018-03-03 00:46] muratg opened #936 "Review & update what's in .App metapackage"
We're looking into removing AzureIntegration dependency at least.

We'll be doing a review to see if there's anything else we can remove.

cc @JunTaoLuo @davidfowl @JunTaoLuo

[2018-03-03 00:47] muratg commented on #936
@pakrym any concerns with this?

[2018-03-03 00:55] natemcmaster commented on #936
Here is everything in the .App sharedfx. https://gist.github.com/natemcmaster/e2a2ccd97aa1405bd45d7789022f3bf9

[2018-03-03 01:00] JunTaoLuo commented on #936
Specifically Microsoft.AspNetCore.AzureAppServicesIntegration.dll.

[2018-03-03 15:19] davidfowl commented on #936
This as well Microsoft.Extensions.Logging.AzureAppServices.dll, which is a dependency of AzureAppServicesIntegration.

[2018-03-03 15:20] davidfowl commented on #936
System.Buffers.Primitives should be gone in preview2

[2018-03-04 21:21] Eilon commented on #936
Tagging @DamianEdwards here as well.

[2018-03-05 18:42] ryanbrandenburg opened #938 "UpdateRepos.ps1 should use dev HEAD instead of submodule commit."
Since UpdateRepos pushes to the repo branch instead of to Universe we should do `git checkout $($submodule.branch)`. This should make UpdateRepos pass more often, but still let Update Universe gate any bad changes.

[2018-03-05 19:32] JunTaoLuo commented on #629
Our installers are now distro agnostic in 2.1, we no longer produce .deb and .rpm files with distro RIDs in them so this issue no longer applies.

The work required here is to make sure our 2.0 installers' names are kept up to date for aspnetcore-store and dotnet-hosting. I'll move the milestone to the appropriate one.

As a side note, we never had any platform specific implementation differences

[2018-03-05 22:51] shirhatti commented on #766
Moving to 2.1.0

[2018-03-05 22:58] JunTaoLuo commented on #936
I'm removed Microsoft.AspNetCore.AzureAppServicesIntegration and Microsoft.Extensions.Logging.AzureAppServices from .App but kept them in .All. I will have an updated list of assemblies included in .App for review once a build goes through.

[2018-03-05 23:19] pakrym commented on #936
`System.Text.Encodings.Web.Utf8` should be removed too.

[2018-03-06 09:32] davidfowl commented on #936
@natemcmaster @JunTaoLuo When we remove all of the corefxlab dependencies from universe does the metapackage get updated or is this all manual?

[2018-03-06 16:38] natemcmaster commented on #936
Here is the latest list of assemblies, for build 2.1.0-preview2-30245

https://gist.github.com/natemcmaster/473715dfd76156fc053c04eb695d345b

System.Text.Encodings.Web.Utf8, Microsoft.AspNetCore.AzureAppServicesIntegration, and Microsoft.Extensions.Logging.AzureAppServices have been removed.

I thought that was done already.

[2018-03-06 17:02] davidfowl commented on #936
I think we removed from corefx as well. Good to know it's automatic.

Why is this in the meta package? Who uses it?

[2018-03-06 18:45] JunTaoLuo commented on #936
@davidfowl Microsoft.AspNetCore.Mvc.Core => Microsoft.Extensions.DependencyModel => Microsoft.DotNet.PlatformAbstractions

[2018-03-06 22:25] JunTaoLuo commented on #936
Latest build after adding WebApi.Client:
[code]

[2018-03-07 00:52] Eilon commented on #856
We decided that for now we should stop mirroring dependencies and we'll see if anything breaks.

[2018-03-07 01:01] Eilon commented on #935
Will revisit late in the 2.1.0 release cycle so that we can account for this in patch releases.

[2018-03-07 04:33] davidfowl commented on #936
Nate do we have a plan to get rid of all the native code? John can you show the list for Linux?

[2018-03-07 04:48] JunTaoLuo commented on #936
I've updated the gist, it now has all four platforms.

[2018-03-07 04:57] davidfowl commented on #936
So the only native dependencies on all platforms is libuv. On Windows we have sni.dll for sql sever. Hopefully we can get to a fully managed stack. At least on linux for now.

[2018-03-07 06:13] JunTaoLuo commented on #604
Dup of https://github.com/aspnet/Universe/issues/706

[2018-03-07 06:13] #604 closed

[2018-03-07 06:13] JunTaoLuo commented on #773
Dup of https://github.com/aspnet/Universe/issues/706

[2018-03-07 06:13] #773 closed

[2018-03-08 16:45] natemcmaster commented on #833
I've been poking at this for the last few days. The biggest challenge to implementing this at the moment is crossgen-ing the shared framework. This is difficult because

1. Installing dotnet via dotnet-install.sh into Alpine doesn't work yet. https://github.com/dotnet/cli/issues/8738 We can workaround for now by using curl/tar.
1. MSBuild cannot compile a .csproj inside an Alpine container. https:

[2018-03-08 17:00] DamianEdwards commented on #833
How are they doing it for MS.NETCore.App?

[2018-03-08 17:09] natemcmaster commented on #833
As far as I can tell, they are able to run the entire build inside an Alpine container. It's possible they are using a version of MSbuild that doesn't have this RAR bug: Microsoft/msbuild#3066 or that they don't compile any .csproj files in their build (that seems unlikely)

[2018-03-08 22:59] natemcmaster commented on #833
I'm going to mark this as blocked for now on https://github.com/Microsoft/msbuild/issues/3066. It seems like https://github.com/Microsoft/msbuild/issues/3066 is critical enough (you can't even compile `dotnet new console` in Alpine) 🤞 it should get fixed.

[2018-03-09 20:39] JunTaoLuo commented on #936
ping @Eilon @DamianEdwards to review.

[2018-03-09 22:38] #938 closed

[2018-03-10 02:14] natemcmaster commented on #833
Unblocked. Found workarounds for now. It turns out MSBuild does not like .NET Core's invariant mode on Alpine :(. That can be worked around by installing libicu in the docker container.

[2018-03-10 02:36] muratg commented on #833
@natemcmaster will that be in the .NET image as well, or just ours?

[2018-03-10 02:55] natemcmaster commented on #833
For now, it's a workaround so we can _build_ the shared framework. It may not be necessary to _use_ the shared framework.

Setting invariant mode by default in the microsoft/aspnetcore docker image is a separate question we should address with Rich, Michael, and Glenn. At the moment, I'm inclined to give invariant mode a shot so we can figure out what the problems will be. But it may not be a sens

[2018-03-12 00:44] Eilon commented on #936
Took a quick look and it looks alright to me, but I'm not sure the best way to evaluate it aside from just paging through it.

[2018-03-12 15:56] pakrym opened #951 "Signing failure in UnzipArchive: The file '......\Microsoft.AspNetCore.ApplicationInsights.HostingStartup.pdb' already exists"
[code]

/cc @natemcmaster  @ryanbrandenburg

[2018-03-12 15:56] pakrym commented on #951
http://aspnetci/viewLog.html?buildId=419083&buildTypeId=CoherenceSigned&tab=buildLog

[2018-03-12 15:59] pakrym commented on #753
This would also avoid failures when build succeeded but could not be pushed because someone pushed to universe directly:

![image](https://user-images.githubusercontent.com/1697911/37294641-8284c67c-25d3-11e8-9825-61816b2c575a.png)

[2018-03-12 16:14] Eilon commented on #951
@ryanbrandenburg can you take a look or redirect as appropriate?

[2018-03-12 17:28] ryanbrandenburg commented on #951
It looks like 2 copies of files are making their way into the symbols nupkgs for `runtime.linux-x64.Microsoft.AspNetCore.All` I'm trying to figure out why that might be right now.

[2018-03-12 17:43] ryanbrandenburg commented on #951
We believe this is caused by the new CLI. John is reverting it now and will then investigate further when it's not breaking the build, so I'm assigning this to him for now.

[2018-03-12 18:14] JunTaoLuo commented on #936
I'm going to close this issue for now since @davidfowl and @Eilon has already reviewed the list. @DamianEdwards please re-open if you find any issues with the latest list.

[2018-03-12 18:14] #936 closed

[2018-03-12 19:00] natemcmaster commented on #833
So, I looked at this myself. To disable invariant mode, a users needs to add this to their dockerfile.
[code]
`icu-libs` adds 30.4 MB to the image.

[2018-03-12 20:00] muratg commented on #470
Done with Release/Master.

[2018-03-12 20:00] #470 closed

[2018-03-12 22:41] ryanbrandenburg commented on #929
UniverseCoherence now generates baselines inside the modules `bin/Release/TFM/`. I'll make them artifacts so they're preserved for future processes to use.

[2018-03-12 23:15] #951 closed

[2018-03-13 17:56] #856 closed

[2018-03-13 18:39] #929 closed, assigned to ryanbrandenburg

[2018-03-13 18:41] ryanbrandenburg commented on #577
This work is "done" but we haven't seen a run of it in Maestro because ProdCon builds have not gotten to us in a while. We won't be able to learn more on this until they are flowing again, so it's blocked.

[2018-03-13 18:47] ryanbrandenburg commented on #524
So, just to be clear here, we need to create baselines based on our latest 2.0.X release, and commit them to dev, correct?

[2018-03-13 18:49] Eilon commented on #524
Yes

[2018-03-13 18:49] Eilon commented on #929
3-Done?

[2018-03-13 19:48] #595 closed

[2018-03-14 23:05] ryanbrandenburg commented on #524
[Here's](https://github.com/aspnet/Security/pull/1697/files) one of the PR's I created. The full list can be found [here](https://github.com/search?q=org%3Aaspnet+author%3Aryanbrandenburg+is%3Apr+is%3Aopen). I assume we can have @javiercn just spot-check these, then merge as they pass?

[2018-03-15 01:45] shirhatti commented on #885
@BrennanConroy, @muratg and I spoke offline.

The current plan is to deploy only a 64-bit runtime (in addition to the 32-bit SDK and runtime that we already deploy). We will not be deploying a 64-bit SDK.
Additionally, 64-bit support for out-of-proc apps is a non-goal.

The scenarios we want to verify are
- [ ] Publishing via kudu. (Build with 32-bit SDK and run against a 64-bit runtime)
  - [ ] T

[2018-03-15 07:21] davidfowl opened #962 "Put the universe commit sha in the Microsoft.AspNetCore.App metapackage"
I'd like to backtrack from a meta package version to the universe commit that produced it. It seems like that information only exists on the build server today and I'd like to stamp it into the package.

/cc @natemcmaster

[2018-03-15 19:50] davidebbo commented on #885
Did you mean *Ensure **out-of-process** 32-bit apps will still work*? Since that's all we have today.

[2018-03-15 19:51] jkotalik commented on #885
Also we should ensure that inproc works with both 32 and 64 bit (that it at least starts).

[2018-03-16 00:05] JunTaoLuo opened #967 "Versioning policy for references to .App/.All metapackage"
Need to decide/implement:

1) Do we update the version number of the .App/.All metapackage reference in templates at 2.1.0? The patch roll forward behaviour of the host should mean that we do not need to update the version of the package reference.
  a) How does standalone publish work in this case?
2) What do we need to do to ensure that VS does not offer package upgrades for .App/.All and keeps

[2018-03-16 02:55] natemcmaster commented on #753
@pakrym how would metaverse be any different? You still need to build the Universe targets and settings along with the matching submodule code to ensure they align.

[2018-03-16 02:58] pakrym commented on #753
But you would never push to Metaverse manually because there would be only submodules there. So it would never be updated from under the automation process.

[2018-03-16 03:02] natemcmaster commented on #753
So, how would you synchronize commits to the "artifacts.props" list and the corresponding update to the submodule?

Also, I'm not really concerned about the fact that the Update Repos step fails because users pushed to Universe. The UpdateRepos configuration basically runs in a loop, and it's eventually consistent. It's job is to ensure Main build stays green --- and it has been doing a pretty goo

[2018-03-16 03:07] pakrym commented on #753
You just push everything at the same time, it would get picked up and built together.

I agree that is not a huge deal that it fails, and it's eventually consistent but commits from 1pm didn't get published even now - 7 hours later, it's not how build system should work.

[2018-03-16 03:10] pakrym commented on #753
It's better than manually pushing submodules, because that is very error prone.

[2018-03-16 16:23] ryanbrandenburg opened #968 "Change Maestro-bot trigger to what CoreFxLab uses."
Currently our Maestro-bot config triggers off a successful ProdCon build, but those can take a long time to get, and at that point we've already reacted to any important changes. Let's figure out what CoreFxLab is doing to get Maestro to run early and do something similar.

CC @pranavkm @pakrym

[2018-03-16 16:30] pranavkm commented on #968
@davidfowl this should possibly address the delay we have in uptake of partner packages.

[2018-03-16 16:46] natemcmaster commented on #968
haven't looked closely. Is there a way to trigger only if we have an update to core-setup that is coherent with corefx packages?

[2018-03-16 21:41] JunTaoLuo opened #971 "Update installer platforms for 2.0 patch"
For the installers we produce in the next patch:

Remove ubuntu.17.04
Add ubuntu.17.10
Add ubuntu.18.04

We don't have any platform specific dependencies in these installers and we just rename our 16.04 installers to match the expected filenames.

[2018-03-16 21:47] JunTaoLuo commented on #971
cc @muratg

[2018-03-16 23:43] #971 closed

[2018-03-16 23:55] natemcmaster commented on #833
Nightly builds for Alpine should be available on Docker Hub soon. https://github.com/aspnet/aspnet-docker/pull/390

Closing as remaining work listed in item description was punted to 2.2.0. Using aspnet/libuv-package#23 to track that.

[2018-03-16 23:55] #833 closed

[2018-03-20 18:46] ryanbrandenburg opened #976 "ApiCheck should check public internal changes in patch branches"
All of our patch branches should default [this](https://github.com/aspnet/BuildTools/blob/e1c2a4b79748d853196318c6e2e52151846070bd/src/Internal.AspNetCore.Sdk/build/ApiCheck.props#L20) property to false.

[2018-03-20 19:22] JunTaoLuo commented on #629
I forgot there was already an issue tracking this work and opened a separate issue at https://github.com/aspnet/Universe/issues/971. Closing this as it is already done.

[2018-03-20 19:22] #629 closed

[2018-03-20 23:30] muratg commented on #885
@BrennanConroy @shirhatti This is done?

[2018-03-20 23:52] natemcmaster commented on #976
Note to implementer: try to implement this in one place as possible.

[2018-03-20 23:53] ryanbrandenburg opened #978 "ApiCheck Generate should never Exclude Public internals"
We can run the check with ignore exclude public internals, but we should always generate things with the entire API.

[2018-03-21 00:32] natemcmaster commented on #916
@JamesNK should I wait for 11.0.2?

[2018-03-21 16:15] natemcmaster commented on #762
How to do this:

1. In Microsoft.AspNetCore.App and .All, add a file into the package at <root>/runtime.json. Contents:
[code]
2. Create two new packages, runtime.win.Microsoft.AspNetCore.App and  runtime.win.Microsoft.AspNetCore.All, and add to these packages dependencies which should only apply to a standalone deployment on windows.
[code]

Testing:
 - in a normal restore (no runtime identifiers

[2018-03-21 22:33] ryanbrandenburg commented on #524
Those PR's that remain are awaiting review by either the area "owner" or @Eilon.

[2018-03-22 06:08] DamianEdwards commented on #921
We didn't talk about this one today either.

[2018-03-22 06:14] BrennanConroy commented on #885
InProc worked well on x64 and x86, and out-of-process 32 bit apps still work

[2018-03-22 17:00] muratg commented on #885
@shirhatti Anything else you'd like verified? Or good to close?

[2018-03-22 17:05] muratg commented on #921
Do we need another design meeting?

[2018-03-22 17:07] shirhatti commented on #885
Good to close 😄

[2018-03-22 17:07] #885 closed

[2018-03-22 18:20] DamianEdwards commented on #921
Might not hurt

[2018-03-22 22:00] ryanbrandenburg commented on #968
So @natemcmaster, it's not enought to just change our triggers to:
[code]
because we don't know if that's coherent with Core-Setup right?

[2018-03-22 22:06] ryanbrandenburg commented on #968
If I understand our requirements properly we can just trigger on
[code]

[2018-03-22 22:09] pakrym commented on #968
But we need a way to figure out the way to get corefx version from core-setup version.

[2018-03-22 22:35] natemcmaster commented on #968
@weshaggard - how hard would it be to add another file to https://github.com/dotnet/versions/blob/master/build-info/dotnet/core-setup/master/ that lists the dependencies core-setup used? We're having trouble automating picking a set of corefx + core-setup packages that align.

[2018-03-22 23:01] weshaggard commented on #968
I suspect it will be a decent amount of work. As part of prodcon v2 this data will start to get plumbed in a better way.

Unfortunately there isn't any straight forward way to figure this out today. The best way to string it together today is to figure out the sha for the core-setup build by looking at the version in Microsoft.NETCore.App package and then look at the dependencies.props file (https

[2018-03-23 19:26] pakrym commented on #968
The easiest way is to download microsoft.netcore.app package of the core-setup version and look at its platform dependency, that would be corefx version we need.

[2018-03-23 20:30] weshaggard commented on #968
That would work for new releases but not for servicing releases as we don't always ship a new platforms package as we only build the packages that have serviced changes in them.

[2018-03-23 20:51] #762 closed

[2018-03-23 21:53] pakrym opened #991 "Add Update repos build configuration for 2.1 branch"
/cc @ryanbrandenburg @natemcmaster @pranavkm

[2018-03-23 22:09] ryanbrandenburg commented on #968
@weshaggard what do you mean by "looking at the version in Microsoft.NETCore.App package"? Is there an example somewhere of someone doing this?

[2018-03-24 20:23] JamesNK commented on #916
11.0.2 is out - https://github.com/JamesNK/Newtonsoft.Json/releases/tag/11.0.2

It undos one change in 11.0.1 that was causing backwards compat issues, two regressions, and fixes some random bugs. No new version planned for at least 6 months unless an urgent bug pops up.

[2018-03-25 05:47] Eilon opened #993 "Update aspnetcore runtime to Newtonsoft.Json 11.0.2"
See https://github.com/aspnet/Universe/issues/916#issuecomment-375922221

[2018-03-25 05:47] Eilon commented on #916
Thanks @JamesNK ! I logged https://github.com/aspnet/Universe/issues/993 to track that update.

[2018-03-26 06:55] #993 closed

[2018-03-26 16:35] ryanbrandenburg commented on #968
Costing this as medium since we still don't know what strategy will work and be accurate.

[2018-03-26 18:24] weshaggard commented on #968
There is a version text file in the root of Microsoft.NETCore.App package which has the sha for core-setup which is what I was referring to.

Actually having a quick look that text file also contains the sha for the corefx version, example:
[code]

So that last sha would be the sha to pull the corefx package list from the dotnet/versions repo.

[2018-03-26 19:07] ryanbrandenburg commented on #968
Ah cool, I ended up finding that file in the mean time but it's good to confirm that I'm on the right track.

[2018-03-27 15:44] natemcmaster opened #1000 "Use an aka.ms for readme download links instead of "aspnetcore-runtime-latest.tar.gz""
We upload duplicate copies of binaries to make the download section of the README work. We should use aka.ms links instead

[2018-03-27 18:04] ryanbrandenburg commented on #577
We successfully ran this script and merged the PR it created.

[2018-03-27 18:04] #577 closed

[2018-03-27 18:46] ryanbrandenburg commented on #968
It would be ideal if we could add dotnet-ci builds to Universe PR's so we could test these PR's before merging.

[2018-03-27 21:30] ahsonkhan commented on #968
**Question:** Why is it important to only get updates when coherent packages are available? Wouldn't waiting for coherent packages be counter to the objective here (of quicker package updates)?

[2018-03-27 21:32] ahsonkhan commented on #968
It looks like the last coherent sdk build is fairly old: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/latest.coherent.version - 2.1.0-preview1-007063

[2018-03-27 21:36] natemcmaster commented on #968
The way SDK does publish trimming requires we use corefx packages such as System.IO.Pipelines that aligns with Microsoft.NETCore.App. If we don't, we end up hoisting libraries out of the Microsoft.NETCore.App shared framework.

FYI - most recent coherent build is 2.1.300-preview2-008396 (see here: https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1) I don't thi

[2018-03-27 22:39] joshfree commented on #968
Is this actually a blocker for basic CI validation / consuming of corefx/coreclr builds? Could we prioritize consuming relatively-recent corefx builds (to consume Preview2 breaking changes) over coherent builds, at least for the short term?

/cc @davidfowl @KrzysztofCwalina

[2018-03-27 22:43] natemcmaster commented on #968
To be clear, what we need is a coherent build of corefx + core-setup, not the entire CLI. This has not typically been the blocker as we tend to get those builds out at a rapid pace (unlike the CLI). The thing we're trying to automate is picking coherent corefx + core-setup

[2018-03-28 02:20] pakrym commented on #991
/cc @muratg @Eilon can we please triage this? It's important devs can work with latest builds of corefx considering we are closing on preview2

[2018-03-28 05:15] Eilon commented on #991
Yeah sure. @ryanbrandenburg / @natemcmaster / @pranavkm - can you guys fight over who can do this the fastest?

[2018-03-28 17:26] natemcmaster commented on #991
I'll just run the update script from my box. IMO no need to make a CI config to run this since we should be locking in 2 days, right?

[2018-03-28 17:40] JunTaoLuo commented on #967
The work that remains in this item and https://github.com/aspnet/Universe/issues/921 are now highly related. I'll post an update to our plans for these features but it looks like we should push this out to rc. cc @muratg

[2018-03-28 18:11] natemcmaster commented on #991
Script passed successfully. All repos should be on 2.1.0-preview2-30478 now.

[2018-03-28 19:36] #524 closed

[2018-03-28 19:45] muratg commented on #967
@JunTaoLuo Do we need more decisions from @DamianEdwards on this one?

[2018-03-28 20:46] natemcmaster commented on #933
Putting this into preview2 so we can get feedback ASAP now that SQLitePCLRaw 1.1.10 is available.

[2018-03-28 22:25] #933 closed

[2018-03-28 22:25] natemcmaster commented on #933
Done in #1010

[2018-03-28 23:21] JunTaoLuo commented on #967
No we need to just try out the current proposal now and see if it works well.

[2018-03-29 22:13] mmitche opened #1013 "Specify ManifestBranch in PushToBlobFeed steps"
Specify the ManifestBranch (e.g. release/2.1) when running the PushToBlobFeed, so that the output manifest has the right info for maestro uptake into CLI.

[2018-03-29 22:15] mkArtakMSFT commented on #968
Moved this out to `rc1` milestone as this doesn't really block the CC.

[2018-03-29 22:41] natemcmaster opened #1014 "MSBuild on macOS is running out of memory"
Something in the way we are using MSBuild, some recent change to our projects or targets, or some recent change to .NET Core 2.1 is causing MSBuild to die with out-of-memory failures. It's consistently reproducing on our CI machines.

[2018-03-29 22:41] natemcmaster commented on #1014
Captured sample before the crash:
[dotnet-sample.txt](https://github.com/aspnet/Universe/files/1862165/dotnet-sample.txt)

[2018-03-29 22:58] joshfree commented on #968
@natemcmaster what is the most recent build of corefx+core-setup ASP.NET has consumed?  You mentioned earlier that you're using ProdCon builds - that scares me - as it implies you're master branch is consuming the /release/2.1 branches below you (i.e., ASP.NET Preview2 is building and testing against CoreFX Preview1).  Is that the actual case?  There's quite a lot of changes between Preview1 and P

[2018-03-29 23:06] natemcmaster commented on #968
All depends on the context. There are 4 possiblities:

**dev - prodcon**
We haven't been trigger on master in a long time...so not sure

**dev - non-prodcon**
https://github.com/aspnet/Universe/blob/dev/build/dependencies.props#L8
https://github.com/aspnet/Universe/blob/4b6fb44ecd65e2e353a147807915e63751129032/build/dependencies.props#L8

**release/2.1 - prodcon**
Prodcon builds, our release/2.1 b

[2018-03-29 23:12] natemcmaster commented on #1014
[dotnet-sample2.txt](https://github.com/aspnet/Universe/files/1862217/dotnet-sample2.txt)

[2018-03-29 23:13] joshfree commented on #968
corefx:master is branded as 2.1-preview3 while release/2.1 is branded 2.1-preview2.  If you don't have any feeds using 2.1.0-preview3-263* then you're testing on really old bits 😦

https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App

[2018-03-29 23:17] natemcmaster commented on #968
Ok, but just to be clear, for preview2, we're okay, right? At the moment, we've been focused on stabilizing the release/2.1 branch against corefx-setup preview2 bits.

[2018-03-29 23:42] Petermarcu commented on #968
Sounds like part of the challenge here is that corefx publishes some packages and core-setup produces others. We could consider things like not publishing the packages as part of the corefx build and only as part of core-setup.

[2018-03-29 23:44] Petermarcu commented on #968
I think the other thing to note is that corefx master is going into rel at the end of the week. Ideally, ASP.NET would have been picking up and validating whats in master this whole time because those bits are going to flow into preview2.

[2018-03-29 23:45] Petermarcu commented on #968
I think there will be about a 2 week delta with a large amount of bug fixes and some features that will all come in at once.

[2018-03-29 23:50] weshaggard commented on #968
As part of prodcon that is happening because we only publish once a full product build is complete. That is currently only happening in release/2.1 branch though.

[2018-03-30 02:08] joshfree commented on #968
It's 6 weeks of changes according to the 2.1-preview1 tag date.  This is going to be a significant amount of work ASP.NET will ingest all at once.

/cc @Eilon @muratg

[2018-03-30 02:29] Petermarcu commented on #968
We pushed everything down from master on about 3/16. This weekend should be the 2 week mop up.

[2018-03-30 17:33] Eilon commented on #884
We should keep this NUSPEC but change the package name and metadata to be clear it is super duper internal and not for public consumption:
* https://github.com/aspnet/IISIntegration/blob/dev/nuget/AspNetCore.nuspec

We'll delete this package anyway:
* https://github.com/aspnet/AspNetCoreModule/blob/dev/nuget/AspNetCore.nuspec

[2018-03-30 23:04] natemcmaster commented on #1014
Status update: I have not been able to figure out what is going wrong yet. Could be something in MSBuild's nodeReuse refactoring, a bug in the JIT, or something else. I have a memory dump but know way to inspect what's in it. I'm currently considering other options. If we did #922, we wouldn't need the expensive analysis in AnalyzeBuildGraph task (which is currently the source of this issue). Unle

[2018-04-01 18:46] kasper3 commented on #554
[`Microsoft.Data.SQLite 2.1.0-preview1-final`](https://www.nuget.org/packages/Microsoft.Data.SQLite/2.1.0-preview1-final) depends on ` SQLitePCLRaw.bundle_green (>= 1.1.8)`.

[2018-04-02 19:27] natemcmaster commented on #686
I know there was some resistance to the idea because a few people like having a central list for all things, but trying to keep aspnet/Universe's 49 submodules and the build/artifacts.props list in sync has been a cause of more headaches and build breaks than I think it's worth.

@Eilon @muratg - can we do this for rc1 instead of waiting for MQ? This issue is a continual source of pain.

cc @pakry

[2018-04-02 20:39] natemcmaster opened #1027 "Ship dotnet-aspnet-codegenerator once signing issue with CLI shim is resolved"
This was pulled from preview2 because the executable generated on install is not signed.

Changes required:
 - Revert https://github.com/aspnet/Universe/pull/1022
 - We may need to bundle and sign our own executable shim in the dotnet-aspnet-codegenerator package. Still waiting on a design from @wli3 et. al.

FYI @muratg @prafullbhosale @Eilon - tentatively putting this issue in the rc1 milestone

[2018-04-02 20:45] anurse commented on #686
I definitely wasted like... 20mins of my time managing this. If we want a master list, have Universe generate it and spit it out at the end rather than requiring it be consumed.

![https://media3.giphy.com/media/aZ4sQUpybai5y/giphy.gif](https://media3.giphy.com/media/aZ4sQUpybai5y/giphy.gif)

[2018-04-02 21:35] muratg commented on #686
@anurse I was thinking the same. We can get the same benefit in other ways.

[2018-04-02 21:42] Eilon commented on #686
Sure thing.

[2018-04-02 21:42] Eilon commented on #1027
Makes sense, thanks.

[2018-04-02 22:38] natemcmaster commented on #1014
Turns out it's a lot of work to setup a machine to debug a macOS dump. https://github.com/dotnet/coreclr/issues/12301 you have to recompile libcoreclr yourself. The memory dump I have was gathered using a different libcoreclr, so the dump I have is useless unless we run MSBuild on a custom private of coreclr.

Let's just workaround this by hard-coding for now (#1028) and readdress this when we get

[2018-04-02 23:53] Eilon commented on #554
@muratg - can you get an engineer lined up for this? Per @DamianEdwards , this is needed for 2.1.0.

[2018-04-03 23:34] Eilon commented on #1014
No plans to continue the investigation here. Will evaluate https://github.com/aspnet/Universe/issues/922 instead.

[2018-04-03 23:34] #1014 closed

[2018-04-05 00:01] pranavkm opened #1034 "release/2.0 is missing MusicStore"
Looks like we just missed adding MusicStore as a submodule. We should add it.

[2018-04-06 17:54] JunTaoLuo opened #1040 "Rename delta runtime stores to avoid filename collision"
aspnetcore-store-[2.0-VER]-[rid].[ext] => aspnetcore-store-[2.0-VER]-[rid].patch.[ext] so that we don't have filename conflicts between delta and cumulative stores

[2018-04-09 22:43] Eilon commented on #1027
Blocked until the tool can ship its own shim, which we would be able to sign.

[2018-04-09 22:52] Eilon commented on #967
@JunTaoLuo - where is the current proposal located?

[2018-04-09 22:55] Eilon commented on #884
Everything that needs to be done for shipping packages is done.

[2018-04-09 22:55] #884 closed

[2018-04-09 23:42] natemcmaster commented on #554
Our first arm32 builds is available here: https://dotnetcli.blob.core.windows.net/dotnet/aspnetcore/Runtime/2.1.0-preview3-32175/aspnetcore-runtime-2.1.0-preview3-32175-linux-arm.tar.gz. It's not crossgen-ed, but should contain all the native and managed binaries necessary to run basic Microsoft.AspNetCore.App apps.

I'm unable to verify that it actually works on arm32 by just using a macbook due

[2018-04-09 23:43] ryanbrandenburg commented on #991
I created this config for 2.1.0 releases after preview2. We haven't run it since we don't want to make commits for release/2.1 right now, but it's just a copy of the existing one so I think we're good.

[2018-04-09 23:43] #991 closed

[2018-04-10 03:53] muratg commented on #554
@natemcmaster that's awesome!  @anurse has a tower I think.

[2018-04-10 16:46] pakrym commented on #968
We need to start taking new corefx/core-setup build, there are quite a bit of changes happening related to Memory/Pipelines that may regress perf

[2018-04-10 18:53] natemcmaster opened #1049 "SourceLink appears to be broken"
We're getting reports that our .pdbs aren't source linked correctly.
[code]

We should:

1. investigate the cause of these errors. Why didn't source link work? Why was the deterministic source root not set? All of this _should_ be configured here: https://github.com/aspnet/BuildTools/blob/a3c0d9aa5e9fa481608b2310295eb7dcf362b7c1/src/Internal.AspNetCore.Sdk/build/Git.targets
2. Figure out why our b

[2018-04-11 05:16] Lukino2000 opened #1053 "ASP.NET Core Shared Framework release link incorrect"
Hi,

in readme.md you point to ASP.NET Core Shared Framework

v 2.1.0-preview2-final

but link  still points to

v 2.1.0-preview2-30563

can you please replace the link with the correct one, in this way we can use dotnet run without error

[2018-04-11 20:04] #1053 closed

[2018-04-11 22:42] pakrym opened #1056 "Run Universe build as part of PR verification builds"
For every PR opened on individual repo run a Universe build that includes changes from aforementioned pull request.

Would allow us to find artifact.props/external-dependencies.props/cross repo breaking changes before they hit aspnetci and block `Update Universe`.

Possible addition: For branches that start with `feature/` also try to check out other submodules to the same feature branch.

[2018-04-12 15:22] natemcmaster opened #1061 "Crossgen the linux-arm shared runtime"
Currently, the linux-arm shared runtime is not preoptimized via crossgen. This was not added in the first round because

- we currently lack the infrastructure to run crossgen via CI
- did not have time to validate a crossgen version works correctly
- the value of crossgen perf for linux-arm as not clear (we have a hunch, but did not do any perf tests)

[2018-04-12 15:26] natemcmaster commented on #554
I verified the linux-arm runtime works on a Raspberry Pi 2. There appear to be coreclr issues with QEMU + Docker, so the only way to verify the runtime is on true arm32 hardware.

Closing for now, however, there is some followup work we should consider doing soone. See

- https://github.com/aspnet/Universe/issues/1061
- https://github.com/dotnet/dotnet-docker/issues/480

[2018-04-12 15:26] #554 closed

[2018-04-12 17:00] pranavkm commented on #1013
Fixed in https://github.com/aspnet/Universe/commit/18a15435e943a63fda26c2f7c6b51374f63ecbcc

[2018-04-12 17:00] #1013 closed

[2018-04-12 19:42] ryanbrandenburg commented on #968
dotnet/versions#278 will accomplish this. @dagood pointed out [here](https://github.com/dotnet/versions/pull/278#discussion_r178183270) that we can't do this for release branches because it doesn't publish anything until the end (when our existing script should pick it up anyway), but we can still add it for dev/master.

[2018-04-13 16:18] natemcmaster commented on #1027
We have an initial design for this now. It looks like we are unblocked on this now and should probably assign someone to work on this soon.

[2018-04-13 16:25] natemcmaster commented on #1027
Part of the details are still internal. I'll add you to the email thread.

[2018-04-13 16:27] pakrym opened #1063 "UpdateDependenciesCoreFx.ps1 script doesn't work"
[code]

[2018-04-13 19:56] #1049 closed

[2018-04-13 20:29] ryanbrandenburg commented on #1049
@natemcmaster had some time while I was working on aspnet/Universe#968 and took care of it. Thanks!

[2018-04-13 21:28] ryanbrandenburg commented on #1063
Fixed by #1062.

[2018-04-13 21:28] #1063 closed

[2018-04-13 21:36] Eilon commented on #1061
@DamianEdwards - we're putting this in the 2.2.0 release because we don't feel it's critical for 2.1.0 RTM. It's "just" an optimization and it is a huge cost to get crossgen working in the short time remaining.

[2018-04-13 21:42] Eilon commented on #1056
The "Possible addition" sounds like a great idea.

[2018-04-13 21:48] Eilon opened #1071 "Run Universe external dependency check on every PR in each repo"

[2018-04-14 03:26] JunTaoLuo commented on #967
The current design is to remove the version but retain the reference to Microsoft.AspNetCore.App inside the project templates. In the web sdk, we will implicitly set the version to the major/minor based on the tfm. Roll forward will be used to run on the latest installed framework and a separate mechanism will be introduced for self contained apps.

We are also exploring adding an implicit referen

[2018-04-14 03:26] JunTaoLuo commented on #921
Tracking work in https://github.com/aspnet/Universe/issues/967

[2018-04-16 21:20] pakrym opened #1073 "Consider using dotnet-bot for opening release/2.* merge PRs"
It knows how to do it, let's use the feature.
Would be cool if it can also assign everyone involved (everyone who has PR unmerged).

The huge advantage is that it would make things visible and harder to forget to merge.

Example: https://github.com/dotnet/sdk/pull/2137

/cc @mkArtakMSFT @natemcmaster  @ryanbrandenburg

[2018-04-17 08:45] muratg commented on #921
@JunTaoLuo This one's dev branch only, right?

[2018-04-17 08:46] muratg commented on #967
@JunTaoLuo I think this will require a shiproom mail as well.

[2018-04-17 17:44] JunTaoLuo commented on #967
Updated POR:

We will be removing the explicit version number of the Microsoft.AspNetCore.App package reference from the templates and inject an implicit version via the Microsoft.NET.Web.Sdk. We will also be marking the package reference with IsImplicitlyDefined="true" to prevent the NuGet package manager from offering updates in VS. The implicit version number will be determined based on the TFM

[2018-04-17 19:39] JunTaoLuo commented on #921
Right, this will be post 2.1.

[2018-04-17 21:16] ryanbrandenburg commented on #1073
This is super useful for any time our workflow includes merging a release branch back into dev. The script we use to branch insists (rightly so) on release/2.1 not having any commits that dev doesn't. If we use this method then the person who made the commit, who already has context on this change, will do the merge before it becomes an issue rather than me, with no context, trying to throw it in

[2018-04-17 23:10] muratg commented on #1027
Hi @seancpeters, I was told you're the new scaffolding owner!  Could you please take a look into this?

You'll need to send a shiproom approval this week. Next week will be escrow.

cc @vijayrkn

[2018-04-17 23:26] muratg commented on #1034
We won't be doing this.  2.1 and 1.x builds have MusicStore.

@Eilon FYI

[2018-04-17 23:26] #1034 closed

[2018-04-17 23:28] muratg commented on #1000
We have a bunch of other files in the same category.

This would be nice, especially during verification times.

[2018-04-17 23:32] muratg commented on #838
@smitpatel Looks like EF is clean now. Closing this one.

[2018-04-17 23:32] #838 closed

[2018-04-17 23:35] muratg commented on #795
There's an [uber-issue](https://github.com/aspnet/Universe/issues/512) tracking more Universe improvements.  Closing this one.

[2018-04-17 23:35] #795 closed

[2018-04-17 23:41] muratg commented on #788
We don't expect this to be a big blocker so closing this.

If at any poing this changes, let's reopen.

[2018-04-17 23:41] #788 closed

[2018-04-17 23:43] muratg commented on #782
cc @sebastienros thoughts on this?

[2018-04-17 23:44] sebastienros commented on #782
I assume @NTaylorMullen is talking about BenchmarksDotNet

[2018-04-17 23:45] sebastienros commented on #782
I would suggest to try our own Benchmarks infra which gives you PerfView traces OOB

[2018-04-17 23:48] pakrym commented on #782
Yes, this one is for microbencmarks using BDN

[2018-04-18 08:57] muratg commented on #782
@sebastienros how hard would it be to add a switch or a gesture to "enable" BDN?

[2018-04-18 20:14] natemcmaster opened #1082 "[2.0.x] revert exclusion of additionalDeps next time we update sharedfx dependency"
Revert https://github.com/aspnet/Universe/pull/1081 next time we update our dependency version of Microsoft.NETCore.App

[2018-04-18 23:46] ajaybhargavb opened #1083 "Missing pdb inside the symbols.nupkg package"
The following are the packages that we currently ship but their corresponding symbols.nupkg does not contain all the necessary pdbs

- [x] Microsoft.Extensions.FileProviders.Embedded (PR: https://github.com/aspnet/FileSystem/pull/321)
- [x] Microsoft.VisualStudio.Web.CodeGeneration.Design (PR: https://github.com/aspnet/Scaffolding/pull/759)
- [x] Microsoft.AspNetCore.Mvc.Analyzers (PR: https://git

[2018-04-19 16:15] pakrym opened #1085 "Remove Testing repo move single project it contains to Common"
Testing repo only contains `Microsoft.AspNetCore.Testing` that can easily be moved to common and repository count reduced.

/cc @pranavkm @natemcmaster

[2018-04-19 16:25] pranavkm commented on #1085
Yes please. It's pertinent to note that we don't ship anything from the Testing repo. Consequently no customer facing issue is referenced or tracked by it.

[2018-04-19 18:38] muratg commented on #967
@JunTaoLuo This is approved for checkin to RC1.

[2018-04-19 23:41] natemcmaster opened #1090 "Maestro-bot updater script failed to update release/2.1"
https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1609398&_a=summary
[code]
cc @ryanbrandenburg

[2018-04-20 16:49] muratg commented on #967
Reminder: ask mode ends today.

[2018-04-20 16:49] muratg commented on #1027
Reminder: ask mode ends today.

[2018-04-20 17:42] prafullbhosale commented on #1027
Fixed by: https://github.com/aspnet/Scaffolding/pull/7

[2018-04-20 17:43] vijayrkn commented on #1027
@prafullbhosale wrong link?

[2018-04-20 17:43] prafullbhosale commented on #1027
Updated.

[2018-04-20 17:52] natemcmaster commented on #1027
Can you send a PR to Universe then to revert https://github.com/aspnet/Universe/commit/fbdb3c558f04a056732a87a2e1864786603ac201 on the release/2.1 branch?

[2018-04-20 17:57] prafullbhosale commented on #1027
Done.

[2018-04-20 18:54] JunTaoLuo commented on #967
Yes the only item left is the integration tests and bundled versions in CLI. I'll make sure this goes in today.

[2018-04-20 21:32] #1027 closed

[2018-04-20 21:51] #1040 closed

[2018-04-20 22:48] ryanbrandenburg commented on #1090
I sent a PR for this, self-assigning to track until we've confirmed that it works through Maestro.

[2018-04-20 23:08] natemcmaster opened #1098 "Update to IdentityModel latest 5.2.x"
We want to stay up to date with latest changes in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2018-04-20 23:45] #1083 closed

[2018-04-23 17:48] natemcmaster opened #1101 "Rename Alpine shared fx to "linux-musl""
React to changes made in core-setup to use "linux-musl" instead of "alpine3.6".

Need to ensure:
 - Packages such as SQLitePCLRaw still have their native binaries copied into the sharedfx we build
 - Rename symbols packages
 - Rename installer files
 - Update dotnet/dotnet-docker

[2018-04-23 20:25] pranavkm opened #1103 "Determine the right version of Roslyn to reference in analyzer packages"
I tried opening an application referencing `2.1.0-rc1-26420-08` in VS 15.6.6 and I get errors saying they could not load `Microsoft.CodeAnalysis`:

`Warning	CS8032	An instance of analyzer Microsoft.AspNetCore.Mvc.Analyzers.AvoidHtmlPartialAnalyzer cannot be created from \.nuget\packages\microsoft.aspnetcore.mvc.analyzers\2.1.0-rc1-30639\analyzers\dotnet\cs\Microsoft.AspNetCore.Mvc.Analyzers.dll: C

[2018-04-23 20:30] pranavkm commented on #1103
@jaredpar we currently reference MicrosoftCodeAnalysis 2.8.0-beta3 in our analyzers simply because it's the version used across our repos. Should we downgrade this to an earlier version of Roslyn that's already shipped?

[2018-04-23 21:27] natemcmaster commented on #1101
Part 1: https://github.com/aspnet/Universe/pull/1104 adds linux-musl-x64.

Part 2: TBD - drop `alpine.3.6-x64`. We can do this later.

[2018-04-23 23:42] jaredpar commented on #1103
If you need to open your solution in 15.6 then you need to be targeting the 2.7 version of Roslyn. The 2.8 versions will ship with 15.7.

[2018-04-24 00:34] pranavkm commented on #1103
Checked with @DamianEdwards and we require VS 15.7 for 2.1.0. Nothing to do here. Thanks for your response @jaredpar

[2018-04-24 00:34] #1103 closed

[2018-04-24 01:27] JunTaoLuo commented on #967
All PRs have been merged, I'll mark this as done but I'll keep an eye out for any issues.

[2018-04-24 01:27] #967 closed

[2018-04-24 01:48] muratg commented on #967
Thanks!

[2018-04-24 15:32] pakrym opened #1108 "Update to release versions of Microsoft.Azure.Services.AppAuthentication"
We need to update to stable version before RTM.

[2018-04-24 15:45] natemcmaster commented on #1090
New error.
[code]
Before switching to hub.exe, the way this worked is that dotnet-maestro-bot would push to its fork of Universe, https://github.com/dotnet-maestro-bot/Universe

[2018-04-24 17:04] DamianEdwards commented on #1108
Why is this in rc1?

[2018-04-24 17:06] pakrym commented on #1108
`Microsoft.Extensions.Configuration.AzureKeyVault` depends on it and ships in 2.1

[2018-04-24 17:43] ryanbrandenburg commented on #1090
Reacting with #1111.

[2018-04-24 18:08] pakrym opened #1112 "Add debug build/test run configuration to CI"
There is a separate logic in kestrel that does more assertions in DEBUG configuration and may catch product bugs.

It's also nice to validate that all projects at least build in debug configuration.

[2018-04-24 18:08] pakrym commented on #1112
/cc @natemcmaster  @ryanbrandenburg

[2018-04-24 18:32] DamianEdwards commented on #1108
Ok. Are we shipping that for RC1?

[2018-04-24 18:33] pakrym commented on #1108
Yes

[2018-04-24 18:53] pakrym commented on #1108
Talked to @DamianEdwards in person, we'll track it for RTM

[2018-04-24 23:59] JunTaoLuo opened #1116 "Upgrade-able native linux installers"
Following up on CoreFX work in https://github.com/dotnet/core-setup/pull/4020.

This will involve
1. renaming our installers
2. updating the dependencies in our installers
3. tests

[2018-04-25 05:42] DamianEdwards commented on #766
In-proc got moved out past 2.1.0

[2018-04-25 14:09] etherealjoy opened #1117 "aspnetcore Linux arm64 build on master"
The aspnetcore arm 32 build is working albeit with some issues, but where is the arm64 build.
The dotnet cli and core-setup already has the build for Linux arm64.
Could you please add a build for this so that we could try and give feedback.

[2018-04-25 18:00] natemcmaster opened #1120 "Upgrade to netcoreapp2.2"
Latest builds of the .NET Core runtime require us to update our TFM.

Things to investigate:

 - does VS tooling work with the new TFM yet?
 - does the SDK work on the new TFM?
 - is there anything that needs to stay on 2.1?
 - what does our test matrix look like now? We currently test netcoreapp2.0 and 2.1. Do we need to add a 3rd netcoreapp version to that?

[2018-04-26 16:15] natemcmaster commented on #1117
cc @DamianEdwards @Petermarcu - we added initial arm32 support in 2.1. What's the timeframe for arm64?

[2018-04-26 17:07] natemcmaster commented on #1117
Mostly yes*, as long as we don't start crossgen-ing the arm32 bits (#1061).

\* Exceptions - libuv and sqlite.

[2018-04-26 17:28] ryanbrandenburg commented on #1090
For sure we should change the name, but it shouldn't matter because it's on different forks, and [the PR was created](https://github.com/aspnet/Universe/pull/1122).

[2018-04-26 19:01] natemcmaster commented on #1090
I think VSTS isn't happy because git.exe is writing to stderr. Also, we should add a check for an existing PR and update that one instead of creating a new PR.
[code]

[2018-04-26 21:52] ryanbrandenburg commented on #1090
We pushed to the same branch that the maestrobot used last time, so we DID update the PR. Do we want to update the text of the message as well?

[2018-04-26 21:52] ryanbrandenburg commented on #1090
Let's double check that we're using Invoke-Block everywhere so Powershell doesn't make us miss failures now that we're ignoring StdErr.

[2018-04-26 21:55] ryanbrandenburg commented on #1090
We're good on Invoke-Blocks, so the only work item left here would be if we wanted to update PR text.

[2018-04-26 21:59] sdmaclea commented on #1117
The 2.1 linux-arm64 sdk is also missing, libe_sqlite3.so & libuv.so

A year ago the arm64 native libuv.so was included in the linux-x64 dotnet sdk (1.1).

[2018-04-26 22:03] sdmaclea commented on #1117
Clarification DOTNET_SDK_VERSION 2.1.300-rc1-008662
The 2.1 linux-arm32 & linux-arm64 sdk are also missing, libe_sqlite3.so & libuv.so

[2018-04-26 22:07] sdmaclea commented on #1117
Issue dotnet/cli#9156

[2018-04-26 22:25] sdmaclea commented on #1117
After building `dotnet new console` on `linux-x64`, the following exist.
[code]

Also
[code]

[2018-04-26 22:28] sdmaclea commented on #1117
The arm64 ones are reporting
[code]

So they look like they will work on linux-arm64

[2018-04-26 22:38] sdmaclea commented on #1061
FWIW crosscomponent crossgen has been added to the runtime packages.

for arm32 it is a x86_arm package, so this can currently be run on x86 to crossgen for arm32.  @echesakovMSFT was working on getting crossgen support for x64_arm as well.

x64_arm64 crosscomponent crossgen is included in the linux-arm64 runtime.  cli is using this to crossgen in the master branch (for 2.2).

[2018-04-27 18:09] mikeharder opened #1123 "RazorClassLib template offline restore fails"
# Repro Steps
1. `dotnet new razorclasslib --no-restore`
2. Add NuGet.config to clear package sources and simulate offline restore:
[code]
3. `dotnet restore`

# Error
[code]

CC: @muratg, @mkArtakMSFT, @pranavkm

[2018-04-27 18:11] pranavkm commented on #1112
Could we just do this on a case-by-case basis? I doubt most repos have significant configuration specific code paths.

[2018-04-27 18:34] natemcmaster commented on #1123
If this is a scenario that should be supported offline, it's new in 2.1. See https://github.com/aspnet/Universe/blob/dev/docs/FallbackPackageCache.md for list of scenarios we currently support.

[2018-04-27 18:55] kasper3 commented on #1117
@sdmaclea, could you get libuv.so from distro packages, this is what happens in alpine https://github.com/dotnet/dotnet-docker/blob/02ae576/2.1/aspnetcore-runtime/alpine3.7/amd64/Dockerfile#L5-L6.

From https://github.com/aspnet/libuv-build/pull/34

[2018-04-27 19:32] sdmaclea commented on #1117
libuv1 is available on stretch and bionic.  So that is feasible.

However there is no aspnetcore-runtime-$ASPNETCORE_VERSION-linux-arm64.tar.gz yet.

[2018-04-27 19:44] kasper3 commented on #1117
I think this kind of work is required to light up the aarch64 support: https://github.com/aspnet/Universe/pull/1037/files.

[2018-04-27 19:49] sdmaclea commented on #1117
#1037 agreed

I cannot write PRs for https://github.com/aspnet.  So someone else will have to do this piece.

[2018-04-27 22:19] natemcmaster opened #1124 "Reduce size of the nuget fallback folder"
The NuGet fallback folder for 2.1 is a whopping 1.01 GB once expanded on disk. This includes lots of packages that should be unnecessary to *execute* a .NET Core 2.1 application, but are still required to *restore* a .NET Core 2.1 application.

This includes:
 - multiple copies of the same package (Newtonsoft.Json 9, 10, and 11)
 - multiple versions of NETStandard.Library (1.6.0, 1.6.1, and 2.0.3)

[2018-04-27 23:08] JunTaoLuo commented on #1123
We do generate LZMAs with System.Numerics.Vectors and System.Security.Cryptography.Cng. However, since we generate the LZMA with the netcoreapp2.1 tfm, the latest versions (4.5.0-rc1-*) are what we include in the fallback archive. For class libraries that target netstandard2.0, such as our razor class libraries, the versions that are referenced via NETStandard.Library are the stable versions, in t

[2018-04-27 23:38] natemcmaster opened #1125 "Provide way to disable trimming against shared framework for source-build installations"
To address https://github.com/dotnet/source-build/issues/456, we want to make it easier to opt-out of the aspnet shared framework.

### Changes to make in our code

- [x] Make the override for MicrosoftNETPlatformLibrary in our .App and .All packages conditional on a property.
- [x] Set this property in source-build installations of the SDK

### Implications
* Default templates will build and run

[2018-04-27 23:44] natemcmaster opened #1126 "Prepare bundled global tools to also ship to nuget.org"
To address dotnet/source-build#456, we want to make it easier for users on a source-build installation to acquire and use tools that are otherwise bundled in the SDK. This includes

* ef
* watch
* user-secrets
* dev-certs
* sql-cache

## Changes required

- [x] Port the pre-generated shim work to all global-tool projects (we already did this once here: https://github.com/aspnet/Scaffolding/pull/75

[2018-04-30 18:43] natemcmaster commented on #706
This is still in 2.1.0. Should it be moved out to 2.2.0?

[2018-04-30 18:44] natemcmaster commented on #1116
This is still in 2.1.0. Is this required for release?

[2018-04-30 19:03] JunTaoLuo commented on #1116
Yes

[2018-04-30 19:27] JunTaoLuo commented on #706
I believe @mikeharder  is working on something that'll help with this. Yes this can be moved out.

[2018-04-30 21:59] ryanbrandenburg commented on #1090
Closing this since there's no reply. @natemcmaster if you had further comments feel free to re-open.

[2018-04-30 22:01] #1090 closed

[2018-04-30 22:13] natemcmaster commented on #1101
Done in https://github.com/aspnet/Universe/pull/1121

[2018-04-30 22:13] #1101 closed

[2018-04-30 22:30] pakrym opened #1129 "Make Microsoft.AspNetCore.AzureKeyVault.HostingStartup "ship" in 2.0"
Now that OOB package is released we can start patching it.

[2018-05-01 23:24] pranavkm opened #1133 "Stop building dev \ release branches on Project nodes"
We'll rely on dotnet-build to verify the quality of builds

[2018-05-02 19:25] natemcmaster commented on #1125
Done. Changes are in to both dotnet/CLI and aspnetcore.

https://github.com/aspnet/Universe/pull/1130
https://github.com/dotnet/cli/pull/9178

[2018-05-02 19:25] #1125 closed

[2018-05-02 20:03] natemcmaster commented on #1126
All changes for this are now in.

[2018-05-02 20:03] #1126 closed

[2018-05-04 00:17] #1085 closed

[2018-05-04 15:53] dougbu opened #1141 "Mark WebHooks packages as non-shipping"
Switch `build/artifacts.props` to mark these packages as `noship`.

See #801 and https://github.com/aspnet/Universe/pull/801/files#diff-3b8c17af466265008e01f6a7bb8fde76R166 in particular -- where these packages were originally added and marked to `ship`.

[2018-05-04 16:33] dougbu commented on #1141
Prefer not to include these packages in RC1. But, that part can hopefully be done manually. PR will target `release` and we have no current plan to respin a build for RC1.

Nothing else depends on the Microsoft.AspNetCore.WebHooks.* packages.

[2018-05-04 16:54] ryanbrandenburg opened #1145 "Make Update external dependencies scripts have correct commit author"
As seen [here](https://github.com/aspnet/Universe/pull/1144), currently commits show as coming from unknown because the `user.name` config isn't set. Let's update places where we commit to behave like [here](
https://github.com/aspnet/Universe/blob/66d3de5142943305461b7522cead3a38eb0b966b/scripts/UpdateBuildTools.ps1#L78-L88).

[2018-05-04 20:16] muratg commented on #1108
This is done.

[2018-05-04 20:16] #1108 closed

[2018-05-04 21:06] dougbu commented on #1141
- 86c3ec0069 in `release/2.1`
- c737728c05 to merge into `dev`

[2018-05-04 21:06] #1141 closed

[2018-05-05 00:01] JunTaoLuo opened #1147 "Include the Microsoft.AspNetCore.Mvc.Testing package in the LZMA"
Not a mainline scenario but we could consider adding this into the fallback archive.

[2018-05-07 20:20] ryanbrandenburg opened #1153 "Remove un-needed instances of MicrosoftNETCoreApp21PackageVersion etc"
When moving to netcoreapp2.2 we started out trying to remove any instances of `MicrosoftNETCoreApp21PackageVersion` and `MicrosoftNETCoreApp20PackageVersion` that weren't needed anymore, but doing the logic for that across 50 repos was bogging down the rest of the work, and they weren't hurting anything, so we stopped trying to enforce that.

This item tracks the work of going back and removing th

[2018-05-07 20:53] #1116 closed

[2018-05-09 04:53] #1145 closed

[2018-05-09 18:34] JunTaoLuo opened #1159 "Consider automating creating directory of artifacts for antares handoff 2.0"
Currently we manually construct the set of artifacts to hand off 2.0 artifacts to antares which consists of
aspnetcore-runtime-2.1.0-rc1-final-win-x86.zip
dotnet-host-2.1.0-rc1-antares-win-x86.zip
dotnet-hostfxr-2.1.0-rc1-antares-win-x86.zip
dotnet-runtime-2.1.0-rc1-antares-win-x86.zip
dotnet-sdk-2.1.300-rc1-008673-antares-win-x86.zip

This process is error prone and we often miss it and we should

[2018-05-09 20:16] muratg commented on #1159
Yes, we need this.

Putting this in 2.2.0-mq milestone to track the timeline. But I think we should do this for 2.0 and 2.1 as well.

[2018-05-09 23:17] #1129 closed

[2018-05-15 18:18] ryanbrandenburg commented on #1120
1. As far as I can tell.
2. As far as I can tell.
3. We aren't moving any product projects, but mostly all test projects moved to 2.2.
4. For every repo except EF our test matrix should now be "net461;netcoreapp22"

[2018-05-16 00:39] natemcmaster commented on #1120
I'm still seeing a fair amount of 'netcoreapp2.1' code. I see 243 usages in aspnet/Universe (dev). From what I can tell, many of these are things that still need to update...but I didn't look closely at all 243 instances.

[2018-05-16 17:45] JunTaoLuo commented on #706
@mikeharder I think this is mostly covered by the testing that you have been working on so I'll reassign this item to you for now.

[2018-05-16 21:41] ryanbrandenburg opened #1166 "Replace all escaped msbuild code with CDATA"
In some places we have xml string inside of PropertyGroups, currently we store that data as a normal escaped string (`&lt;MyPropertyGroup&gt;`). This is super hard to read, edit and understand. @natemcmaster recently discovered CDATA, which can show this data in a much more useful view:

https://github.com/aspnet/BuildTools/blob/3d2175ced2de3110d649c72703373cd76f98db92/test/KoreBuild.FunctionalTes

[2018-05-21 18:38] ryanbrandenburg commented on #1120
I believe I've addressed all this one.

[2018-05-21 18:38] #1120 closed

[2018-05-22 04:52] danroth27 opened #1170 "Update Web API Client version reference by Microsoft.AspNetCore.App to the latest version"
Current dependency is on 5.2.4.

Expected dependency is 5.2.6.

[2018-05-22 17:53] Tratcher commented on #512
https://github.com/aspnet/Coherence-Signed/issues/468

[2018-05-22 23:03] #962 closed

[2018-05-24 22:09] ryanbrandenburg commented on #1153
We can also move any benchmarks projects except those in EF and aspnet/Benchmarks to netcoreapp2.2 and remove any 2.0 or 2.1 stuff that frees up.

[2018-05-25 00:01] natemcmaster opened #1180 "Packages that share dependencies with Microsoft.AspNetCore.App cannot reference patch versions"
All NuGet packages (not just ours, but the entire world) which share a dependency with Microsoft.AspNetCore.App cannot not reference versions of those dependencies higher than the default implicit Microsoft.AspNetCore.App version without introducing a version conflict. *When a version conflict exists,* the following errors will often occur.
[code]

This makes updates in NuGet UI impossible, and up

[2018-05-25 01:01] natemcmaster commented on #1180
Current thinking on the baseline depenedency version approach:

### New dependency versioning rules

* Any package with `<dependency>` on a package inside the .App sharedfx MUST NOT reference anything other than 2.1.0
* No longer cascade dependencies updates

### Customer Impact

* All projects not referencing Microsoft.AspNetCore.App (e.g. .NET Framework, .NET Core console apps)
  * Users must ex

[2018-05-25 16:27] DamianEdwards commented on #1180
Revving assembly version is required for servicing, so that's a non-starter.

[2018-05-25 16:29] natemcmaster commented on #1180
Didn't know that. I thought we only had to rev _file_ version for servicing.

[2018-05-25 16:33] DamianEdwards commented on #1180
The runtime's loading policy on Core uses assembly versioning for tracking and substituting patched versions. On NetFx the same is used for tracking and the GAC is used for substitution, which uses assembly versioning.

[2018-05-25 16:40] natemcmaster commented on #1180
Oh right.

Seems like the only viable option is replacing all ProjectReferences with PackageReferences. This is unfortunate -- it introduces a bunch of pain for devs working on patches.

[2018-05-25 16:54] davidfowl commented on #1180
Repos aren't patch families anymore so each project needs to burn in the version.

[2018-05-25 17:56] natemcmaster commented on #1180
Just kicking around other ideas. I haven't fully tested, but I believe an approach using MSBuild targets to fake the behavior of a custom target framework may work.

Packages in the AspNetCore.App sharedfx (such as Microsoft.Extension.Options) look like this
[code]
[code]

[2018-05-25 18:04] natemcmaster commented on #1180
Failed to add this, but along with ⬆️ that suggestion, I mean to add -- we could lift the max version constraint on Microsoft.AspNetCore.App dependencies. It would require bumping the implicit version to 2.1.1 to make up for doing this wrong in 2.1.0, but it may worth some short-term pain for long-term gains.

[2018-05-25 20:45] natemcmaster commented on #1180
Ok, I played with this more. Here are my findings. To make the comparison easier, I'm going to describe solutions to the original problem and scenarios.

### Solutions

(details below)

Name | Description
----|-----
Do nothing | Sorry world.
Update implicit metapackage version | Update the Microsoft.AspNetCore.App version
Baseline dependencies | All packages should use the 2.1.0 version of any dep

[2018-05-26 00:04] natemcmaster commented on #1180
Discussed the tradeoffs in person. We think we're going to get the best results from option (E) - platform manifest.

Work items:

* Add a 2.1.0.0 reference assembly to all patching packages (or v1.0.0.0 in signalR's case)
* Adjust version constraints in Microsoft.AspNetCore.App to `[2.1.0, 2.2.0)`
* Update default implicit version of AspNetCore.App to 2.1.1
* Construct a platform manifest for all

[2018-05-29 20:35] natemcmaster commented on #935
I don't think it was sent in for approval. For the 2.1.1, we incidentally are patching Scaffolding packages as a result of its dependencies updating.

We may still need to do some work here to ensure VS can use the right package version. @seancpeters what is the best way that we can help you ensure VS uses the right version of Scaffolding packages in 2.1.x?

[2018-05-30 16:42] mkArtakMSFT commented on #935
@vijayrkn, will you be taking this to the shiproom for approval?

[2018-05-30 16:56] vijayrkn commented on #935
@mkArtakMSFT - sure.

[2018-05-30 21:29] natemcmaster commented on #1180
Backing off proposal (E) because we're not confident the platform manifest will give us the behavior we want. Also, we don't think we can get all the work done in time to verify this.

So, as proposed in https://github.com/aspnet/Universe/pull/1186, the only fix we think we can get in for 2.1.x is to Adjust version constraints in Microsoft.AspNetCore.App to `[2.1.1, 2.2.0)`. This removes the guard

[2018-05-31 16:11] mkArtakMSFT commented on #1170
@JunTaoLuo, is this done already? Should it be closed now?

[2018-05-31 16:28] natemcmaster commented on #1170
John is OOF. Yes, this was done in https://github.com/aspnet/Universe/pull/1176

[2018-05-31 16:28] #1170 closed

[2018-05-31 16:29] natemcmaster commented on #935
Moving this to 2.1.3 as we don't need to solve this in 2.1.1 or 2.1.2.

[2018-05-31 19:45] natemcmaster opened #1192 "Add guardrails to prevent users from upgrading out of the shared framework"
Follow-up to https://github.com/aspnet/Universe/issues/1180

Originally, we intended to use package version constraints as a guardrail to prevent users from hoisting out of the shared framework. This caused enough usability issues that we removed this guardrail in 2.1.1 in https://github.com/aspnet/Universe/pull/1186.

There are other ways we could implement the guardrails, such as abusing the pla

[2018-05-31 19:45] natemcmaster commented on #1180
For 2.1.1, let's solve the version constraint issue. https://github.com/aspnet/Universe/pull/1186. I've opened https://github.com/aspnet/Universe/issues/1192 to investigate more how we can re-add the guardrails to help users avoid hoisting out of the shared framework.

[2018-05-31 19:45] #1180 closed

[2018-06-12 18:13] natemcmaster commented on #1124
cc @DamianEdwards @JunTaoLuo @weshaggard - you're already aware of this issue, but figured we could use this to keep track of ongoing investigation on this issue.

[2018-06-12 19:41] natemcmaster commented on #1124
Related issues

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/925
https://github.com/dotnet/roslyn/issues/26299
https://github.com/NuGet/Home/issues/6516

[2018-06-14 19:30] natemcmaster commented on #935
Met yesterday. @vijayrkn, you're sending a request for shiproom approval, right?

[2018-06-14 22:00] vijayrkn commented on #935
ya, will do.

[2018-06-14 22:01] vijayrkn commented on #935
Do you need the approval for 2.1.2 or 2.1.3?

[2018-06-14 22:11] natemcmaster commented on #935
Yes. We would need approval for changes in either patch.

[2018-06-18 16:19] pranavkm opened #1214 "Shared runtime 2.2.0-preview1-26614-02 causes Roslyn compilation to fail on xplat sporadically"
See: https://ci3.dot.net/job/aspnet_Mvc/job/dev/job/osx-Configuration_Release_prtest/319/console, https://ci3.dot.net/job/aspnet_Mvc/job/dev/job/linux-Configuration_Release_prtest/323/console

The error stack trace:

[code]

We've usually seen these sort of errors on account due to errors in cross-gen \ JIT.

[2018-06-18 16:44] natemcmaster commented on #1214
Can we move this issue to corefx or roslyn?

[2018-06-18 17:04] pranavkm commented on #1214
Moved to https://github.com/dotnet/coreclr/issues/18525.

[2018-06-18 17:04] #1214 closed

[2018-06-19 19:47] mikeharder opened #1220 "Offline restore is broken in .NET Core SDK 2.1.301"
Offline restore is broken in .NET Core SDK 2.1.301.  The NuGetFallbackFolder contains Microsoft.NETCore.App 2.1.1 but *not* 2.1.0, so NuGet tries to load 2.1.0 from the internet, which fails because the machine is offline.  This is a regression from SDK 2.1.300, and should be fixed in SDK 2.1.302.

# Repro Steps
1. Clean machine
  A. Tested on Win10, but should repro on all platforms
2. Install .N

[2018-06-19 19:48] mikeharder commented on #1220
Fixed in https://github.com/aspnet/Universe/pull/1218

[2018-06-19 19:48] #1220 closed

[2018-06-20 17:17] ctaggart commented on #850
@ryanbrandenburg Is the prodcon feed something can be access externally/publicly?

[2018-06-20 17:38] ryanbrandenburg commented on #850
It is not. To my knowledge there has not been a decision on where/how/if to make symbols publicly available.

[2018-06-20 18:07] ctaggart commented on #850
Is there another issue for making the publicly available? If not, can you make one and link it here?

[2018-06-20 18:16] dagood commented on #850
The ProdCon feed is available for each build, for example this is the 2.1.1 build: https://github.com/dotnet/versions/blob/726018548f536bb1176c25792a6bf18f88b5d989/build-info/dotnet/product/cli/release/2.1/build.xml. That said, it's not easy to navigate these and ProdCon feeds aren't terribly useful as a symbol source.

When we release a build, symbols should be available on `https://msdl.microsof

[2018-06-20 21:19] JunTaoLuo opened #1223 "Ingest new version of Microsoft.DotNet.Archive"
We need to update this dependency so we can take the fix in https://github.com/dotnet/dotnet-cli-archiver/pull/13. Otherwise the generated LZMA will be incorrect.

[2018-06-22 20:55] simeyla commented on #1180
I'm never going to understand all this :-/

[2018-06-25 17:56] ajaybhargavb opened #1227 "macOS 10.14 scouting"
Since there is a preview version of macOS Mojave out, we want to make sure our repos can build and tests can run smoothly on it.

[2018-06-25 19:40] natemcmaster commented on #1180
@simeyla can you open a new issue with steps to reproduce this error?

[2018-06-25 19:56] DamianEdwards commented on #1180
@simeyla make sure you've installed the 2.1.1 (2.1.301) SDK, and removed the version attribute for your package reference to *Microsoft.AspNetCore.App*

[2018-06-25 20:03] simeyla commented on #1180
@natemcmaster I won't be able to gather all the information right now to create a proper issue, but here's a quick summary of what I did. These steps are from last night when I created a second new project and had the same issue.

As @DamianEdwards mentions I had 2.1.1 (2.1.301) SDK installed, but in addition I had to install the 2.1.1 runtime so as to see it listed under `dotnet --info`.

* Creat

[2018-06-25 21:07] ajaybhargavb commented on #1227
I built and ran Universe tests on a macOS 10.14 machine and the following tests fail consistently.

**ServerTests** - 8 tests
[code]

**HttpClientFactory** - 1 test
[code]

[2018-06-25 21:09] ajaybhargavb commented on #1227
@muratg, could someone with a bit more context on these repos take a look at these failures? I can file issues on the individual repos if necessary.

[2018-06-25 22:12] muratg commented on #1227
@ajaybhargavb Do you know if these pass on the previous version of the OS? (i.e. regression vs not?)

Are these the only issues, or are you still working on this?  I think we should regroup after the investigation is done.  Perhaps there's a class of errors that you'll uncover...

[2018-06-25 23:06] ajaybhargavb commented on #1227
I didn't run it myself but I checked our CI and these doesn't fail on our exisiting machines.

These were the only failing tests of the entire Universe run. I ran it thrice just to make sure.

[2018-06-25 23:15] muratg commented on #1227
Will you be able to share the repro machine?

cc @Tratcher could you take a look?  This is the new upcoming Mac OS, we want to make sure it doesn't break us when it's released.

[2018-06-25 23:16] ajaybhargavb commented on #1227
Yup. It's super easy to remote in to.

[2018-06-25 23:21] Tratcher commented on #1227
Sounds like NGinx just isn't installed. @BrennanConroy where are our mac agent setup instructions? Is NGinx on the list?

[2018-06-25 23:40] ajaybhargavb commented on #1227
I ran that script but the tests still fail. Do I need to restart the machine after?

[2018-06-26 00:07] BrennanConroy commented on #1227
You ran the script?! You only needed the nginx bits from it... restart is always a good idea

[2018-06-26 00:08] ajaybhargavb commented on #1227
Oops I meant I ran `brew install nginx`. And yes the restart fixed it. The tests pass now

[2018-06-26 00:37] muratg commented on #1227
Phew!  :relieved:  Thanks folks!

[2018-06-26 00:48] ajaybhargavb commented on #1227
Probably worth mentioning since I am not sure what causes this. When building Universe and it reaches the step where it builds the metapackages like `Microsoft.AspNetCore.App` there seems to be some funkiness going on with NuGet. By that I mean all the packages from the individual repos that are built are of a different version than what the metapackage tries to acquire. For example,
This is the v

[2018-06-26 00:50] natemcmaster commented on #1227
It's a bug in running universe locally. Try running `build.sh` with  `/p:BuildNumber=t000`

[2018-06-26 19:00] natemcmaster commented on #1180
@simeyla a repro project would be really helpful. All I need is the .csproj file so I can run restore and see what happens.

[2018-06-26 23:15] ajaybhargavb commented on #1227
I tried your suggestion and it went past that step but now it's saying the following,
[code]
and it goes on with the same error for all packages. Is this a known bug too?

[2018-06-27 17:04] natemcmaster commented on #1227
This can happen if you didn’t clean the artifacts/ folder before running build.sh

[2018-06-27 22:40] #1223 closed

[2018-06-29 00:19] JunTaoLuo opened #1235 "Pin LZMA shared framework versions for 2.2"
For every release where we still build the LZMA, we need to pin the version of the NETCore.App and AspNetCore.App we use when we generate the LZMA to the implicit versions set by the SDKs. By default, in every non-rtm build we set this to the latest ingested runtimes but we need to make sure this is done when we release the first 2.2.1 patch.
cc @natemcmaster

[2018-06-29 15:53] natemcmaster commented on #1235
Can we do this before RTM? Seems like we often forget these things, even if we have issues. IMO it would be good to code the behavior we expect ahead of time.

[2018-06-29 21:28] natemcmaster commented on #1192
After lots of internal investigation and discussion, I do not believe we have yet found a good, working proposal for implementing guardrails. The variety of complex scenarios surrounding ref and runtime assembly versioning creates too much risk for a patch. We will explore alternatives.

cref discussion here: https://github.com/aspnet/specs/pull/172

[2018-06-29 21:28] #1192 closed

[2018-06-29 21:50] natemcmaster commented on #935
@vijayrkn I've moved this issue to a new milestone since we're not addressing it in the 2.1.2 release.

Currently, xcaffolding will patch in 2.1.3 patch release, but it's currently building Microsoft.VS.CodeGen.* packages as 2.1.2.  AspNetCore.App will be 2.1.3. Have you and @seancpeters figured out what we should do about this? Do we need to have Scaffolding skip a version number to match? Or are

[2018-06-29 22:07] JunTaoLuo commented on #1235
We have to define the pinned versions somewhere and we can't really infer them to always be Major.Minor.0 since we have situations like we have for 2.1.1 and 2.1.3 where we reset our baseline implicit versions. But maybe we can make these changes a little more obvious:

1. Add the pinned versions (e.g. `LZMAMicrosoftAspNetCoreAppAll22PackageVersion`) to `versions.props` and set them to 2.2.0 (for

[2018-06-29 22:09] JunTaoLuo commented on #1235
Actually I don't think using `PrereleaseVersionLabel` will work since the first time we build 2.2.0-rtm, we still need to use the latest bundled versions of the shared frameworks. I guess we need another flag that differentiates between pre-release builds and patch builds.

[2018-07-03 22:20] natemcmaster opened #1243 "Upgrade master branch to netcoreapp3.0 TFM"
We've already done this in a few places, but we should do it across the board in test projects.

[2018-07-09 12:49] poke commented on #1180
@dcb99 Only reference `Microsoft.AspNetCore.App` without specifying a version. EF Core is already included in there as well, so you don’t need something else.

[2018-07-09 12:52] dcb99 commented on #1180
Definitely only referencing `Microsoft.AspNetCore.App`, no version specified. I guess I just missed EF Core being included. Identity is now part of 2.1.1 also?

[2018-07-09 16:24] natemcmaster commented on #1180
+1 to what @poke said. Also, I recommend putting an explicit version on Microsoft.AspNetCore.App (see https://github.com/aspnet/Home/issues/3292). If you change your project to this, the NU1107 error should go away.
[code]

⚠️ As a result of updating Microsoft.AspNetCore.App to 2.1.1, you will also need to make sure to install the 2.1.1 **runtime**. https://aka.ms/dotnet-download

[2018-07-09 16:36] dcb99 commented on #1180
@poke recommends, NOT specifying a version, but @natemcmaster you DO recommend it? As long as the errors go away I will be happy. I've got the latest runtime installed.
Did I miss it somewhere in the documentation that Entity Framework Core is baked in to .net core now? I've done more developing with the .net framework so a lot of these issues with core are new to me.

[2018-07-09 16:44] poke commented on #1180
The *current* recommendation is to leave the version out to make the installed framework choose the active version. At the moment this is still the quickest way to get you up and running with all correct dependencies.

This recommendation is going to change really soon though, so you'll probably have to specify a version again (per reasons in that linked issue). That's all in a rather fluid state

[2018-07-09 16:45] natemcmaster commented on #1180
Yes, I recommend specifying a version. In 2.1.0 and 2.1.1, we thought making it possible to leave off the Version attribute would help users, but it will more likely cause issues in the long run. After further review of issues like this, we're changing course and recommeding you use PackageReference normally (See aspnet/Home#3292 for more details why). I'm working on docs and an announcement to cl

[2018-07-09 17:07] dcb99 commented on #1180
OK, I've explicitly referenced a version number for `Microsoft.AspNetCore.App`. Now when I try and scaffold out entity classes from the CLI, this is the error:

Which is strange, because when I run `dotnet --info`, I see 2.1.1 installed:

I am not sure where I'm going wrong here.

[2018-07-09 17:17] natemcmaster commented on #1180
The names are similar enough that it's easy to make this mistake. You have Microsoft.**NETCore**.App 2.1.1. You also need Microsoft.**AspNetCore**.App 2.1.1. You can get this from https://aka.ms/dotnet-download

![image](https://user-images.githubusercontent.com/2696087/42465602-4f0cd60e-8361-11e8-9db9-c396018dc978.png)

[2018-07-09 17:21] natemcmaster commented on #1180
By the way, I'm expecting changes to the download page to go live soon which should make this more obvious.

[2018-07-09 17:34] dcb99 commented on #1180
@natemcmaster I'm on a Mac though...

[2018-07-09 17:35] natemcmaster commented on #1180
https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.301-macos-x64-installer

[2018-07-09 17:40] dcb99 commented on #1180
@natemcmaster Thanks. I swear I had installed the newest SDK and runtimes Saturday. Thanks for your time.

[2018-07-09 18:30] natemcmaster commented on #1180
Happy to help :)

[2018-07-10 20:18] #1227 closed

[2018-07-11 23:59] Eilon opened #1254 "TEST - ignore"

[2018-07-12 00:00] #1254 closed

[2018-07-12 00:00] Eilon commented on #766
@shirhatti / @DamianEdwards / @muratg - what's the plan for this issue?

[2018-07-12 17:25] natemcmaster opened #1256 "Add a package dependency from Microsoft.AspNetCore.{App,All} => NETCore.App"
Part of implementing https://github.com/aspnet/Home/issues/3307 we need to resolve is how to make sure both AspNetCore.App and NETCore.App end up in the restore graph so you get all the right ref assemblies.

@JunTaoLuo looked into this in the past but ran into issues. We should take a closer look at those again to inform our strategy about how we should move forward with https://github.com/aspnet

[2018-07-12 21:04] JunTaoLuo commented on #1256
I forget the issue we ran into originally, but it may have been resolved. A few things we would want to check are:
1. The correct set of build/compile targets are brought in correctly
2. The deps files generated are compatible with MVC features
3. The generated shared frameworks in our build contains the full set of binaries required for layered frameworks
4. No restore graphs and publish output r

[2018-07-12 22:00] dsplaisted commented on #1256
Instead of adding a package dependency, why wouldn't we just have two separate implicit package references?

[2018-07-13 04:38] natemcmaster opened #1258 "Add tooling to validate the correctness of package versions in servicing updates"
Follow-up to https://github.com/aspnet/Universe/pull/1257. In this PR, I manually did a lot of work to figure out what were the versions to use as the pinned baseline. We should add:

* More tests to verify this work is correct
* Add tests which will invalidate the build in future servicing updates when something is updated
* Add tests to assert any changes to nuspec dependencies are expected

[2018-07-13 20:32] ajaybhargavb commented on #1227
Verified our 1.1 branches also build and run properly on 10.14.
- Verified `dotnet new` applications build and run
- Ran a full build of our repo fro Coherence-Patch
- All tests passed with the exception of a few flaky tests in MvcPrecompilation that we've already address in 2.x (cc @pranavkm).

[2018-07-13 21:41] natemcmaster commented on #1256
It looks like there may be one side effect. The .deps.json generation produces a slightly difference result when NETCore.App is transitive.

When you have NETCore.App and AspNetCore.App as direct deps, you get.
[code]

But with only AspNetCore.App as the top-level dep and NETCore.App is transitive, you get,

[code]

@dsplaisted is this an SDK bug? @pranavkm  would this break MVC/Razor compilation?

[2018-07-13 21:43] natemcmaster commented on #1256
Otherwise, build output and publish output looks the same.

[2018-07-13 21:45] pranavkm commented on #1256
MVC doesn't specifically look at the `CompileOnly` option from the deps file, so presumably not

[2018-07-13 21:56] natemcmaster commented on #1256
Ok, then I think we would be okay to make this change. I tested that build-time and runtime compliation still work.

[2018-07-16 17:55] Eilon commented on #935
@vijayrkn / @seancpeters - any updates on this? The clock is ticking for 2.1.3...

[2018-07-16 18:37] vijayrkn commented on #935
We have shiproom approval for this change. I think we should make scaffolding skip a version to match. @seancpeters - can you please work with Nate and get this going?

[2018-07-16 18:47] natemcmaster commented on #935
The build is already set up to skip from 2.1.1 to 2.1.3. I think the question Eilon was asking about more is do we need to keep doing this for every release? Or, did you make progress on other designs, such as having some other way for VS to determine which scaffolding packages to use?

[2018-07-16 19:03] vijayrkn commented on #935
We are working on an improved design. Dont have a timeline since it has to align with VS release.

[2018-07-16 19:06] seancpeters commented on #935
We've got some changes in the works for how to decide the scaffolding package versions, but my understanding is that they'd go in for dev16.

[2018-07-16 20:13] Eilon commented on #935
Actually my real question was just that this issue is in 2.1.3 and it wasn't clear to me if "someone" did "something" to resolve this issue 😄

[2018-07-16 21:35] natemcmaster commented on #935
I double checked, and it looks like my change to jump from 2.1.1 to 2.1.3 was lost somewhere in the massive amounts of rebasing/merging we did to make 2.1.2 work.

This PR should resolve this issue: https://github.com/aspnet/Scaffolding/pull/837

[2018-07-16 21:42] natemcmaster commented on #935
Done in https://github.com/aspnet/Scaffolding/pull/837

[2018-07-16 21:42] #935 closed

[2018-07-18 20:30] natemcmaster commented on #1256
This is being punted for now. Removing from the 2.1 milestone

[2018-07-24 22:20] mikeharder commented on #1123
Also fails in SDK 2.1.401, but now the error is due to package `Microsoft.AspNetCore.Mvc`:

[code]

The csproj generated by `dotnet new razorclasslib` references `Microsoft.AspNetCore.Mvc` 2.1.2:

[code]

However, the `NuGetFallbackFolder` in SDK 2.1.401 contains `Microsoft.AspNetCore.Mvc` 2.1.1 rather than 2.1.2.

[2018-07-24 22:32] mikeharder commented on #1123
My concern is less about offline support for RazorClassLib, and more about whether the following are by design or bugs:

* The cproj generated by `dotnet new razorclasslib` references `Microsoft.AspNetCore.Mvc` version **2.1.2**
* The NuGetFallbackFolder in SDK 2.1.401 contains `Microsoft.AspNetCore.Mvc` version **2.1.1**

Why are these versions not aligned?

[2018-07-24 22:46] natemcmaster commented on #1123
The behavior is by design, but reflects the 2.0 way of thinking about how customers should use our packages. I think it's time to revisit this. FWIW - we should probably revisit this at a higher level -- re-examine the guidance for library authors targeting ASP.NET Core.

[2018-07-24 22:53] mikeharder commented on #1123
For my own information, why does the NuGetFallbackFolder contain `Microsoft.AspNetCore.Mvc` 2.1.1?  I could guess the logic behind using 2.0 (latest major), 2.1.0 (latest minor), or 2.1.2 (latest patch).  But I can't see why it would be 2.1.1 (previous patch).

[2018-07-24 23:00] natemcmaster commented on #1123
The fallback folder is created by restoring Microsoft.AspNetCore.App 2.1.1, which is the default implicit version defined by Microsoft.NET.Sdk.Web, even though 2.1.2 and (soon) 2.1.3 exist. Microsoft.AspNetCore.Mvc/2.1.1 is a transitive dependency of .App 2.1.1.

We would have kept the default implicit version of .App at 2.1.0, but we sort of [messed up](https://github.com/aspnet/Universe/issues/1

[2018-07-27 11:12] benaadams commented on #767
I assume then you'd make them properly public :)

[2018-07-27 15:57] natemcmaster opened #1283 "Implement stable 'channels' for the aspnet runtime and dotnet-install.ps1"
Now that 2.1 is RTM, we should implement channels to match the .NET Core runtime and SDK for dotnet-install.ps1/sh. For example, it's reasonable to expect this to work:
[code]

**Requirements**
Create a blob here: dotnetcli.blob.core.windows.net/dotnet/aspnetcore/Runtime/2.1/latest.version. This should be a simple text file which contains full version information for the latest stable RTM version

[2018-07-30 02:59] pakrym opened #1285 "Consider enabling strict roslyn setting"
See: https://github.com/dotnet/corefx/pull/31457

cc @natemcmaster @davidfowl @Eilon

[2018-07-30 04:41] Eilon commented on #1285
@pakrym - is the main place of value in Kestrel? If so, can you go ahead and run with strict temporarily just to see if there are any issues? (We'd need to fix the issues anyway if/when we enable this globally.)

[2018-07-30 16:04] davidfowl commented on #1285
We use structs all over, there’s probably code comparing a StringValues to null elsewhere.

[2018-07-30 18:41] Eilon commented on #1285
OK. We can still preempt a lot of the fallout by fixing up areas where we know it'll be a disaster.

[2018-08-10 17:13] #650 closed

[2018-08-10 18:34] natemcmaster opened #1311 "Something is causing task assembly version conflicts"
This error started appearing in aspnet/Hosting and now aspnet/SignalR.
[code]

Current hunch: a functional test is launching MSBuild without proper MSBuild context and without node reuse disabled.

[2018-08-10 18:36] natemcmaster commented on #1311
cc @Tratcher I queued http://aspnetci/viewQueued.html?itemId=528132 with node reuse disabled globally to see if our current hunch is right.

[2018-08-10 22:52] natemcmaster commented on #1311
Should be resolved by https://github.com/aspnet/BuildTools/pull/734. Root cause is https://github.com/Microsoft/msbuild/issues/3572

[2018-08-10 22:52] #1311 closed

[2018-08-16 17:30] natemcmaster opened #1321 "AspNetCore.App/All packages don't have a real description"
https://www.nuget.org/packages/Microsoft.AspNetCore.App/2.1.2

![image](https://user-images.githubusercontent.com/2696087/44224468-4bb58900-a13f-11e8-856b-f55313adfb00.png)

[2018-08-17 06:01] natemcmaster commented on #1098
It looks like we're still compiling against 5.2.0. @brentschmaltz I noticed this version is unlisted on nuget.org. Is there a reason? Should we update to the latest 5.2.x release?

[2018-08-17 22:53] natemcmaster commented on #686
No plans to change this at the moment. If the mondo-repo plans fall through, we can revisit.

[2018-08-17 22:53] #686 closed

[2018-08-20 17:48] natemcmaster opened #1330 "Produce osx symbols for the shared runtime"
It looks like the build currently disables building symbols for osx-x64. There are osx symbols for Microsoft.NETCore.App. We should look into produce symbols for the aspnetcore shared runtime as well.

[2018-08-20 17:49] natemcmaster commented on #1330
cc @JunTaoLuo do you remember why this wasn't added in the first place?

[2018-08-20 18:32] JunTaoLuo commented on #1330
I believe there were issues with crossgen symbols on OSX. It looks like cross-gen'ed symbols are still disabled: https://github.com/dotnet/core-setup/blob/release/2.2/src/dir.props#L26-L27

[2018-08-20 18:53] natemcmaster commented on #1330
Ok. Putting this in the backlog for now. We'll follow-up on this later if the base runtime figures this out.

[2018-08-21 17:27] brentschmaltz commented on #1098
@natemcmaster 5.2.4 is our current release

[2018-08-21 17:29] natemcmaster commented on #1098
Ok. We'll do this in 2.2 preview2

[2018-08-23 17:20] brentschmaltz commented on #1098
ok

[2018-08-23 19:50] natemcmaster commented on #1098
Re-opening so we can track this work.

[2018-08-24 11:10] pkapare opened #1335 "Setting a machine up to run Universe"
Tried using instructions mentioned ["Setting a machine up to run Universe"](https://github.com/aspnet/Universe/wiki/Setting-a-machine-up-to-run-Universe) to setup machine to run universe. Getting following errors:
…...
……
…...
  - Package: Microsoft.Extensions.Logging.TraceSource Version: 3.0.0-alpha1-t006db54bb
   - Package: Microsoft.Extensions.Logging Version: 3.0.0-alpha1-t006db54bb
   - Packa