[2014-01-31 01:21] loudej opened #10 "Feature request: "build watch" for generating csproj"
Would be nice to have an additional build target named "#watch" in the k standard goals.

Idea would be - that build target would first start by generating all of the csproj files from the project.json files (that is what happens already today).

Then it would start a file watcher based on the current directory (which is the repo base folder) and enter a blocking wait state.

Any change to a proje

[2014-01-31 02:10] loudej opened #11 "net45 and k10 csproj probably need to have closure of references when generated"
adding Microsoft.Owin.Testing for example, that does install the closure to packages, and they'll be loadable at runtime, but the csproj doesn't have compile closure so it's a little quirky. should it compile with the assembly closure, even when only immediate references are declared?

[2014-02-01 19:55] #10 closed, assigned to nobody

[2014-02-04 01:17] dougbu opened #14 "Don't hard-code choice to use SSH URIs in build.cmd"
Instead base GitHub URI choice on the `remote.origin.url` Git configuration value.
I plan to make this update in the next couple of days.

[2014-02-07 16:57] Eilon opened #15 "Have the build ensure that common files are up-to-date (gitignore, gitattributes, build scripts, etc.)"
Each repo today has different flavors of our common files that are _supposed_ to be standardized. This should even include things like the dotsettings file for R#.

[2014-02-08 06:27] davidfowl opened #16 "Add target for building native projects"
Helios and Kruntime both have native projects. It would be great if we had something generic to build both x86 and x64 versions and put them in a standard place.

[2014-02-11 20:33] loudej opened #18 "CI server prolly shouldn't append numbers alone"
`-build000` would be preferable

[2014-02-11 20:35] loudej opened #19 "CI server should copy entire artifacts/**/* content to build artifacts"
This will pick up the intermediate output, and there will eventually be more information that is dumped there, like unit test log files.

[2014-02-14 14:30] pranavkm opened #22 "Move nupkg to root of artifacts"
As part of #19, we're picking up everything under the artifacts directory. As a convenience thing, it would be nice to move the nupkg to the root of artifacts so we don't have to go about hunting for it in the artifacts view on the CI \ drop share.

[2014-02-14 14:30] #19 closed, assigned to nobody

[2014-02-25 01:03] #14 closed, assigned to dougbu

[2014-02-27 07:38] loudej opened #28 "Meta thing"
Thing for many many things

- :soon: : <code style="background-color:CCCCCC"><a href="https://github.com/aspnet/DependencyInjection/issues?labels=1 - Ready">1 - Ready</a></code> aspnet/DependencyInjection#16 Service Provider Features
  - :soon: : <code style="background-color:84b6eb"><a href="https://github.com/aspnet/DependencyInjection/issues?labels=enhancement">enhancement</a></code> <code styl

[2014-03-05 00:38] anpete opened #32 "Don't add Resources.tt to test projects"

[2014-03-06 00:01] anpete opened #33 "Resx: Don't gen FormatX method when no args"

[2014-03-06 06:19] davidfowl opened #34 "Generate an ApiPort report on CI builds"
This helps the CLR team see what we're using in our .NET 45 binaries.

"\\FxCore\tools\bin\ApiPort.exe" {path to folder full of .NET 45 binaries} -targetProfiles:ProjectK -out:report.xlsx -catalogFile:"\\fxcore\tools\bin\ApiCatalog.apic"

[2014-03-06 06:22] pranavkm opened #35 "git pull does not update tracking branches"
When running build, the git command specifies the branch name `git pull git@github.com:aspnet/HttpAbstractions.git dev`. This does not update the tracking branch.
- We could remove the branch refspec to avoid this.
- We could set up the repos initially so that only the dev branch is tracked. git remote add origin git@github.com:aspnet/HttpAbstractions.git -t dev. Any consecutive fetches from origi

[2014-03-06 06:26] davidfowl opened #36 "Downloading the ProjectK package can take a while sometimes"
We might want to look into making the check for the latest version of the ProjectK package faster or less frequent.

[2014-03-06 17:58] davidfowl opened #37 "Build fails if there's no src folder"
We should check for existence before

[2014-03-08 23:34] dougbu opened #38 "Need build options to skip tests and to ignore test results"
If the test command exists in a repo, it's not currently possible to build w/o running the tests.  Builds also fail on the first failed tests rather than reporting later test failures.

Unit tests are not always necessary for intermediate builds or when building repos you're not working on directly e.g. checking that you haven't broken them w/ local changes.  Further unit test failures should not

[2014-03-08 23:46] dougbu opened #39 "Testing repo should be earlier in Universe build"
Testing repo is currently last in the repos list of makefile.shade.  This means it comes after many projects that rely on its output (Xunit.KRunner).
With current project dependencies, Testing repo should be above Microsoft.Data.SQLite repo list.

[2014-03-09 00:04] dougbu opened #40 "Add option to control continuation after failures in build.cmd"
Current Universe builds unconditionally continue after failures for most targets but unconditionally exit on first failure when building the install and only-install targets.  Would be great to have an option to control both.  Probably better for all builds to continue after failures by default but any consistent default should be fine.
Fixing this should automatically avoid the ugly stack traces

[2014-03-12 18:18] bricelam opened #42 "Run both k10 and net45 tests during build"
We currently only run net45 tests during build. Eventually we should run on all configurations listed in the project.

[2014-04-18 23:50] bricelam opened #49 "Move nupkg patching code to KoreBuild"
The logic for patching nupkg files post-build that currently exists in the [xunit](https://github.com/aspnet/xunit/blob/dev/makefile.shade) and [Microsoft.Data.SQLite](https://github.com/aspnet/Microsoft.Data.SQLite/blob/redist/makefile.shade) repositories needs to be generalized and moved into the KoreBuild set of scripts.

[2014-04-30 22:34] AndriySvyryd opened #53 "Support running PCL tests"

[2014-05-03 21:38] bricelam opened #54 "k10 project generation is broken"
The project generation for k10 configurations depended on packages\ProjectK.*\Framework\K\v1.0\ProjectK.CSharp.targets which no longer exists.

[2014-05-04 20:32] #11 closed, assigned to nobody

[2014-05-04 20:33] #16 closed, assigned to nobody

[2014-05-04 20:33] #28 closed, assigned to nobody

[2014-05-04 20:34] #36 closed, assigned to nobody

[2014-05-14 03:41] muratg opened #61 "Universe build breaks on some repos: Skip repos that git can't access"
Build.cmd asks for GitHub credentials whenever it can't access a repo.  It you skip the credentials (as a couple repos are not public yet) it throws an exception and dies.

We need to make it skip whenever git is unable to access a repo.  Perhaps convert errors to warnings in this case.

[2014-05-14 12:08] ErikEJ opened #62 "Build.cmd break - Helios repository not found"
Getting this error:
info: Exec
info:   program: git
info:   commandline: clone git@github.com:aspnet/Helios.git --branch dev
info:   workingdir:
Cloning into 'Helios'...
ERROR: Repository not found.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
warn: Exit code 128 from git

[2014-05-14 16:53] #62 closed, assigned to nobody

[2014-05-16 13:23] davidfowl opened #64 "Find a way to embed the git sha in the assembly info"
We can use the AssemblyMetadataAttribute but we need a way to integrate it. Maybe we can set and environment variable that the runtime can use to populate assembly info on the fly instead of editing files.

[2014-05-18 02:56] #61 closed, assigned to nobody

[2014-05-19 17:23] bricelam opened #66 "Detect newer versions of MSBuild"
Currently, the native-compile task is hard-coded to use MSBuild 12.0. On dev14-only machines this fails since the version there is 14.0. We should detect the latest installed version, and use it.

[2014-05-20 03:10] thereverand opened #68 "Project.json should allow empty strings for the versions of dependent NuGet packages."
Right now "kpm restore" requires at least a partial version to be present if the package has not yet been installed from NuGet. The suggested behavior is for an empty version string to indicate that the highest version number package should be used/obtained.

[2014-05-22 23:01] oferze opened #72 "Credentials required for Helios and WebListener"
Running build.cmd on a fresh repo of Universe pulls all required repos successfully, but Helios and WebListener, for which username+password are required.

[2014-05-22 23:19] #72 closed, assigned to nobody

[2014-05-22 23:29] DamianEdwards opened #73 "Check the verify-authenticode task on a non-English OS"
The tasks parses output from signtool.exe which might differ on non-English OSes.

[2014-05-23 23:13] #32 closed, assigned to nobody

[2014-05-23 23:14] #54 closed, assigned to nobody

[2014-05-29 22:13] NTaylorMullen opened #76 "Resx builds bad CS files when newlines in resources"
Repro:
1. Add resource:

[code]
1. Run `.\build resx`

Result:

[code]

The Hello World obviously isn't valid C# so it fails to compile.

[2014-05-29 23:44] #76 closed, assigned to nobody

[2014-06-09 23:31] pranavkm opened #79 "Update build.sh changes in all repos"
The changes from https://github.com/aspnet/KRuntime/commit/5ec22cc6c811c696b5ec620b475583fda3559f09 need to be ported over to all repos.

Original PR that was merged: https://github.com/aspnet/KRuntime/pull/228

[2014-06-12 03:55] davidfowl opened #82 "build install should skip symbol packages"
Because the symbol packages have the same ID as the original packages so things will be screwed up

[2014-06-15 13:53] #18 closed, assigned to nobody

[2014-06-18 17:15] ChengTian opened #85 "Change default author of all our packages to "Microsoft""
Set "Microsoft" as the value of  K_AUTHOR  (see aspnet/KRuntime#345 ) in building scripts of all our packages.

[2014-06-30 03:51] bgiromini opened #92 "Can't find setup/kvm.sh on Mac OS X 10.8.5"
I get this error:

./build.sh: line 31: setup/kvm.sh: No such file or directory

[2014-07-02 21:21] DamianEdwards opened #93 "native-compile target fails the build if MSBuild 12 isn't found, like on a machine with on VS14 installed"

[2014-07-03 16:12] #93 closed, assigned to nobody

[2014-07-09 19:56] Tratcher opened #96 "Build samples"
`build` should compile any projects in the `samples` dir by default. This will help us keep track of breaking changes, especially in the entropy repo.

The recommendation is that this happen as part of the `test` target.

[2014-08-06 07:50] PinpointTownes opened #99 "Fix build.cmd to handle paths containing special chars"
`build.cmd` is currently unable to work with paths containing special characters. Consider fixing it.

Repro: create a Windows account containing a space and try running `build.cmd`

[code]

[2014-08-18 17:25] pranavkm opened #103 "Add CI configurations to merge dev -> release, reset release -> master"
It would be useful to do this on a build agent so dev settings do not affect these operations in any way.

[2014-08-19 19:20] pranavkm opened #104 "Node\ npm install and invocation should be adapted to work on Ubuntu"
https://github.com/aspnet/Universe/blob/dev/build/_node-install.shade#L24-L49 block of code could be replaced via an `sudo apt-get install nodejs`.

[2014-09-16 04:21] Eilon opened #107 "Create MyGet feed for volatile CI feed"
This will make it easier to fix a broken CI because it’s easier and faster to access the volatile packages on your local dev machine.

[2014-09-16 04:21] Eilon opened #108 "Have CI machine push volatile feed packages to volatile MyGet feed"
Depends on https://github.com/aspnet/Universe/issues/107.

[2014-09-16 04:22] Eilon opened #109 "Make it easier to not restore packages on every build (e.g. env var to disable)"
Make it easier to not restore packages on every build (e.g. env var to disable this per machine).

This will enable devs to build locally without being affected by external changes (e.g. new packages on MyGet).

[2014-09-18 17:15] pranavkm opened #111 "Run CodeAnalysis \ Fxcop as part of the build"
We need to figure out how to run FxCop as part of the build. `FxCopCmd` requires knowing the full closure of references to run - this is problematic in our build.

[2014-09-18 23:18] #107 closed, assigned to Eilon

[2014-09-19 05:05] #108 closed, assigned to pranavkm

[2014-10-01 00:03] glennc opened #112 "Consider passing flag to ignore failed sources"
Customer reported issue here: https://github.com/aspnet/KRuntime/issues/271

We have the ability to ignore failed sources now, should we pass this when building universe?

[2014-10-01 22:29] desdesdes opened #113 "sake documentation"
I am looking a how to setup a cross platform build system vNext projects. I see sake is used for all aspnet repo's. I cannot seem to find any documentations on it. The nuget server tells me the project site is http://loudej.github.io/sake, but that site is empty. I looked at https://github.com/sakeproject/sake but the latest release there is alpha-7. I cannot seem to find any documentation on how

[2014-10-07 22:27] ChengTian opened #116 "Have --ignore-failed-sources on by default in all build scripts calling kpm restore"
So we can build offline when all packages are already available in the packages folder.

`--ignore-failed-sources` is proposed in https://github.com/aspnet/KRuntime/issues/591

[2014-10-07 22:33] kanchanm opened #117 "We should push symbols for aspnet vnext"
We need a plan for pushing symbols for aspnet vnext. Opening this issue to track that work as suggested by @Eilon.

[2014-10-08 16:19] dougbu opened #118 "Correct XML documentation test to ignore leftover XML files"
_k-xml-docs-test.shade file added in PR #101 blindly checks every XML file in the repository for errors. This may lead to spurious test failures when some of those files are left behind from a project not in the current branch. Worse, builds can fail unnecessarily in the MVC repo -- where this test is enabled by default.

Fix is to check only those files created as part of the most recent build. C

[2014-10-08 18:01] bricelam opened #119 "Run test projects in a better order"
Right now, the test projects are run alphabetically by project name.

A better order would be: Unit first, Functional last, topologically sorted by product dependencies.

For example:
- EntityFramework.Tests
- EntityFramework.SqlServer.Tests
- EntityFramework.FunctionalTests
- EntityFramework.SqlServer.FunctionalTests

[2014-10-10 23:58] bricelam opened #120 "build.cmd requires PowerShell 4"
We've done some work on the product to ensure compatibility with PowerShell 2 (See aspnet/kvm#42). However as @timabell found in aspnet/EntityFramework#832, build.cmd uses `Invoke-WebRequest` which also requires PowerShell 4.

[2014-10-15 23:39] glennc opened #121 "Make build work on Mono"
PCL profiles are a problem on Mono. The build we run on Linux should exclude them. see: https://github.com/aspnet/KRuntime/issues/277

[2014-10-25 06:31] dougbu opened #123 "Support both quiet and regular builds"
By default `kpm restore` and `kpm build` are noisy about things unrelated to the code we’re changing.  Warnings in source files get lost in “CACHE …” and (now) “Using Package dependency” messages.

I shut most of this off using the lovely `--quiet` options for these two commands in the relevant *.shade files.  That fix is at https://github.com/aspnet/Universe/commit/a23315a6fe2893faed1bb0b1fb3d682

[2014-10-28 16:02] #96 closed, assigned to Tratcher

[2014-10-28 18:26] bricelam opened #124 "Our .gitattributes is incomplete"
The `.gitattrubtes` file under `build-template/` goes to a lot of lengths to list individual file patterns, but it is incomplete. For example, it doesn't list `*.json`, `*.kproj`, `*.cshtml`, or `*.config`. This leads to inconsistent eol characters in these files.

Ideally, the file should contain one line:

[code]

With this, git will (99.999% of the time) just do "the right thing".

[2014-10-28 20:58] #85 closed, assigned to ChengTian

[2014-10-30 17:19] pranavkm opened #125 "We should a non-fixed version of Sake for our build tool"
Right now all our build scripts are tied to a fixed version of Sake (0.20.0). We should change this so that it pulls in the latest the same way KoreBuild is pulled in. This would allow us to have a custom build of Sake on the feed that addresses specific issues we see with our build system \ CI server.

[2014-10-31 07:33] davidfowl opened #126 "Add a <clear> to our repository's nuget.config"
This will stop people's custom feeds from stomping on things.

[2014-11-24 16:36] pranavkm opened #131 "Source Index and pack .pdb files into regular .nupkg"
Wherever we ship DLLs that are used in customer apps, we need to include the portable PDB along side it.

We need to include portable PDBs in:
* [ ] The shared framework
* [ ] The NUPKGs

And we need to do this in:
* [ ] 2.1.0-preview1
* [ ] dev

----------
Original text:

From https://github.com/aspnet/KRuntime/issues/380

The plan would be to create a single nupkg rather than a *.nupkg and *.sym

[2014-12-04 18:50] #118 closed, assigned to dougbu

[2014-12-05 22:56] #123 closed, assigned to nobody

[2014-12-10 01:09] victorhurdugaci opened #135 "build.cmd should return non zero code if one project fails"
If you run `build.cmd` on this repo and one or more subrepos fail, you get a zero code back which means success.

[code]

[2014-12-18 00:20] #135 closed, assigned to victorhurdugaci

[2014-12-19 21:29] Praburaj opened #141 "Booleans in JSON without a double quote throws on mono"
https://github.com/aspnet/MusicStore/commit/e5a92daa51733dd5dd1f86aa3867a0e2ba851112#commitcomment-9048910

[code]

[2015-01-02 19:59] pranavkm opened #142 "`k test` does not show build failures"
The new Xunit test runner does not print compilation failures in tests and fails with a non-specific error:

[code]

Running kpm build prints build failures:

[code]

We should consider running `kpm build` as part of `_k-test.shade` so build failures are correctly reported. We could consider doing this conditionally do this the CI if it slows down local builds.

[2015-01-02 19:59] pranavkm commented on #142
cc @bricelam @davidfowl

[2015-01-02 20:00] rynowak commented on #142
We should just fix this in the runner. https://github.com/xunit/aspnet.xunit/issues/2

[2015-01-02 21:24] pranavkm commented on #142
Closing since it's likely to be addressed by the runner.

[2015-01-02 21:24] #142 closed

[2015-01-10 01:05] Praburaj opened #144 "restore-bower-components target flaky"
We have started seeing failures in `MusicStore.SPA` project on CI where bower installation fails. For reference I'm copying the bower install logs in success vs failure case. I’m able to see a difference while the bower fails to install. On a working bower installation the command executed is `cmd` with `npm install`. Whereas on failing cases the program executed is `node` throwing this error.

Wo

[2015-01-10 01:05] Praburaj commented on #144
@pranavkm @DamianEdwards

[2015-01-19 18:12] dougbu commented on #37
Fixed via f38d08a408dd113a9b21823927603defab40497d

[2015-01-19 18:12] #37 closed

[2015-01-26 18:17] kichalla opened #153 "Create tags for specific releases"
Currently we do not have tags for specific releases (ex: Beta2) which makes it difficult to go back to certain point in history to get the build scripts for that release.

@pranavkm

[2015-01-26 18:26] pranavkm commented on #153
cc @suhasj

[2015-01-26 18:29] suhasj commented on #153
@kichalla Can you clarify when you say build scripts ? Do you mean the build.cmd or build.sh from the repos ?

[2015-01-26 18:34] pranavkm commented on #153
The `KoreBuild` package. We need to ensure KoreBuild also gets branched and versioned when we do update-release \ update-master so that we can go back in time and rebuild packages with the right scripts.

[2015-01-27 18:02] suhasj opened #155 "Remove -parallel flag for mono tests"
Tracking bug to remove this from `_k-test` file once the parallelization issue is fixed in xunit for Mono. Fixed in PR https://github.com/aspnet/Universe/pull/154

[2015-01-31 05:52] dougbu commented on #144
this issue has started showing up in the MVC repo as well.

the underlying problem appears to be the target directory for the bower installation doesn't exist.  example scenario in MVC repo:
1. install node globally (but don't run `npm install --global --quiet bower`)
2. clean repo (`git clean -dfx -e .vs/`)
3. `.\build.cmd --quiet default`
4. see errors in comments above

a small change in _npm.s

[2015-02-02 22:31] bricelam opened #159 "Master branches shouldn't contain stars in dependency verions"
Having stars in the package dependencies makes the `master` branches difficult for users to work with.  For example, trying to build `beta1` will pull in the latest released released packages, not the `beta1` versions.

We should automate this as part of the release process.

[2015-02-03 17:13] victorhurdugaci opened #160 "Building universe always clones the dev branches for subrepo"
Even if you use the `release` branch, when you run `build` on Universe, it clones the `dev` branches of the sub repos. This prevents the cross plat CI to from building the `release` branch.

The culprit is https://github.com/aspnet/Universe/blob/dev/makefile.shade#L427

[2015-02-03 17:58] victorhurdugaci commented on #160
Talked to @Eilon and this bug can go in the release branch

[2015-02-03 19:22] Eilon commented on #159
Yep we have a plan for this starting with beta3. We're manually fixing the current beta2 master branch right now.

[2015-02-04 17:46] #160 closed

[2015-02-15 23:36] ChengTian opened #165 "Add project.lock.json to gitignore file"
Reacting to lock file feature in all repos.

[2015-02-16 07:18] davidfowl opened #166 "Change repositories' "sources" section to "projects""
We renamed the "sources" section to "projects" in global.json. We should do it for our repositories.

[2015-02-16 22:21] ChengTian commented on #165
Done in all repos on CI.

[2015-02-16 22:21] #165 closed

[2015-03-02 20:05] nathanaeljones opened #168 "Make the Helios repository public"
As an [ASP.NET HttpModule/middleware developer](http://imageresizing.net), I've found the bridge between ASP.NET and IIS  to be the greatest source of trouble and bugs. Often small details (Like [preventing dynamically registered HttpModules from accessing static requests](http://aspnet.uservoice.com/forums/41199-general-asp-net/suggestions/5823099-add-overloaded-version-of-httpapplication-registe

[2015-03-02 20:10] davidfowl commented on #168
We're working on this, but FYI it doesn't contain any HttpModules, that's System.Web stuff. Helios is much lower level and has mostly pinvokes.

[2015-03-02 20:16] nathanaeljones commented on #168
Yeah, it's the pinvokes I'm interested in. It's where IIS configuration and behavior meet ASP.NET that most of the serious (i.e, unfixable on my end) issues occur. I see new issues at that layer on a monthly basis, often coming down as security updates. Not fun. 99% were easily avoided, too, but no code review seemed to be happening - or, at least, not review for the kinds of issues that burn us m

[2015-03-08 17:43] davidfowl opened #172 "*.sh requires bash at /bin/bash"
*.sh specify `/bin/bash` as the path where bash resides. However, there can be systems don't have bash located at /bin/bash, so we can't run k nor kpm run on such systems.

### Problem factors
* Bash location could be /bin, /usr/local/bin or wherever.
* Some Linux systems (e.g. Debian-based ones) may not have bash installed.
* *sh includes some bash-specific code which can be avoided.

This issue

[2015-03-10 00:22] Praburaj opened #174 "Rename nuget feed url key in Nuget.config to something other than NuGet.org"
When `Nuget.config` contains a feed with key named `Nuget.org` VS nuget tooling seems to disable the public nuget feed due to a known issue : http://nuget.codeplex.com/workitem/4397.

We have seen many people run into this issue. Solution will be to rename the key name in all Nuget.config files to something other than `Nuget.org`.

[2015-03-10 01:19] davidfowl commented on #174
The CI needs to be updated before this is done

[2015-03-10 02:04] Praburaj commented on #174
Do we have redirect even for Nuget.org feed? I thought we redirect only the myget feed, no?

[2015-03-10 02:18] davidfowl commented on #174
I'm pretty sure we have it for both. It's easy to check tho

[2015-03-10 02:45] Praburaj commented on #174
Let me check this. I can take this work item.

[2015-03-10 03:01] Praburaj commented on #174
I verified we don't hack the Nuget.org feed. We should be good to make the change.

$packageShareName = "dev"
$branch = "%teamcity.build.branch%"
if($branch -eq "release") {
    $packageShareName = "release"
}

$config = "<?xml version=`"1.0`" encoding=`"utf-8`"?>
<configuration>
  <packageSources>
     <add key=`"KoreBuild`" value=`"<DropFolder>\Universe\${packageShareName}\latest\build`" />

[2015-03-10 19:01] #174 closed

[2015-03-10 19:03] Praburaj opened #177 "Add AspnetMaster feed to master branch nuget.config template"
https://github.com/aspnet/Universe/blob/dev/build-template/NuGet.master.config

We added the aspnetmaster feed manually for all repos during beta3 release to fall back for packages not found in public nuget. We might want to update the template if this is required for rc1 as well.

[2015-03-10 19:15] Praburaj commented on #177
merged: https://github.com/aspnet/Universe/commit/763051e6b8596b9ded199d679e2411ab9f62d60f

[2015-03-10 19:15] #177 closed

[2015-03-11 07:48] davidfowl opened #179 "Stop using k.cmd instead use dnx {path}"
We're going to be removing k.cmd eventually so the earlier we can get this done the better.

[2015-03-11 22:39] muratg commented on #179
@troydai?

[2015-03-13 21:38] muratg commented on #172
Related: https://github.com/aspnet/DNX/issues/1064

[2015-03-17 23:53] ChengTian opened #186 "Rename kpm to dnu"
This should be done after dnu.cmd is added (https://github.com/aspnet/dnx/issues/1428)

[2015-03-23 06:09] ctaggart commented on #131
I just announced a stable SourceLink.exe and added documentation on how to use it.
http://blog.ctaggart.com/2015/03/announcing-sourcelinkexe.html
http://ctaggart.github.io/SourceLink/exe.html

Also be sure to check out the demo that demonstrates taking advantage of the source index at design time.
http://ctaggart.github.io/SourceLink/index.html#Demo-Go-To-Source-during-Design-Time

I would love to

[2015-03-24 16:14] #186 closed

[2015-03-29 10:56] davidfowl opened #193 "Update all resources paths"
/cc @victorhurdugaci

[2015-03-30 10:04] davidfowl opened #194 "Change our default build to use CoreCLR"
In an attempt to see if we can build our stack with the CoreCLR itself, I think we should see if we can do it with KoreBuild as a first step. The CoreCLR would also be crossgened so builds would go faster.

[2015-03-30 18:00] victorhurdugaci opened #195 "The dnvm in KoreBuild on the release branch points to the wrong feed"
https://github.com/aspnet/Universe/blob/release/build/dnvm.ps1#L79
and
https://github.com/aspnet/Universe/blob/release/build/dnvm.sh#L13

[2015-03-30 18:10] BrennanConroy commented on #195
#191

[2015-03-30 18:31] #195 closed

[2015-03-30 18:53] muratg commented on #194
Yes!

[2015-03-30 19:43] pranavkm commented on #194
I know @kulmugdha spent some time on converting Spark view engine to run on K (DNX). Might be useful to use that as a starting point to convert Sake.

[2015-03-31 16:29] victorhurdugaci opened #198 "Trigger "build all" when Universe changes..."
... because changes to the build infrastructure affect everyone. Today, no build on the CI depends on Universe

cc @pranavkm

[2015-03-31 17:54] pranavkm commented on #198
We have issues with this since Universe contains files for building `KoreBuild` and for doing release management. Having it kick off a full build when we're doing release build changes (which does happen quite frequently) tends to be quite annoying. Until we separate these two aspects of Universe, I wouldn't want to do this.

[2015-04-02 13:55] pranavkm commented on #166
I think I saw some project.json's that also had `code` attributes which are now `compile`. Should that change too?

[2015-04-02 17:50] troydai commented on #166
Done in all repos. Waiting for a build pass on CI to close this bug.

[2015-04-08 17:48] troydai commented on #166
Done

[2015-04-08 17:48] #166 closed

[2015-04-10 22:18] ryan1234 opened #201 "Explicit versioning for build.sh"
Original issue from: https://github.com/aspnet/HttpAbstractions/issues/259

I'm not up to speed on the dev branches yet, so I'm still working from master branches. When I try to build with build.sh I am pulling down the dev version (beta5) of KoreBuild with all the dnx stuff.

I had to add explicit versioning for the KoreBuild nuget package to get beta3 stuff to build.

Example of old build.sh fro

[2015-04-11 03:48] davidfowl commented on #179
This was done by @ChengTian

[2015-04-11 03:48] #179 closed

[2015-04-15 21:34] victorhurdugaci commented on #193
This is done

[2015-04-15 21:34] #193 closed

[2015-04-18 17:58] josher565 opened #203 "build execution fails on git config bugtraq.logregex#(\d+)"
in Powershell, on Win10 & 8.1

I get a local copy by cloning the repo.
I change into the directory, then execute ./build
On each execution (for each OS), build stops on:
`info: Exec`
`info:   program: git`
`info:   commandline: config bugtraq.url http://github.com/aspnet/SignalR-Server/issues/%BUGID%`
`info:   workingdir: SignalR-Server`
`info: Exec`
`info:   program: git`
`info:   commandline: co

[2015-04-19 23:13] josher565 commented on #203
UPDATE: on Ctrl+C I get:
`https://github.com/aspnet/universefatal: could not read Username for 'https://github.com': No such file or directory`
`fatal: could not read Username for 'https://github.com': No such file or directory`
`^CTerminate batch job (Y/N)? y`

[2015-04-19 23:25] josher565 commented on #203
Misconfiguration on my part. I have to enter these for git CLI to do stuff with creds.
git config --global user.name "myusername"
git config --global user.email "my@email.com"
git config --global credential.helper wincred

[2015-04-21 13:57] josher565 commented on #203
totally my error in client config.. thanks for listening folks

[2015-04-21 13:57] #203 closed

[2015-04-21 16:34] Tratcher opened #204 "Make build.cmd run dnvm upgrade every time"
Current infrastructure restore:
[code]

On a clean enlistment this will install KoreBuild, Sake, and dnx.  However, next time you run it KoreBuild will already be installed so it will skip everything.

Problem: Dnx gets out of date daily, where KoreBuild only needs to be updated occasionally.

Proposal: Split `restore` into two stages so that dnvm can run independently of KoreBuild.

Workaround: Y

[2015-04-28 15:23] Tratcher opened #205 "MsBuild is hardcoded to v12"
The native-compile target is hardcoded to MsBuild v12, which requires VS 2013 to be installed. This should be updated to v14 for VS 2015, or better yet, try both.
https://github.com/aspnet/Universe/blob/dev/build/_k-standard-goals.shade#L86

This breaks Helios if you don't have 2013 installed.  DNX is not broken because it defines it's own target.

[2015-04-28 17:49] moozzyk commented on #205
#206

[2015-04-28 19:55] moozzyk commented on #205
Fixed with e54a3b61c

[2015-04-28 19:55] #205 closed

[2015-05-01 07:23] Eilon opened #211 "New --parallel flag doesn't work for Roslyn / CoreCLR builds"
On the CI the default build target is now `--parallel install` but that seems to break the Roslyn and CoreCLR builds. Sake explodes saying a key couldn't be found in a dictionary. Presumably it's trying to find a target that doesn't exist.

In the meantime I went to the TeamCity config and overrode the default build target for those two configs to remove the `--parallel` flag and now both builds p

[2015-05-01 12:34] pranavkm commented on #211
We should probably have those two use `k-standard-goals` (as a long term goal). For now your change seems ok. The unfortunate part is that I'm not seeing a significant drop in the total build time on the CI. Perhaps if we harden our tests and bring this back - https://github.com/aspnet/Universe/commit/d457b54a369ae27951f6e06132fd28ca3f20798c - we should start seeing better numbers.

[2015-05-01 20:32] muratg opened #212 "Fix cyclical and external depedencies"
Building everything from scratch should be straightforward.

[2015-05-06 18:19] pranavkm opened #215 "Update build.cmd to pass in DNX_FEED \ flag to dnvm so we install the branch-appropriate DNX"
Based on conversation here - https://github.com/aspnet/Universe/pull/214/files#r29785476.

We should be able to pull in the latest dnvm and use it in our scripts without editing it.

[2015-05-07 18:11] muratg commented on #215
How about KoreBuild?

[2015-06-02 18:42] danroth27 opened #227 "Pick up latest IdentityModel packages"
We need to pick up the latest IdentityModel packages. The ones we have in our dev and release feeds are pretty old.

The new packages for beta5 are here: https://www.myget.org/gallery/azureadwebstackrelease.

[2015-06-02 21:17] bricelam commented on #64
@pranavkm, make it so

[2015-06-04 22:02] dmccaffery opened #228 "Shell scripts do not quote variables when used as parameters, which breaks unescaped expansions."
For instance:

[code]
In the above snippet, if the ~ expands to a home folder that includes a space in the path, then the mkdir command will fail. All parameters in bash including a space need to be escaped or quoted; even if they are a specified as a variable.

Assuming the following:

HOME=/Users/Deavon McCaffery/

then:

[code]

expands to:

[code]

This will fail. The $cachedir needs to be quo

[2015-06-04 22:15] dmccaffery opened #229 "Build.sh will fail if wget is missing (curl missing output redirection)."
The line at:

https://github.com/aspnet/Universe/blob/664d718398ab0d94ce14dc35d13509248d79f9fd/build-template/build.sh#L17

[code]

is missing an output redirection for curl, so the command will fail with an invalid or missing URL if wget is not available on the system.

Also, since $cachedir may be expanded with spaces in the path, the parameter which includes the variable should be quoted.

Line

[2015-06-04 23:10] pranavkm commented on #229
Could you send a PR with the change to this repo - there's a copy of it in `build-template\build.sh`?

[2015-06-04 23:37] dmccaffery commented on #229
@pranavkm sure. Can you merge #228 with this issue for reference since it also references unescaped sequences in parameter expansion?

[2015-06-05 13:55] dmccaffery opened #231 "CI builds will fail"
Both of the CI build scripts [.travis.yml](https://github.com/aspnet/Universe/blob/664d718398ab0d94ce14dc35d13509248d79f9fd/.travis.yml#L4) and [appveyor.yml](https://github.com/aspnet/Universe/blob/664d718398ab0d94ce14dc35d13509248d79f9fd/appveyor.yml#L4) files include the following arguments:

- --quiet
- verify

These arguments are passed to sake as targets within build.sh. The #--quiet target

[2015-06-05 17:34] dougbu opened #232 "Include Localization in default repo list"
`makefile.shade` should be updated now that other repos (e.g. MVC) have a dependency on Localization.

/cc @kirthik

[2015-06-11 18:30] dmccaffery commented on #64
Been doing this for years; and it is very useful. I emit the following as part of my build system (for MSBuild):

Version (Simple Versioning) - 1.0.0.0
File Version (Includes Build Number) 1.0.0.061605
Informational Version (SemVer) - 1.0.0-beta-061605-1232

Metadata:
Built By (or Requested By)
Built On (Machine)
Build Date (UTC)
Commit ID (Git SHA Hash or Commit ID from TFVC)
Build Definition (Na

[2015-06-11 20:24] Eilon opened #233 "Remove WebSocketsAbstraction from Universe build"
https://github.com/aspnet/Universe/blob/dev/makefile.shade#L34

@Tratcher we need to remove this, right? If so, can you do it?

[2015-06-12 16:31] #233 closed

[2015-06-12 17:19] pranavkm opened #235 "Take advantage of specifying globbing pattern for dnu pack \ dnu build"
Relies on https://github.com/aspnet/dnx/pull/2052

[2015-06-13 02:58] victorhurdugaci commented on #235
https://github.com/aspnet/Universe/pull/236

[2015-06-15 07:10] artiomchi commented on #68
I do agree with @davidfowl that no version number is a very very bad idea.

At the same time allowing wildcards for version numbers without forcing a dash before the wildcard is a very valid suggestion!

[2015-06-16 17:09] #42 closed

[2015-06-16 17:10] bricelam commented on #49
Closing in favor of aspnet/dnx#848

[2015-06-16 17:10] #49 closed

[2015-06-16 17:11] #159 closed

[2015-06-18 17:02] Eilon commented on #232
@kirthik can you take a look at this?

[2015-06-18 17:04] Eilon commented on #227
@pranavkm @danroth27 anything left to do here?

[2015-06-18 18:29] pranavkm commented on #227
Nope. We've switched to their feeds - https://github.com/aspnet/Security/commit/6f935f8e28a4e2d6a811c89f27e3fce8825f53dd

[2015-06-18 18:29] #227 closed

[2015-06-19 22:15] Romoku opened #240 "build.sh will fail on ubuntu when nodejs is not installed"
If nodejs is not installed with an alias `node` then it is downloaded. `signtool.exe` is invoked, but `signtool.exe` does not exist on linux. `/usr/bin/signcode` does exist.

[2015-06-19 22:31] Romoku commented on #240
Additionally `bower`, `gulp-cli`, and `copy` npm modules must be installed globally or the `build.sh` will not be able to find them.

    npm install -g bower gulp-cli copy

[2015-06-23 20:41] dmccaffery commented on #228
... bump.

[2015-06-26 17:54] muratg commented on #39
I doubt this is still an issue

[2015-06-26 17:54] #39 closed

[2015-07-04 13:35] w4g3n3r opened #244 "Unable to find package 'KoreBuild' on Arch Linux"
Build.sh fails to install KoreBuild in any of the aspnet projects.
[code]

[2015-07-04 14:37] pranavkm commented on #244
What feeds is your `NuGet.config` pointing to?

[2015-07-06 12:42] w4g3n3r commented on #244
The contents of my NuGet.Config file. I've also tried the vnext channel.
[code]

[2015-07-06 16:18] pranavkm commented on #244
The `KoreBuild` package seems to have been uploaded to Aspnetmaster about 4 days ago (See https://www.myget.org/gallery/aspnetmaster/). Could you try running `build.sh` again?

[2015-07-06 17:21] muratg commented on #244
@w4g3n3r do you still have the issue? The package is also on aspnetvnext feed so not sure why it was failing for you.

[2015-07-06 20:53] troydai opened #245 "Old author names still present in various build scripts and nuget specs"
Example:

https://github.com/aspnet/dnx/blob/dev/makefile.shade#L10
https://github.com/aspnet/Universe/blob/dev/build-template/makefile.shade
https://github.com/aspnet/Universe/blob/dev/KoreBuild.nuspec
https://github.com/aspnet/Universe/blob/dev/build/dnvm.ps1#L71

[2015-07-06 20:55] troydai commented on #245
/cc @Eilon @muratg

[2015-07-06 21:35] Eilon commented on #245
Yup, this is on my list. Assigning to me for now.

[2015-07-07 02:29] w4g3n3r commented on #244
I figured it out. I had to remove the /api/v2/ path off the AspNetVNext package source endpoint. Thanks guys.

[2015-07-07 02:29] #244 closed

[2015-07-07 15:18] victorhurdugaci commented on #235
This is done

[2015-07-07 15:18] #235 closed

[2015-07-10 18:11] muratg opened #246 "Korebuild should set NeutralResourcesLanguageAttribute as part of build"
https://github.com/aspnet/Options/issues/73
https://github.com/aspnet/DependencyInjection/issues/256
https://github.com/aspnet/Configuration/issues/245

[2015-07-10 18:12] muratg commented on #246
Not having this prevents UWP apps.

[2015-07-11 00:16] pranavkm opened #247 "Change how pin-version target works"
Right now, the pin-version target requires specifying the version of CoreCLR and Roslyn packages and uses this information to perform a find and replace in `project.json`s. This process doesn't inspire too much confidence since it doesn't discriminate between arbitrary lines in the file.

A better approach would be to pin the versions based on aspnetmaster feed \ Coherence drop. It removes the ris

[2015-07-15 10:07] davidfowl commented on #22
@pranavkm Does this matter anymore?

[2015-07-15 16:51] pranavkm commented on #22
It'll still be nice to do - we just have too many things that look for it under `artifacts\build`.

[2015-07-15 16:51] #22 closed

[2015-07-20 17:10] dougbu opened #248 "Extend `KoreBuild` to `dnu build` test projects"
Compilation warnings in test projects are not shown when `build.cmd` / `build.sh` executes. Users must either build in Visual Studio or manually execute `dnu build` in every test project to find warnings. This is slightly more than an annoying inconsistency because we have no protection against pushes slightly below our quality bar.

As discussed in aspnet/dnx#2284, a runtime feature to bridge thi

[2015-07-20 21:34] troydai commented on #247
Looks good to me. Did we try it in a dry run?

[2015-07-20 21:34] troydai commented on #247
:shipit:

[2015-07-20 21:43] pranavkm commented on #247
Yeah, tried it on the current release branch (with the `git push` commented out) and the results looked good.

[2015-07-22 16:39] victorhurdugaci opened #250 "Make CI builds runnable locally"
Today, we have a lot of steps in the CI which are not available in the actual build script. If you try to reproduce a CI build locally, you have to know a lot about the internals of the CI to be able to accomplish that.

We should move as many (all?) build steps inside the build script and have CI only set parameters and invoke `build.cmd/.sh`

[2015-07-22 16:41] victorhurdugaci opened #251 "Make Sake accept parameters"
It's ridiculous that you have to set environment variables in order to configure the build. Environment variables are not discoverable and you have to idea who's using them.

I propose we make the build script accept arguments that you can pass from the command line.

[2015-07-22 18:06] dougbu commented on #251
@victorhurdugaci we already have some targets that act like arguments e.g. `--quiet` and `--parallel`. Would it be sufficient to extend that model and leave Sake alone? (Might use environment variables as an implementation detail of course.)

[2015-07-22 18:30] victorhurdugaci commented on #251
That will not work. I want to be able to pass the names of the projects to build. There are lots of combinations, too many for hardcoded arguments

[2015-07-22 18:33] dougbu commented on #251
Makes sense. The `--X` approach really only works for `bool` command-line arguments (and only if you remember to specify a target like `default` or `verify` :smiley_cat:).

[2015-07-23 13:47] gingters opened #253 "Build template changes alias"
In the build.cmd template (https://github.com/aspnet/Universe/blob/dev/build-template/build.cmd) there is this part:

    CALL packages\KoreBuild\build\dnvm install default -runtime CoreCLR -arch x86

    :run
    CALL packages\KoreBuild\build\dnvm use default -runtime CLR -arch x86

The problem is that this globally changes the `default` alias, which messes up with existing setups.
The template s

[2015-07-23 16:29] Eilon commented on #253
Yeah I do find this a little bit odd, but it is likely designed with the assumption that somebody running this is constantly working on the product, so setting it globally "isn't so bad". But I dunno, I could see it either way on this...

[2015-07-24 17:16] kirthik commented on #232
Merged 8fdc2752624209f53d9e1b17b7906c66d7c8abfd

[2015-07-24 17:16] #232 closed

[2015-07-24 17:52] muratg commented on #246
@Eilon who's the best person to look into this?

[2015-07-30 01:48] halter73 commented on #141
This is still issue when you try to build Kestrel on mono.

[_k-test.shade](https://github.com/aspnet/Universe/blob/ed9b0f59b53847f8ee21a37c529f421bab9c54f7/build/_k-test.shade#L18) uses JavaScriptSerializer, and cannot handle the `true` literal in the [test project's project.json](https://github.com/aspnet/KestrelHttpServer/blob/343d69828649ffca6b0e8bb46aac414c2e7fb6ea/test/Microsoft.AspNet.Serve

[2015-07-30 05:15] pranavkm commented on #141
Could we switch to using the Dnx Json deserializer? Include it as source in the build scripts?

[2015-08-03 08:38] dmccaffery commented on #251
I wrote a new, fairly extensible, build system loosely based on KoreBuild (only better, with configurable ... everything through defaults instead of vars) that might prove to be useful. It's currently sitting in VSO, but I plan to release it to GitHub shortly. I'd value any input you might have if you're interested in looking at it before it's released.

[2015-08-03 08:39] dmccaffery commented on #251
I wrote a new, fairly extensible, build system loosely based on KoreBuild (only better, with configurable ... everything through defaults instead of vars) that might prove to be useful. It's currently sitting in VSO, but I plan to release it to GitHub shortly. I'd value any input you might have if you're interested in looking at it before it's released.

[2015-08-03 15:33] victorhurdugaci commented on #251
Does it support command line parameters? What's the OSS license on it (we cannot look until it has an OSS license)?

[2015-08-03 18:03] dmccaffery commented on #251
Unfortunately, no. It's built around Sake, so it has the same limitations. I plan to license it the same as KoreBuild, under MIT 2.0 or whatever it is. Since it uses some ideas from KoreBuild, it needs to have the same license and associated credits (not sure what is required, here, but I definitely want to give credit where it is due). The license file is already committed in VSO. If you ping me

[2015-08-03 18:06] dmccaffery commented on #251
Just looked, its Apache 2.0 (same as KoreBuild).

[2015-08-11 05:02] dmccaffery commented on #251
As a note, I finally got around to publishing Condo on GitHub: https://github.com/PulseBridge/Condo. I think I came up with a way to handle cmd line arguments, which I will implement soon.

[2015-08-11 05:22] victorhurdugaci commented on #251
cc @lodejard @pranavkm

[2015-08-12 19:44] #247 closed

[2015-08-14 17:48] Eilon commented on #246
Talked to @pranavkm and we will just do this manually in all the repos. We will then have an automated check that runs on every build as per https://github.com/aspnet/DnxTools/issues/3.

[2015-08-14 17:48] #246 closed

[2015-08-14 22:31] pranavkm commented on #141
Working with @loudej to fix Sake to allow loading Json.Net \ other random libraries.

[2015-08-15 19:29] victorhurdugaci opened #260 "Clear packages folder/cache + runtime on Linux/Mac CI"
The DNX build needs to clear the caches because you could get newer packages when you switch from dev to release

[2015-08-23 19:57] sklose opened #264 "Build with KoreBuild / Sake fails with sub folders"
I have the following folder structure in my Visual Studio project:

![image](https://cloud.githubusercontent.com/assets/546088/9429867/e1213b44-49ac-11e5-9d63-b068acb838b2.png)

which reflects the same folder structure on disk

![image](https://cloud.githubusercontent.com/assets/546088/9429877/22b919d2-49ad-11e5-90d5-72826283cd9a.png)

ComponentB.Impl needs to reference ComponentA.Abstractions. In

[2015-08-24 13:55] sklose commented on #264
Closing in favor of https://github.com/aspnet/dnx/issues/2548 since it seems to be an issue with dnu restore and not with KoreBuild

[2015-08-24 13:55] #264 closed

[2015-08-25 04:10] victorhurdugaci opened #265 "Add option to remove "src" from global.json"
This will be used to speed up the CI builds since we already have the product packages, there's no need to rebuild them during the test pass.

[2015-08-25 15:57] victorhurdugaci opened #266 "The dnvm in KoreBuild should use the litedev feed"
Otherwise, you'll might not be able to build

[2015-09-01 22:44] #141 closed

[2015-09-02 07:32] jeremymeng opened #269 "#native-compile should exclude certain known folders (e.g., node_modules, bower_components, etc.)"
My project depends on the `grunt-sass` package, which pulls in the `libsass` source that include a .vcxproj.  However the source isn't build-able (due to missing `sassc` source code dependency).

It would be nice to exclude some known folders from `native-compile` target.  I was able to temporarily work around it via

[code]

[2015-09-04 17:44] muratg commented on #153
I believe this is done automatically now. @pranavkm

[2015-09-04 17:44] #153 closed

[2015-09-04 17:47] #168 closed

[2015-09-04 17:48] #40 closed

[2015-09-04 17:49] muratg commented on #38
Kinda done with the recent changes.

[2015-09-04 17:49] #38 closed

[2015-09-04 17:50] muratg commented on #53
Not sure if this is still a requirement. Moving to backlog, but feel free to close if you no longer require this.

[2015-09-04 17:50] #92 closed

[2015-09-04 17:52] #79 closed

[2015-09-04 17:53] #82 closed

[2015-09-04 17:56] PinpointTownes commented on #99
@muratg AFAIK, this change has not been ported to the other repositories. There are still weird issues with paths containing spaces.

[2015-09-04 17:56] bricelam commented on #53
Closing. We'll figure out our own (EF-local) strategy for testing on various platforms and runtimes.

[2015-09-04 17:56] #53 closed

[2015-09-04 17:57] muratg commented on #103
I believe you automated this.  Making it work as a CI config is interesting, but closing for now.

[2015-09-04 17:57] #103 closed

[2015-09-04 17:58] #117 closed

[2015-09-04 18:01] muratg commented on #144
Doesn't seem to be an issue currently.

[2015-09-04 18:01] #144 closed

[2015-09-04 18:02] muratg commented on #104
Reopen if this is still an issue.

[2015-09-04 18:02] #104 closed

[2015-09-04 20:34] muratg commented on #99
@PinpointTownes oh, I see. Reopening and putting it in backlog.

[2015-09-04 22:29] muratg commented on #109
With caches etc, this is partially done. We can track any remaining optimizations separately. Closing this one.

[2015-09-04 22:29] #109 closed

[2015-09-04 22:30] muratg commented on #112
I don't think we should do this, as it is not safe to do so.

[2015-09-04 22:30] #112 closed

[2015-09-04 22:31] muratg commented on #116
This was a dup (of a bug I closed)  I don't think we should do this.

[2015-09-04 22:31] #116 closed

[2015-09-04 22:35] #126 closed

[2015-09-04 22:36] #155 closed

[2015-09-05 04:36] victorhurdugaci opened #271 "We need a way to clean the nuget/dnu caches on the CI"
Who wants to implement this? Volunteers? :D

[2015-09-05 04:40] davidfowl commented on #271
The CI shouldn;t be caching. We should just pass --no-cache to dnu restore on the ci. We also only cache if using http based sources (which we shouldnt; be on the ci).

[2015-09-05 15:52] pranavkm commented on #271
Can we instead add an option to redirect where the cache gets stashed (via env variable)? We can simply move it to that location in that case.
Alternatively if we're good citizens and clear the cache ever so often `%DNX_HOME%/temp/cache` would be a nice location to relocate it. We have %DNX_HOME% redirected to a subdir of the working directory on the CI so it we wouldn't need to do anything.

[2015-09-06 20:43] nil4 commented on #168
Would you mind giving a bit more details about why this was closed @muratg? Helios is still not public.

[2015-09-07 05:26] dougbu opened #272 "Support building with Core CLR (on Linux)"
Points to cover:
- [x] Use `IsLinux` and not `IsMono` when appropriate in `*.shade` files.
- [x] Remove `-runtime CLR -arch x86` from `dnvm use default` commands in `build.cmd` and `build.sh`. (Should run with whatever the user has chosen as `default`, even after aspnet/dnvm#405 is fixed.)
- [ ] Change `_k-test.shade` to skip tests for a different runtime than the current `default` on Linux. (Coul

[2015-09-08 17:02] muratg commented on #64
@victorhurdugaci Can we reuse some of the work from dnu source to make this happen?

[2015-09-08 17:55] pranavkm commented on #64
Could we simply provide the value of `AssemblyInformationalVersion` to DNX? Most CIs already have a way to get to the commit information, so we'd be able to embed this information in a source control system agnostic way.

[2015-09-08 18:39] muratg commented on #64
Sounds nice to me.

[2015-09-08 22:00] BrennanConroy commented on #272
Bullet #2 dnvm issue has been fixed

[2015-09-09 16:06] victorhurdugaci commented on #231
We are no longer going to build this repo on travis/appveyor: https://github.com/aspnet/Universe/pull/268

[2015-09-09 16:06] #231 closed

[2015-09-09 17:04] kichalla opened #273 "Builds pass silently even if some of the steps throw errors"
The build step where we try to create the symlink for the `Latest` build results in access denied errors...in this case we need to return an error code..currently the build silently passes.

[2015-09-09 17:05] muratg commented on #273
Could https://github.com/aspnet/dnvm/issues/428 be the reason?

[2015-09-09 17:07] kichalla commented on #273
@muratg thanks for the link...will investigate more and will get back.

[2015-09-09 18:03] HaoK opened #274 "Bring back some way to run tests for a single repo (or split MVC + Music store)"
I love how fast it is building in the new CI, but the workflow to verify/fix tests is pretty painful right now, as there's no way to rerun only failed tests (repos you are working on) so each iteration is a minimum of 50 minutes.

A simple mitigation would be to move MVC and Music store into a 3rd project since mostly its waiting 30 minutes to get to MVC + Music store tests to run/pass.

Core / EF

[2015-09-09 18:18] pranavkm commented on #274
cc @victorhurdugaci

[2015-09-10 16:07] muratg commented on #273
@kichalla any updates on the investigation?

[2015-09-10 16:11] kichalla commented on #273
@muratg yes, I found that we are not using exit codes properly to indicate a build failure. I have fixed this in our CI, so this issue is good to be closed.

[2015-09-10 16:11] #273 closed

[2015-09-10 16:46] pranavkm commented on #64
Spoke to @davidfowl about this. DNX currently uses the `AssemblyInformationalVersion` to stash the semantic version for the assembly and uses it in display. Consequently we can't use this attribute. We could use [https://msdn.microsoft.com/en-us/library/system.reflection.assemblymetadataattribute(v=vs.110).aspx](`AssemblyMetadataAttribute`) instead.

The recommended way of doing this would be to u

[2015-09-10 17:21] victorhurdugaci commented on #64
How will the commit hash work with source packages? You clone a repo, sync to that commit id but then how do you get the appropriate sources packages?

[2015-09-10 18:38] pranavkm commented on #64
@victorhurdugaci Isn't this for embedding info in assemblies?

[2015-09-10 18:56] victorhurdugaci commented on #64
Yes, but you embed it because you want to use it later. How are you going to use the hash with projects that use sources packages?

[2015-09-10 19:11] dmccaffery commented on #64
Condo already does this. You're welcome to use/copy this for KoreBuild:

https://github.com/PulseBridge/Condo/blob/75c0f77dccf567d517298c2a7d3449ce4412118b/src/build/sake/Condo.AssemblyInfo.shade

https://github.com/PulseBridge/Condo/blob/75c0f77dccf567d517298c2a7d3449ce4412118b/src/build/sake/_info-collect.shade

https://github.com/PulseBridge/Condo/blob/75c0f77dccf567d517298c2a7d3449ce4412118b/s

[2015-09-10 19:17] dmccaffery commented on #64
One other thing to point out; Condo does not rely on git being available at the command line to discover the commit id, branch, etc. It parses the git config files manually. It also supports emitting the commit id for TFVC if one is not using git.

[2015-09-10 23:25] BrennanConroy commented on #272
aspnet/dnvm#265 and aspnet/dnvm#405 both fixed

[2015-09-10 23:43] dougbu commented on #272
Thanks @BrennanConroy !  Have both fixes been pushed into Universe / KoreBuild?

[2015-09-10 23:47] BrennanConroy commented on #272
Oh... I think we manually update that repo once in a while?

Sent from my HTC

----- Reply message -----
From: "Doug Bunting" <notifications@github.com>
To: "aspnet/Universe" <Universe@noreply.github.com>
Cc: "Brennan Conroy" <brecon@microsoft.com>
Subject: [Universe] Support building with Core CLR (on Linux) (#272)
Date: Thu, Sep 10, 2015 4:43 PM

Thanks @BrennanConroy<https://na01.safelinks.prot

[2015-09-11 06:05] muratg commented on #64
I think @victorhurdugaci has a point.  *.Sources packages would not have this information embedded (since they're not actual assemblies, just build time dependencies.)

[2015-09-11 06:07] pranavkm commented on #64
Wouldn't that need to go in the package though? I thought embedded it in the assembly was purely informational - it's not a replacement for `dnu sources`

[2015-09-11 06:14] muratg commented on #64
We're removing `dnu sources` feature (for now.)

I agree though, this would definitely have informational value, and once we automate it, free.

[2015-09-11 06:37] pranavkm commented on #211
We simply don't run those two configs in parallel. Doesn't seem to be an issue anymore.

[2015-09-11 06:37] #211 closed

[2015-09-11 21:03] muratg commented on #68
Thanks folks. Closing this one, and feel free to file a suggestion for the wildcard behavior.

[2015-09-11 21:03] #68 closed

[2015-09-13 13:20] mishfit commented on #68
@thereverand On a Mac I often don't know the version of the package, just the name...this works for me (without editing project.json directly):

[code]

[2015-09-14 17:35] muratg commented on #274
Let's try to do it in Beta 8.  We can move to RC1 if it doesn't fit.

[2015-09-14 17:54] victorhurdugaci commented on #265
@muratg can you please assign this to the CI buddies?

[2015-09-14 17:55] victorhurdugaci commented on #260
@muratg can you please assign this to the CI buddies?

[2015-09-14 20:34] muratg commented on #265
@victorhurdugaci These type of tasks won't be assigned to CI rotation.

[2015-09-14 20:35] muratg commented on #260
@victorhurdugaci These type of tasks won't be assigned to CI rotation.

[2015-09-15 17:34] muratg commented on #215
Looks like this is not needed or done. Closing :)

Reactivate if it's still needed. Thanks @pranavkm

[2015-09-15 17:34] #215 closed

[2015-09-16 17:26] natemcmaster opened #279 "K ignores dnvmUse on Mono"
Related to https://github.com/aspnet/Universe/issues/272

Using `K(cmd,path,dnvmUse)` in a makefile.shade does not work as `K` ignores dnvmUse completely when running on Mono

[2015-09-16 18:31] dougbu commented on #279
@natemcmaster I was planning on addressing this bit as part of doing #272 (soon). Are you separating this out because you can't wait? If not, is this a dupe of @272?

[2015-09-16 18:33] natemcmaster commented on #279
@dougbu Yes, separating out because this is a bug. It took me a few weeks to realize [this command](https://github.com/aspnet/Microsoft.Data.Sqlite/commit/222ece84f318662dbfc35c593689de718deebf9e) is not actually running CoreCLR. It silently ignores the dnvmUse parameter.

[2015-09-19 20:54] davidfowl opened #284 "Fail the build if unignored source files are modified after build"
We might be have special case files like assemblyinfo if we ever change assembly versions or other things that way. But in general, after doing build.cmd there shouldn't be files that are modified in the git repo.

[2015-09-20 14:39] pranavkm commented on #284
What's the background for this? Don't think I've noticed repos that do this.

[2015-09-20 16:55] davidfowl opened #285 "Always run tests with verbose"
So if the tests hang we'll know which one is hanging

[2015-09-28 09:05] davidfowl opened #290 "Switch to coreclr for restore (at least on xplat)"
It works better than mono.

/cc @dougbu @pranavkm

[2015-09-29 15:52] muratg commented on #272
@dougbu is this still happening in beta 8? do we need to move it out?

[2015-09-29 15:58] dougbu commented on #272
Yes, move it out. We've now got a `dnvm.sh` that supports this work but I haven't spent the necessary time in the `.shade` (files). My plan is to do the work early in RC1.

[2015-10-03 00:11] pranavkm opened #293 "Branch Setup when branching for release"

[2015-10-05 07:10] Eilon commented on #293
@joeloff FYI

@pranavkm does this just involve adding the Setup repo to the update script? Or do we have to do anything in the Setup repo too? Or the CI machine?

[2015-10-05 13:27] pranavkm commented on #293
It's adding Setup to the list and making sure it branches correctly.

[2015-10-05 13:52] joeloff commented on #293
I doubt there's anything we'd would need to add for Setup.

[2015-10-06 18:19] dougbu commented on #272
2f76bcb

[2015-10-06 18:19] #272 closed

[2015-10-06 21:41] victorhurdugaci commented on #274
Fixed

[2015-10-06 21:41] #274 closed

[2015-10-06 23:41] #293 closed

[2015-10-08 16:25] muratg commented on #260
@pranavkm Thoughts on this one?

[2015-10-08 16:29] muratg commented on #260
Dup: #271

[2015-10-08 16:29] #260 closed

[2015-10-08 16:31] pranavkm commented on #260
We actually do this on the CI now.

[2015-10-08 17:03] muratg commented on #271
Closing this one too based on @pranavkm's comment on #260.

[2015-10-08 17:03] #271 closed

[2015-10-08 18:18] dougbu commented on #290
Self-assigning and moving into this milestone. Travis is just too annoying.

[2015-10-13 17:02] muratg opened #296 "Test and fix any issues with the triggers"
- [x] Normal build triggered with check-ins. I believe this already works
- [ ] Manually triggering `Common` when `UniverseTests` or EF tests fail
- [ ] Manually triggering `Common` again when `Common` fails

The second and the third were the scenarios we had issues with during Beta 8. Let's fix these to make our CI more solid.

cc @Eilon

[2015-10-13 17:04] muratg opened #297 "Enable Daily CoreCLR builds"
Now that we have the gate, make sure we get daily CoreCLR bits as long as we can build DNX with it. If a particular CoreCLR fails, CI rotation folks would be responsible for following up with CoreCLR.

cc @Eilon

[2015-10-13 17:07] muratg opened #298 "Implement gating mechanism form the Roslyn configuration and enable daily builds"
In Beta 8, picking up a new build of Roslyn after we haven't for a while caused EF to fail, and they had to react quickly.  We should implement a "gating" mechanism similar to that @pranavkm implemented for CoreCLR:  Try out a new Roslyn.  If it's good, take it, if not, CI rotation folks would need to follow up, but we can continue to use the 'last known good' Roslyn.  The gating mechanism should

[2015-10-13 21:39] divega commented on #298
:+1: Our codebase (all of ASP.NET and EF in particular) are good scenario tests for Roslyn and it makes sense to do this to find bugs before they become a pain.

[2015-10-14 12:24] jruckert commented on #297
By changing to CoreClr we cannot use a secure nuget/myget source when using the restore command, without using a preauthenticated feed, Is there an alternative for a CI server?

[2015-10-14 13:35] pranavkm commented on #297
@jruckert we mirror the coreclr packages that DNX is built against to the aspnetvnext \ aspnetcidev feeds.

[2015-10-14 16:57] Eilon commented on #297
Indeed, this is just internal build infrastructure. No one outside of Microsoft Building 44 should be affected by this :smile:

[2015-10-15 17:52] pranavkm commented on #297
This is working fine so far. We've been getting daily CoreCLR builds which are gated by DNX succeeding.

[2015-10-15 17:53] #297 closed

[2015-10-15 21:29] muratg opened #300 "Change all the project.jsons to use generations"
dnxcore -> netcore

[2015-10-17 21:27] dougbu commented on #279
This has been working fine since 618a73b

[2015-10-17 21:27] #279 closed

[2015-10-17 21:32] dougbu commented on #248
@victorhurdugaci fixed this in 7b0f6e7.

[2015-10-17 21:32] #248 closed

[2015-10-17 21:41] dougbu commented on #248
(guessing this was in Beta 8 but not 7)

[2015-10-17 21:45] dougbu commented on #253
We could choose a different alias but need _some_ alias because it's used not only in `build.cmd` and `build.sh` but also `_k-test.shade`. Current approach also works well when `$env:SKIP_DNX_INSTALL` is defined, as it is on our CI machines.

[2015-10-17 22:09] dougbu commented on #240
This issue remains though the symptoms have changed slightly.
- With many Linux distributions, need both the `nodejs` and the `nodejs-legacy` packages. The second ensures the `node` command that's found in the `$Path` is `nodejs`.
- Scripts no longer attempt to download `node.exe` on Linux machines. This means `node` commands fail as you'd expect, e.g.
[code]

Not much can be done here since build

[2015-10-17 22:25] dougbu commented on #204
Split `restore` in two in d679c85.

[2015-10-17 22:25] #204 closed

[2015-10-17 22:37] dougbu commented on #172
Fixed when we moved to `#!/usr/bin/env bash` shebang in a291884.

[2015-10-17 22:37] #172 closed

[2015-10-17 22:45] dougbu commented on #172
Actually fixed in Beta 6 but we don't have that milestone in this repo.

[2015-10-17 22:52] dougbu commented on #228
@dmccaffery suggest closing this as a dupe of #99.

[2015-10-17 22:54] dougbu commented on #290
Reopening since 4e87b0c was not a fix for this bug.

[2015-10-17 23:53] dmccaffery commented on #228
Closing as duplicate per @dougbu request.

[2015-10-17 23:53] #228 closed

[2015-10-19 17:07] muratg opened #304 "Enable CI CoreCLR test runs on Linux and OS X"

[2015-10-19 17:09] muratg opened #305 "Enable CI test runs on downlevel Windows"

[2015-10-19 17:10] victorhurdugaci commented on #305
This is done :)

[2015-10-19 17:41] pranavkm commented on #296
I didn't see any of these issues so far. I think the issue with canceling one of the DNX builds (from the trigger's logs), but I've haven't been able to repro the actual steps that cause this. I'll keep a look out for this issue.

[2015-10-20 08:03] davidfowl commented on #300
It's not netcore that's absolutely incorrect :smile:

[2015-10-20 15:35] muratg commented on #300
@davidfowl what's the correct moniker?

[2015-10-20 17:04] victorhurdugaci opened #306 "Create a release feed with pacakges that we don't ship"
Today if you clone old releases (beta7 or beta8), it's almost impossible to build because a lot of packages don't exist anymore (KoreBuild, *.Sources.*, etc) so you end up having to build the universe in order to build a simple repo.

I propose that we create a feed that we never clean up that has all the packages from major release that we don't ship on NuGet. Then, each NuGet.config from a tag w

[2015-10-20 17:16] pranavkm commented on #306
They should have a reference to aspnetmaster. We publish all our packages to it. Are you seeing issues here?

[2015-10-20 19:53] Eilon commented on #306
Indeed, we already have that all in aspnetmaster. To use a 'master' branch you need the 'master' feed. Nature is full of symmetries such as this :smile:

[2015-10-20 23:34] #306 closed

[2015-10-21 18:04] pakrym opened #307 "Change namespace and package name of Microsoft.Dnx.Runtime.Abstractions to Microsoft.Extensions.PlatformAbstractions"

[2015-10-21 18:05] pakrym opened #308 "Refactor CallContextServiceLocator usages"

[2015-10-21 18:06] pakrym opened #309 "Refactor dependency injection usage in projects"

[2015-10-22 22:10] moozzyk opened #310 "Verify that all managed dlls are signed and have the same public key token"
We need this verification once https://github.com/aspnet/dnx/issues/2615 is completed.

[2015-10-22 22:11] moozzyk commented on #310
/cc @ajaybhargavb @cesarbs

@muratg - please triage accordingly

[2015-10-22 23:24] muratg commented on #310
@ajaybhargavb this is something the verifier tool do, right?

[2015-10-22 23:28] ajaybhargavb commented on #310
Yes, but not sure if it verifies public key tokens.

[2015-10-22 23:43] muratg commented on #310
This is not urgent, but we'll need to do it at some point to ensure the identity of the packages stay the same in the future.  We may need to add the functionality to read the public key tokens, and compare them with a single hardcoded token.

[2015-10-26 16:45] #300 closed

[2015-10-27 19:07] pranavkm opened #315 "Change project.json to target minimal generations"
As a first pass in RC1, we modified project.jsons to target `net451` and `dotnet5.4` (https://github.com/aspnet/Universe/issues/300). To support EF in UAP, we added `netcore50` to libraries consumed by EF.

As a follow up, we need to determine the minimal generation to target. This would involve

* Replacing `net451` and `dotnet5.4` with a single `dotnet5.2` in projects where possible.
* Determine

[2015-10-27 19:14] Eilon commented on #310
The tool verifies that they are strong-name signed, but I think not the specific token. Can move the bug to DnxTools...

[2015-10-27 19:14] Eilon commented on #307
This bug should be in the DNX repo, no?

[2015-10-28 22:38] dougbu commented on #290
Part one of another run at this bug: aspnet/DNX@a2ed65a

[2015-10-29 17:32] #309 closed

[2015-10-29 17:32] #308 closed

[2015-10-29 17:32] #307 closed

[2015-10-29 17:38] pakrym commented on #309
Xunit changes: https://github.com/pakrym/aspnet.xunit

[2015-10-29 20:25] Eilon opened #316 "Rebase xunit fork on latest upstream, and send xunit a PR for the latest relevant changes"
The fork at https://github.com/aspnet/aspnet.xunit is both behind and ahead of the upstream branch.

We need to rebase the fork to the latest upstream, then send a PR with any relevant changes that we have in the fork.

@davidfowl @pakrym FYI

[2015-10-29 21:35] Eilon opened #317 "Change Universe to use an xcopy'ed version of Coherence"
Per discussion with @victorhurdugaci @muratg @divega @pakrym @pranavkm .

This should reduce the network cost of package restores by having all the network operations done once, ahead of time.

[2015-10-30 21:16] pakrym opened #318 "Rename Microsoft.Dnx.Compilation.Abstractions to Microsoft.Extensions.Compilation.Abstractions"

[2015-11-02 23:28] pakrym commented on #318
https://github.com/aspnet/Hosting/pull/459
https://github.com/aspnet/Diagnostics/pull/200
https://github.com/aspnet/Testing/pull/183
https://github.com/aspnet/dnx/pull/3117

[2015-11-03 23:25] #317 closed

[2015-11-04 03:09] dougbu commented on #316
First part ends at aspnet/aspnet.xunit@4f8591e

[2015-11-04 04:43] dougbu commented on #316
Upstream change proposal in xunit/dnx.xunit#62 but it can't go forward 'til we update vnext feed.

[2015-11-04 20:27] #318 closed

[2015-11-04 23:16] dougbu opened #319 "Update CI configuration for dnvm repo to restore user %Path% when done"
Looks like builds extend the `%Path%` value forever, eventually kicking out values we need. Likely culprit is builds in the dnvm repo. Other Windows builds have no reason to include `-p` when executing `dnvm` commands.

[2015-11-04 23:17] dougbu commented on #319
/cc @victorhurdugaci as discussed...

[2015-11-05 23:22] ctaggart commented on #131
At the Microsoft MVP Summit, I spoke with several key individuals today and we've come up with a great plan for source indexing. The primary push right now is to get debugging to work cross-platform. The [portable pdb format](https://github.com/dotnet/roslyn/blob/master/docs/specs/PortablePdb-Metadata.md) recently became 1.0 and Roslyn `csc.exe` can create them with a debug switch shipping with Vi

[2015-11-06 00:16] pranavkm commented on #131
cc @rynowak for symbro.

[2015-11-10 09:27] kyubisation opened #320 "(Second) Build failing if node is not installed (TeamCity)"
Hello :-)

If node is not installed (node --version doesn't work), then node is downloaded to the bin directory (_node-install.shade).

However on a TeamCity build (second and following), the target #ci-deep-clean is run, which further down the line runs #clean-bin-folder.
#clean-bin-folder uses the command "rimraf rimrafDir='bin' if='Directory.Exists("bin")'" to delete the bin directory, which to

[2015-11-10 22:02] dougbu commented on #320
The installation of `node` is intended as a temporary patch for Windows only. The installation is a no-op on all other platforms. Local installation of `node` programs such as `bower` and `grunt-cli` create extremely long paths which can cause failures (e.g. of `dnu restore`) elsewhere in the build. Therefore we install `node` system-wide and `bower`, `grunt-cli`, and `rimraf` globally i.e. with `

[2015-11-11 07:20] kyubisation commented on #320
I see. Thanks for the heads-up. :-)

[2015-11-11 07:20] #320 closed

[2015-11-14 00:18] dougbu commented on #290
Part two: 419d3a3

[2015-11-14 00:53] natemcmaster opened #322 "Reduce redundant compilation in KoreBuild"
When running a full build lifecycle, each project gets compile multiple times because we don't save the output to disk.

For example, `EntityFramework.Core` gets compiled 86 times when running KoreBuild on EF.

#### Full details:

Running `./build.cmd verify` compiles each project multiple times.

Project                  | Times Compiled
-------------------------|---
EntityFramework.Commands   |

[2015-11-18 00:21] dougbu commented on #290
Travis runs on Ubuntu 14.04 and performs `dnu restore` using .NET Core in all of our repos now.

[2015-11-18 00:21] #290 closed

[2015-11-18 00:47] pranavkm commented on #296
Closing this since we're not seeing any of the specified issues.

[2015-11-18 00:47] #296 closed

[2015-11-18 20:00] dougbu commented on #316
xunit/dnx.xunit#62 is now in.

[2015-11-18 20:00] #316 closed

[2015-11-20 23:02] victorhurdugaci opened #324 "Add support for dotnet CLI"
### Blocking issues:

- [x] Restore fails for tools built with imports https://github.com/dotnet/cli/issues/1181
- [x] Update the lock file format https://github.com/aspnet/dnx/pull/3327
- [x] Downgrade to CLR RC2
- [x] Build fails for build time dependencies https://github.com/dotnet/cli/issues/1093 https://github.com/dotnet/cli/pull/1100
- [x] Publish skips native artifacts from project referenc

[2015-11-20 23:08] muratg commented on #324
Yes, let's keep the current KoreBuild as is, since we will be porting the repos one by one, and in the meantime, we would need the existing KoreBuild to build repos that are not ported yet.

[2015-11-21 00:36] bricelam commented on #324
Do we still intend to use Sake?

[2015-11-21 00:37] victorhurdugaci commented on #324
AFAIK yes. Would you prefer something else?

[2015-11-21 00:41] bricelam commented on #324
Oh I just noticed most of the other .NET Core repos were usin xplat MSBuild...

[2015-11-21 02:46] muratg commented on #324
We can certainly discuss the options within the engineering team. Brice, feel free to start a discussion, and include Victor if you do :)

[2015-11-24 18:07] davidfowl commented on #324
@bricelam nice one :smile:

[2015-11-24 18:29] victorhurdugaci commented on #324
+1 for anything that's C# based
-1 for anything XML based

How about plain C# console apps? :)

[2015-11-24 18:30] Eilon commented on #324
@victorhurdugaci that's under consideration as well.

[2015-11-27 03:33] jeffogata commented on #113
I have started documenting what I've learned about Sake here:  http://sake-docs.readthedocs.org/en/latest/index.html

This is still a work in progress, but hopefully will help anyone curious about working with Sake.

[2015-11-29 07:03] theonlylawislove commented on #324
What are the plans to support DNX web projects? As it stands now, when running KoreBuild with a web project, it just does a "dnu pack" on it. I'm wondering how we will "dnu publish" the web projects.

I just did [some quick testing](https://github.com/theonlylawislove/vNextAwesomeWeb/commit/0587006a566c05ac5e98101e8b4bce028b9ab74b), modifying the ```makefile.shade``` file to perform a "dnu publish

[2015-11-29 07:16] victorhurdugaci commented on #324
KoreBuild is a what we use to build ASP.NET 5. It's not the recommended way to use Sake to build and publish web projects. Thus, it doesn't have support for many dnx features. There's no work item to add support for more than what we need to build ASP.NET.

That being said, your change to the makefile looks okay. If you need bower, you have to install it as a separate step and then make it accessi

[2015-11-29 17:13] theonlylawislove commented on #324
Hmm, that is interesting. I have been seeing KoreBuild used on other projects (even Web ones, like [here](https://github.com/aspnet/MusicStore/blob/dev/makefile.shade) and [here](https://github.com/OrchardCMS/Orchard2/blob/master/makefile.shade)) that have nothing to do with the web stack. I understand there is no documentation, but it seemed that this would be future of building .NET projects in

[2015-11-29 17:17] davidfowl commented on #324
There's 2 different components here:
- KoreBuild
- Sake

I expect that we'all move away from sake at some point when something better comes along. KoreBuild on he other hand will live on. It's an opinionated way to build projects. It relies on a certain directory structure but that's about it. If you can live with those opinions then it'll work great for your projects.

[2015-11-29 17:37] davidfowl commented on #324
Either and mvc sample or music store

[2015-11-30 16:57] JunTaoLuo opened #326 "Environment flags used during build should be checked for =="1" instead of existence"
Some build flags are set by existing https://github.com/aspnet/Universe/blob/dev/build/_k-standard-goals.shade#L361. This could be confusing since the setting the value to "0" still turns it on. We should check whether the value is "1" instead like https://github.com/aspnet/Universe/blob/dev/build/_k-standard-goals.shade#L366.

cc @victorhurdugaci

[2015-11-30 17:00] dougbu commented on #326
Disagree since `true`, `True`, and so on would inexplicably not do the needful. What is the use case for setting an environment variable to a value that means the same thing as not setting it at all?

[2015-11-30 17:50] JunTaoLuo commented on #326
Isn't it better to have consistency across different settings? We can even whitelist `1`, `true`, `True` as recognized settings that turns flags on but it is rather confusing that `0` would turn on the settings. In fact I already suspect that a setting in our build is accidentally turned on because of this.

Also, right now some settings are only turned on if the value is set to `1` and some are c

[2015-11-30 18:01] Eilon commented on #326
I think we often do explicitly check for `1`, `true`, and `True`, so this sounds fine. Checking existence sounds super error-prone to me.

[2015-11-30 18:03] dougbu commented on #326
@JunTaoLuo @Eilon this is completely internal: We're talking about environment variables that are rarely used off the CI machines. So, what errors are we concerned about? Why do more than check for existence -- make that consistent?

[2015-11-30 18:13] Eilon commented on #326
To prevent bugs in the build system. Internal or not, it's something we all use every day...

[2015-11-30 19:14] natemcmaster commented on #324
One more datapoint to consider: we currently [depend on Mono to run Sake](https://github.com/aspnet/Universe/blob/5ed05d34acafb803164b46eeab8216a1f4752fe6/build.sh#L31) on osx/linux. We have several compatibility issues with Mono, Nuget, and Entity Framework. Can we use coreclr to run Sake instead?

[2015-11-30 19:14] victorhurdugaci commented on #324
Sake doesn't run (yet?) on CoreCLR

[2015-11-30 19:18] natemcmaster commented on #324
In that case, +1 for MSBuild, -1 for Sake.

[2015-11-30 19:23] dougbu commented on #324
Last I looked, Sake ran fine on Core CLR. However aspnet/dnx#2566 (`dnu build` , `dnu pack` can't build for another framework when using Core) leads to a need to run many commands w/ Mono anyhow.

[2015-11-30 19:36] victorhurdugaci commented on #324
How do you run it on CoreCLR? It seems to only have an exe in it

[2015-11-30 20:01] natemcmaster commented on #324
@dougbu could you mean *"Sake can launch CoreCLR"*? KoreBuild executes Sake using mono.

[2015-11-30 20:07] dougbu commented on #324
@natemcmaster I meant it's possible to change KoreBuild to use Core CLR by default from `.shade` files. The "compatibility issues" you mentioned are primarily about what gets launched.

[2015-11-30 20:22] victorhurdugaci commented on #324
But Sake itself doesn't run on CoreCLR, right?

[2015-11-30 20:29] natemcmaster commented on #324
@victorhurdugaci correct, Sake.exe is executed against the full CLR (or mono), not CoreCLR.

[2015-11-30 20:37] pranavkm commented on #324
cc @loudej

[2015-11-30 20:45] theonlylawislove commented on #324
What benefit would you get making it a DNX project? It is a command line build tool. I can't imagine people will ever be using sake as a project.json command.

[2015-12-07 20:05] victorhurdugaci commented on #324
@theonlylawislove the benefit of having it a DNX project is not needing mono at all. You can just have CoreCLR

[2015-12-07 20:06] victorhurdugaci commented on #324
The work is happening [here](https://github.com/aspnet/Universe/tree/victorhu/dotnet) in case anyone needs the `KoreBuild-dotnet` package

[2015-12-07 20:09] theonlylawislove commented on #324
Do the new commands require environment variables to be already established (via running dnvm use)? Or, does every command take a "use" command, and the application will internally load the appropriate dnx runtime?

[2015-12-07 20:12] victorhurdugaci commented on #324
- `dotnet run -f <framework>` will run an application from sources on the specified framework. E.g: `dotnet run -f dnxcore50`
- If you run `dotnet compile`, you'll have executables for each framework

[2015-12-08 23:10] divega commented on #304
@cesarbs please let us know when you are doing this. We want to make sure EF tests are run an work great on Mac.

cc @natemcmaster

[2015-12-09 01:26] cesarbs commented on #326
My take, as I said in https://github.com/aspnet/Universe/pull/330, is to check that something is *not* `0` or `false` and treat all else as true. However I do concede it might be overkill and just checking for `== 1` could be all we need.

[2015-12-11 00:06] anurse opened #332 "nuget-install target doesn't work in DorkBuild"
See http://aspnetci/viewLog.html?buildId=42946&buildTypeId=Lite_Public_PlatformAbstractions&tab=buildLog#_state=89&focus=138

We try to run `dotnet packages add`, which isn't a thing :). We should temporarily use `dnu` for these.

/cc @victorhurdugaci

[2015-12-11 18:29] #332 closed

[2015-12-14 23:18] victorhurdugaci commented on #305
We got successful runs on all platforms. Closing

[2015-12-14 23:18] #305 closed

[2015-12-14 23:49] muratg commented on #305
So it's green forever? :)

Build buddies from now on should start watching these builds as well then.  cc @moozzyk @Tratcher

[2015-12-14 23:53] Tratcher commented on #305
Oh? 2008R2 has almost never passed.

[2015-12-14 23:57] muratg commented on #305
@victorhurdugaci?

[2015-12-18 18:26] muratg commented on #326
Per @Eilon's decision, we decided to just check for 1 and true (lowercase as far as I'm concerned) and ignore everything else.

[2015-12-21 19:45] victorhurdugaci commented on #324
https://github.com/aspnet/common now builds with dotnet

[2015-12-21 19:57] victorhurdugaci commented on #324
If anyone wants to try to upgrade their repo to dotnet, use this as a reference: https://github.com/aspnet/Common/commit/2137b669f9323498547d6b0d415f4fbdaaeb0b00

[2015-12-21 21:14] natemcmaster commented on #324
I tried to upgrade sqlite, but Mono 4.2.1 + nuget.exe do not agree. Are we making progress on removing our dependency on Mono to build and run?

[2015-12-21 21:22] victorhurdugaci commented on #324
1. Use Mono 4.0.5, we know that 4.2.1 is buggy and you'll hit a lot of issues.
2. Delete the cached NuGet so it can pick the latest version: https://github.com/aspnet/Universe/blob/dev/build-template-dotnet/build.sh#L16-L27

[2015-12-21 21:27] natemcmaster commented on #324
A chronic problem. On EF [we just avoid mono altogether](https://github.com/aspnet/EntityFramework/blob/dev/tools/coreclr-build.sh) as Mono seems to be forever-broken. Can we create an x-plat build script that does not depend on Mono and use `dotnet` completely?

[2015-12-22 00:51] davidfowl commented on #324
The only thing we'll use mono for is running tests. The cli and nuget will be xplat and self contained

[2015-12-23 02:52] victorhurdugaci opened #338 "KoreBuild-dotnet should support concurrent builds"
Because it builds the entire compilation graph everytime, there's a good chance it will hit locked files. It makes our parallel build fail... Dotnet will add support for it as part of: https://github.com/dotnet/cli/issues/383

This issue is to track that we still need to add support for this. For now I'll disable it.

[2015-12-23 18:36] MrAndMrsK opened #340 "How to disable Edit and Continue??"
When I'm working on client-side code I don't need the debugger actually engaged and I want to be able to edit my html/js/ts/css/whatever and just refresh my browser and see the updates.  But I can't edit when I'm debugging and IIS Express quits when I can edit.  In ASP.NET vBefore the first thing to do was disable Edit and Continue so that IIS Express would stay running and available.  I cannot fi

[2015-12-23 19:42] muratg commented on #340
This issue was moved to aspnet/Home#1196

[2015-12-23 19:42] #340 closed

[2015-12-23 19:43] muratg commented on #338
So when the dotnet-compile support goes in, do we just need to re-enable concurrent build, or will we need to change code?

[2015-12-23 19:44] victorhurdugaci commented on #338
Not sure yet. Depends on how they implement the support for concurrent builds

[2015-12-23 19:47] muratg commented on #338
Cool.  Putting in RC2 for now, since the CLI change seems to be scheduled for RC2 as well.  If it goes in too late, we'll move this one to 1.0.0

[2015-12-23 19:48] muratg commented on #326
@victorhurdugaci Is this something we should do in dorkbuild?

[2015-12-23 19:57] muratg commented on #319
Is this still valid for RC2?  DNVM and DNX are being retired...

[2015-12-23 19:58] muratg commented on #284
@davidfowl is this valid still?  What repo does this?

[2015-12-28 20:43] pranavkm opened #342 "Remove support for named parameters from `k-generate-resx.shade`"
The designer file that we generate supports named as well as indexed parameters in resx strings. AFAIK, this is not a common practice. Additionally, EF seems to seems a different generator for their resx files, so this wouldn't affect them.

[2016-01-03 02:26] Ermesx opened #343 "KoreBuild DNVM does not work when user path contains white spaces"
I have problem with running default build script using Sake and KoreBuild.
My user profile path looks like:  `C:\Users\Wojtek Gadziński\.dnx\...`
and the command which add runtime to the PATH doesn't work when path contains white spaces
The problem is located in [`dnvm.cmd`](https://github.com/aspnet/Universe/blob/dev/KoreBuild-dotnet/build/dnvm.cmd) file.

To resolve problem I've wrap `DNVM_CMD_P

[2016-01-03 02:40] Ermesx opened #344 "DNVM produce incorrect script for adding to PATH for non-English users"
When I resolve issue with white spaces in the path I encounter next issue this time with non-English characters in the path. My path is `C:\Users\Wojtek Gadziński\.dnx\...`
When `dnvm.ps1` generate temp script for adding runtime to the `PATH` is used cmdlet `Out-File` with option `ASCII`

[code]
and this produce for me command like `SET "PATH=C:\Users\Wojtek Gadzi?ski\.dnx\runtimes\...`
It convert

[2016-01-03 09:09] davidfowl opened #345 "Move KoreBuild into separate repository"
Right now Universe does 2 things:

1. Acts like an uber repository
2. Hosts KoreBuild

We should just move the build tools into another repository. It's actually been pretty weird having both in here since the beginning but we kinda rolled with it.

[2016-01-03 13:38] Ermesx commented on #344
I think I should move this issue to dnvm repository.

[2016-01-03 13:46] #344 closed

[2016-01-06 00:00] natemcmaster commented on #304
All EF tests are passing on OSX CI now. This required manually setting locale on our CI agents.

For future reference, due to https://github.com/dotnet/coreclr/issues/2531 I had to manually set environment variables to ensure the thread culture is "en-US", not "en-US-POSIX".

Env variables I added:

Var Name | Value
---------|---------
LANG |	 en_US.UTF-8
LC_COLLATE|	 en_US.UTF-8
LC_CTYPE	| en_US.

[2016-01-06 17:03] muratg commented on #304
:clap: :100:

[2016-01-06 18:16] Ermesx commented on #343
The same story with KoreBuild-dotnet.

[2016-01-06 21:55] cesarbs commented on #304
@natemcmaster Did you set them in-proc or globally on the agent?

[2016-01-06 22:01] natemcmaster commented on #304
Globally on our Mac agents in `<TeamCity Agent Home>/conf/buildagent.properties`

[2016-01-07 17:37] victorhurdugaci opened #347 "Refactor build.cmd/sh to not include blocks"
Do this after the dotnet migration

[2016-01-07 18:10] victorhurdugaci commented on #347
More details in this PR: https://github.com/aspnet/HtmlAbstractions/pull/10#discussion_r49028200

[2016-01-07 20:03] danroth27 commented on #324
@piotrpMSFT

[2016-01-12 18:36] #266 closed

[2016-01-12 18:37] muratg commented on #265
Is this still needed with the dorkbuild?

[2016-01-12 18:38] victorhurdugaci commented on #265
No

[2016-01-12 18:38] #265 closed

[2016-01-12 18:38] muratg commented on #315
I assume this changes with dotnet CLI and dorkbuild?

[2016-01-12 18:39] muratg commented on #322
Valid with dorkbuild too?

[2016-01-12 18:43] natemcmaster commented on #322
Until dotnet cli supports incremental builds, dorkbuild has the same issue. @victorhurdugaci, right?

[2016-01-12 18:44] victorhurdugaci commented on #322
Correct

[2016-01-12 22:45] pranavkm opened #349 ".travis.yml should install `openssl` on OSX"
Based on https://github.com/aspnet/Razor/pull/661/files#r49520330:

We need to add a `before_install` step that installs icu4c if we're running on OSX:

[code]

Followed by bulk updating repos.

[2016-01-13 00:12] victorhurdugaci commented on #349
Is it needed for every repo?

[2016-01-13 00:14] pranavkm commented on #349
cc @dougbu

[2016-01-13 00:21] cesarbs opened #350 "KoreBuild.cmd is setting DOTNET_HOME wrong"
Need to set it without `\bin`.

[2016-01-13 06:49] dougbu commented on #349
@victorhurdugaci we need ICU everywhere we execute w/ .NET Core. But this issue is less about absolute requirements and more about consistency -- in this case, with the `addons` list: We should also `brew install` everything needed even if the Travis images provide something by default (for now).

[2016-01-13 17:26] bricelam commented on #315
I think we need updated UWP/NuGet tooling to support anything besides `netcore50` and `dotnet50`... But I'm sure it's in the works.

[2016-01-13 20:03] #350 closed

[2016-01-13 20:08] cesarbs opened #353 "Build is not honoring KOREBUILD_TEST_DNXCORE and KOREBUILD_TEST_SKIPMONO"

[2016-01-14 16:53] #353 closed

[2016-01-15 08:01] CADbloke commented on #15
https://github.com/CADbloke/EntityFramework/commits/dev/EntityFramework.sln.DotSettings

[2016-01-15 08:01] CADbloke commented on #15
https://github.com/aspnet/EntityFramework/commits/dev/EntityFramework.sln.DotSettings

[2016-01-15 22:17] muratg commented on #349
@dougbu Are you able to take this?

[2016-01-15 22:57] dougbu commented on #349
I can do the batch update pretty quickly but my RC2 bug backlog may mean it takes a bit for me to get to it. But I think it's fine to do in a week or so. Any objections?

[2016-01-15 23:23] muratg commented on #349
:+1+

[2016-01-16 01:02] natemcmaster commented on #322
Just FYI. (this doesn't include the in-memory compilcations by dnx when we test dnxcore50, just `dotnet compile`)

Project | Times compiled by dotnet
-----------|------------------------
EntityFramework.Commands   |   12
EntityFramework.Commands.FunctionalTests   |   2
EntityFramework.Commands.Tests   |   1
**EntityFramework.Core**   |   **44**
EntityFramework.Core.FunctionalTests   |   26
EntityF

[2016-01-16 01:04] muratg commented on #322
Ugh..  I'm sure other repos are similarly affected.

Is the fix in dotnet build, or do we need to make changes in dorkbuild too?

[2016-01-16 01:09] pranavkm commented on #322
I think `dotnet build` has to support incremental compilation. Right now publishing a project for tests, results in compiling all the dependencies.

[2016-01-16 01:15] muratg commented on #322
Looks like this is tracked.  https://github.com/dotnet/cli/issues/232

@danroth27 this may be another bug to track in the shiproom.  Basically, our build very slow with dotnet build.

[2016-01-16 05:00] victorhurdugaci commented on #322
With dotnet it's a known issue.

In dnx we don't have that problem. At least not if you use KoreBuild V2. It uses globbing patterns so it doesn't recompile the entire dependency chain every time. So, for DNX you can either build with a globbing pattern (e.g. `dnu build src/**/*.json`) or set `KOREBUILD_BUILD_V2` = 1 to do that during `build.cmd/.sh`

[2016-01-16 05:00] victorhurdugaci commented on #322
Leave this bug open because I'm going to use it to track the incremental build for `KoreBuild-dotnet`

[2016-01-16 05:01] victorhurdugaci commented on #322
Scratch that last comment. There's already an issue to track that https://github.com/aspnet/Universe/issues/338

[2016-01-16 05:01] #322 closed

[2016-01-16 05:03] victorhurdugaci commented on #253
dnvm is no longer used in KoreBuild so this will not be a bug anymore

[2016-01-16 05:03] #253 closed

[2016-01-16 05:05] victorhurdugaci commented on #194
Not applicable anymore

[2016-01-16 05:05] #194 closed

[2016-01-16 05:10] victorhurdugaci commented on #343
`dnvm` doesn't exist anymore in `dotnet`, and we're not going to fix this bug in `KoreBuild`.

`KoreBuild-dotnet` will stop using `dnvm` very soon so this problem will go away.

[2016-01-16 05:10] #343 closed

[2016-01-16 05:10] victorhurdugaci commented on #342
@pranavkm still applicable in KoreBuild-dotnet?

[2016-01-16 05:12] victorhurdugaci commented on #121
@glennc still applicable?

[2016-01-16 18:36] pranavkm commented on #342
`build resx` no longer works in KoreBuild-dotnet. If the plan is to switch to to VS generated resx designer files, this is no longer an issue.

[2016-01-18 12:33] davidfowl commented on #315
We need to take another look at this.

[2016-01-19 16:57] muratg commented on #315
@davidfowl what needs to be done? for libraries we just change the TFM, no?

Maybe more is involved for user-secrets, iis-publish etc.

[2016-01-19 17:16] muratg commented on #324
xunit runner issue (https://github.com/dotnet/cli/issues/18) seems to have something to test with now. @victorhurdugaci When can we test this?

[2016-01-25 01:36] victorhurdugaci commented on #338
This is happening automatically with the latest CLI. There's no work needed on our side.

[2016-01-25 01:36] #338 closed

[2016-01-25 23:46] JunTaoLuo opened #360 "Add target to specify src directories to build and test directories to test"
Add additional targets that are used to specify the folders to build and test. These will be defaulted to `src` and `test` but can be overridden if required. cc @victorhurdugaci

[2016-01-27 19:01] natemcmaster commented on #324
FWIW, dnx testing is no longer working for EF. DNX has not kept up with changes in corefx and on OSX El Capitan, parts of the BCL don't work on "dnxcore50" anymore. We can't test on x-plat until we get an xunit runner to replace dnx

[2016-01-27 21:28] muratg commented on #324
I think someone said this morning that @anurse has a DNX change to remedy this?

[2016-01-27 23:59] anurse commented on #324
https://github.com/aspnet/dnx/pull/3327 - I haven't had a chance to finish it and get it in. If someone wants to take it up, it should basically be working, just needs some quick testing and merging.

[2016-01-29 00:11] victorhurdugaci opened #362 "Copy packages from external feeds"
So far we need:

- Microsoft.DotNet.Cli.Utils
- Microsoft.DotNet.ProjectModel.Loader
- Microsoft.DotNet.ProjectModel
- The xunit runner
- The command line parser from CLI

With all their dependencies, of course

cc @bricelam @moozzyk

[2016-01-29 00:22] moozzyk commented on #362
+ "Microsoft.DotNet.ProjectModel"

[2016-01-30 00:52] prafullbhosale commented on #362
+ "Microsoft.DotNet.ProjectModel.Loader"
"Microsoft.DotNet.ProjectModel.Workspaces"

[2016-01-30 03:08] pranavkm commented on #362
Wouldn't that eventually end up in the CoreCLR feed?

[2016-02-01 22:17] muratg commented on #315
@davidfowl Are you looking into this?

[2016-02-04 17:35] muratg commented on #315
@pranavkm Let's chat when you're back to understand what needs to be done.

[2016-02-09 18:51] #362 closed

[2016-02-10 21:26] moozzyk opened #377 "Remove mono from travis.yml"
With conversion to dotnet we should no longer need to install mono when running builds on travis. It adds about 2 minutes to each build.

[2016-02-11 17:43] davidfowl opened #379 "Remove facade references from projects"
Across the board we need to remove the facade assemblies from our projects. This includes System.Runtime and family (anything under the facades folder on .NET Framework *).

/cc @bricelam @pranavkm

[2016-02-11 18:01] bricelam commented on #379
We can't yet. Packages like `System.Diagnostics.DiagnosticSource`, `xuint.assert` & `xunit.extensibility.core` don't follow the rules.

[2016-02-11 22:34] victorhurdugaci opened #381 "Disable app domains for tests using custom attributes"
cc @JunTaoLuo

[2016-02-12 03:32] PinpointTownes commented on #99
FYI, this bug is still present in the CLI flavor of `build.cmd`. It might be a good thing to fix it soon, no? :smile:

[2016-02-12 07:52] muratg commented on #99
Isn't there a bug in CLI repo tracking this?

[2016-02-12 18:05] pranavkm opened #382 "Consider not doing invoking k-clean as part of default build target"
We invoke `k-clean` as part of the default build lifecycle in k-standard-goals - https://github.com/aspnet/Universe/blob/dev/KoreBuild-dotnet/build/_k-standard-goals.shade#L90-L91. On the CLI, this affects incremental compilation (we throw away binaries that could be used for incremental compilation). Consequently running build multiple times is much slower than what it could be.

One suggestion w

[2016-02-13 00:56] DavidObando opened #384 "Upgrade *nix KoreBuild.sh to use dotnet 1.0.0.1333"
Currently KoreBuild.sh is set to version `1.0.0.001244` which has a badly linked `System.Net.Http.Native.so` file. **This badly linked libcurl has cert problems that break our `dotnet restore` process.** We need to upgrade to `1.0.0.1333`.

The build lab was creating this broken native binary until about a week ago. `System.Net.Http` version 23809 and later are free of this problem. This is a bloc

[2016-02-13 01:01] DavidObando commented on #384
/cc  @NTaylorMullen @SajayAntony @muratg @victorhurdugaci

[2016-02-13 01:23] DavidObando commented on #384
/cc @pranavkm

[2016-02-13 21:01] davidfowl commented on #379
@bricelam Which rules are those?

[2016-02-16 17:14] bricelam commented on #379
@davidfowl keeping PCLs under `portable-*` directories, and declaring proper dependencies for `dotnet`

[2016-02-16 17:14] #379 closed

[2016-02-16 20:14] natemcmaster commented on #381
Is this due to the disappearing tests on full .NET https://github.com/aspnet/Testing/issues/203? Disabling app domains doesn't always fix the problem (as in EF tests). The fix for EF is to change all tests from `dnx451` => `net451`

[2016-02-16 20:36] pranavkm opened #385 "Remove dotnet-pack hack once we update to CLI build with https://github.com/dotnet/cli/pull/1439"
Need to undo changes made to `_dotnet-pack.shade` made as part of https://github.com/aspnet/Universe/commit/a192f799058bf81aeb43e81d2b5e820164807f05#diff-8df17aca7cb204ad57c6581948614cbbR22

[2016-02-16 20:37] pranavkm commented on #385
CLI issue: https://github.com/dotnet/cli/issues/1366

[2016-02-16 22:34] JunTaoLuo commented on #381
Hmm I'll try the approach mentioned above.

[2016-02-16 23:14] pranavkm commented on #381
:+1: to switching to net451. If you feel up to it, feel free to bulk update tests in all our repos to switch to `net451`.

[2016-02-18 04:31] victorhurdugaci commented on #377
We still need it to run `dnx451` tests... Unless I'm missing something...

[2016-02-18 04:32] victorhurdugaci commented on #384
We plan to have a gate mechanism for the CLI and it upgrade automatically to the latest version if the gate tests pass. @ryanbrandenburg works on this

[2016-02-18 05:53] moozzyk commented on #377
I thought we were running only CoreClr tests on non-Windows. If we run dnx451 then you are right and we can close this.

[2016-02-18 16:43] victorhurdugaci commented on #377
We still run the dnx451 tests and AFAIK there's no plan to stop doing that.

[2016-02-18 16:43] #377 closed

[2016-02-18 18:32] NTaylorMullen commented on #384
I believe this is fixed now. @troydai you said that they pushed a new dotnetcli set of packages. Does this mean we have also pulled their new `dotnet` cmd?

[2016-02-18 18:57] DavidObando commented on #384
If the issue doesn't repro anymore in the Travis boxes I'm more than happy to close this one as fixed.

[2016-02-19 00:15] tushargupta51 opened #389 "Pass --configuration parameter to dotnet-test"
We are using korebuild to build our library: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet. We set Configuration property to "Release" in makefile.shade.

This is what is happening step by step:

1. Korebuild.cmd first runs `dotnet pack` on all the projects under `src` directory, this generates nugets under bin\Release which is good
2. Then, it runs `dotnet b

[2016-02-19 21:37] DavidObando commented on #384
The issue is resolved. We're still affected by the segmentation fault issue in Linux (exit code 139) which got resolved last week dotnet/coreclr@149bc3f. Looking forward to the gate pass @victorhurdugaci mentioned to be operational.

[2016-02-19 21:37] #384 closed

[2016-02-21 23:38] Eilon commented on #389
@pranavkm @victorhurdugaci any ideas on this?

[2016-02-22 06:32] victorhurdugaci commented on #389
I can take a look at this tomorrow

[2016-02-22 18:00] #389 closed

[2016-02-22 18:37] natemcmaster opened #393 "Update build to mono 4.2.2"
[Mono 4.2.2](http://www.mono-project.com/docs/about-mono/releases/4.2.2/) is the latest public release (Jan 28, 2016) and includes many fixes to async, LINQ, assembly loading, and networking.  We should consider updating our build to leverage this upgrade.

In particular, this fixes the xunit runner error [(example here)](https://travis-ci.org/aspnet/Microsoft.Data.Sqlite/jobs/110528804#L1917):

[

[2016-02-22 18:43] natemcmaster opened #394 "Consider caching nuget and dotnet to speed up AppVeyor/Travis"
`dotnet restore` can take >5min of CI time for big projects such as EF. AppVeyor and Travis support caching from build to build. We should consider leveraging this to improve the CI speed by caching NuGet packages.
- https://www.appveyor.com/docs/build-cache
- https://docs.travis-ci.com/user/caching/

Important considerations:
- how to automate cleaning bad caches
- PR's can add to cache as well.

[2016-02-22 19:03] tushargupta51 commented on #389
@victorhurdugaci Awesome! Thanks :)

[2016-02-22 19:28] dougbu commented on #393
Suggest adding a bullet to execute tests in the MVC repo prior to getting too far along on this. We have a few issues with Mono builds after 4.0.x in that repo, even after getting past issues such as aspnet/External#48. aspnet/External#32 is one example and we never debugged that action selection issue deeply enough to report a useful bug to Xamarin (https://bugzilla.xamarin.com/show_bug.cgi?id=33

[2016-02-23 09:09] davidfowl commented on #324
MVC is done!  /cc @pranavkm

[2016-02-23 17:57] victorhurdugaci commented on #324
BAM! Closing this because it is done

[2016-02-23 17:57] #324 closed

[2016-02-23 19:00] #382 closed

[2016-02-23 21:05] tushargupta51 opened #400 "dotnet test skipped for dnxcore50 tests"
This started happening because of a recent change in _k-standard-goals.shade, specifically here:

https://github.com/aspnet/Universe/blob/dev/KoreBuild-dotnet/build/_k-standard-goals.shade#L196

The assumption here is that dotnet-test-xunit is listed in every project.json that has dnxcore50 tests. But that is not true. For example. Microsoft.IdentityModel.Logging.Tests (https://github.com/AzureAD/

[2016-02-23 21:05] tushargupta51 commented on #400
@pranavkm

[2016-02-23 22:02] pranavkm commented on #400
The plan's to remove the conditional check once Mvc uses the cli to run tests. Should be soon.

[2016-02-23 23:26] natemcmaster commented on #393
Mono 4.2.2 + nuget.exe continues to have lingering networking issues "Invalid chucked data" errors. We may not need to worry once we switch to dotnet-do

[2016-02-24 01:32] JunTaoLuo commented on #381
All repos have been checked. Some will retain dnx451 due to dependencies on test sites (but they either do not require custom test discovery or have no issues with it) and EF's update is in PR https://github.com/aspnet/EntityFramework/pull/4509.

[2016-02-24 01:32] #381 closed

[2016-02-24 18:51] dougbu commented on #347
Poaching this because I was looking at unexpected differences between repos. This problem has been fixed in a few but not the majority.

[2016-02-24 20:11] #400 closed

[2016-02-24 21:52] tushargupta51 commented on #400
@pranavkm thanks :)

[2016-02-24 23:29] dougbu commented on #347
edd1f7a and loads of commits in individual repos to match

[2016-02-24 23:29] #347 closed

[2016-02-25 20:29] pranavkm opened #407 "Determine a way to specify that a project should not execute tests in parallel"
We currently have a mechanism where specifying an environment variable would cause KoreBuild to specify `-parallel none` flag to runner. The environment variable is defined in several different places - the CI build configuration, in .travis.yml and in build.cmd \ build.sh.

1. Customizing build.cmd \ build.sh causes issues makes it harder to bulk update these files (and might go away entirely wit

[2016-02-27 01:14] moozzyk opened #409 "cli always downloaded on Mac"
Looks like there is something wrong with the logic that checks if dotnet cli should be installed on Mac when running build.sh:

This is what's on the box:
[code]
This is supposedly the latest version on the server:

[code]

Because of the mismatch the build script downloads the latest runtime but it's the one that is already installed:

[code]

[2016-02-27 01:14] moozzyk commented on #409
/cc @victorhurdugaci

[2016-02-27 02:09] victorhurdugaci commented on #409
Interesting... This is bug for github.com/dotnet/cli because we get the scripts from there

[2016-02-29 21:58] muratg commented on #409
@moozzyk could you file a bug on dotnet/cli and close?

[2016-02-29 21:59] muratg commented on #394
@victorhurdugaci do we have this now?

[2016-02-29 22:31] victorhurdugaci commented on #394
Nope. We can look into this but it's pretty dangerous IMO. The best results are when the environment in clean and completely separated from the previous runs.

[2016-02-29 22:31] victorhurdugaci commented on #394
I think the caches make sense for things that don't change, not for packages. Maybe (just maybe!) we could cache the latest coherence

[2016-02-29 23:21] moozzyk commented on #409
I actually think the bug is in our [script](https://github.com/aspnet/KoreBuild/blob/dev/build/dotnet/install.sh#L178-L191). We pin the build and then compare local hash with the latest and then download the pinned build.

[2016-02-29 23:22] victorhurdugaci commented on #409
Those scripts are a copy of https://github.com/dotnet/cli/tree/rel/1.0.0/scripts/obtain

[2016-02-29 23:24] moozzyk commented on #409
I see - I did not know.

[2016-03-01 00:05] moozzyk commented on #409
Created a bug in cli repo https://github.com/dotnet/cli/issues/1628 and sent a PR with a fix.

[2016-03-01 00:05] #409 closed

[2016-03-01 00:46] pranavkm commented on #212
We don't have any cyclical dependencies left. Building Universe works.

[2016-03-01 00:46] #212 closed

[2016-03-01 01:11] muratg commented on #212
YAY!

[2016-03-03 17:33] prafullbhosale commented on #362
@victorhurdugaci @pranavkm
The feed seems to be missing ProjectModel.Workspaces package

[2016-03-03 17:34] victorhurdugaci commented on #362
@prafullbhosale do you want to send a PR with the packages you need. You have to include them in this list: https://github.com/aspnet/CoreCLR/blob/dev/tools/MirrorLatestCoreCLR/Program.cs#L65-L73

[2016-03-03 17:40] prafullbhosale commented on #362
@victorhurdugaci I don't seem to have access to CoreCLR repo.

[2016-03-03 17:41] victorhurdugaci commented on #362
No worries, I'll add it for you. Is `ProjectModel.Workspaces` the only packages?

[2016-03-03 17:49] prafullbhosale commented on #362
Thanks!!

Yes ProjectModel.Workspaces, but along with its dependencies:
"Microsoft.DotNet.Compiler.Common"
"Microsoft.DotNet.Cli.Utils"
"Microsoft.DotNet.Files"

[2016-03-04 09:41] #345 closed

[2016-03-04 09:41] #285 closed

[2016-03-04 09:41] #284 closed

[2016-03-04 09:43] #64 closed

[2016-03-04 09:43] #34 closed

[2016-03-04 09:44] davidfowl commented on #385
This if fixed now right?

[2016-03-04 18:17] pranavkm commented on #385
Yup.

[2016-03-04 18:17] #385 closed

[2016-03-08 18:43] victorhurdugaci commented on #362
Some packages are missing from the feed. https://github.com/dotnet/cli/issues/1755

[2016-03-09 23:13] natemcmaster commented on #394
We can mitigate the danger. Travis and AppVeyor have hooks for after a failed build. We could delete the package cache anytime a build fails. Furthermore, we can isolate PRs from caching. Both Travis and AppVeyor set different env variables when the build is for a PR. We could use this to put downloaded packages in a non-cached location.

[2016-03-13 15:44] pranavkm commented on #315
* [*] PlatformAbstractions - Has to be cross compiled due to System.AppContext reference
* [*] Common
* [ ] Testing
* [*] JsonPatch
* [*] FileSystem - Microsoft.Extensions.FileProviders.Physical, FileSystemGlobbing have to be cross compiled due to System.IO.FileSystem reference
* [*] DependencyInjection
* [ ] Microsoft.Data.Sqlite - System.Data.SqlClient package is bad which prevents us from cross

[2016-03-13 16:06] pranavkm commented on #315
@bricelam we could avoid cross compiling some of the projects in EF (need to replace System.ReflectionTypeExtension methods with vanilla GetTypeInfo() calls). I'm not sure if that would affect the csproj generation though.

[2016-03-14 15:45] bricelam commented on #315
I prototyped using our csproj generation for netstandard projects. It will require a little tweaking, but should work.

We wanted to stop cross-compiling in aspnet/EntityFramework#4578. When doing the work, I failed to realize that just because our dependencies cross-compile doesn't mean that we have to.

[2016-03-14 20:53] pranavkm opened #415 "Create a master-docs branch as part of creating master branch"
We'll use this for ongoing API doc changes once we've branched master. We need to figure out a way to merge any doc changes made in this branch back into dev.

cc @danroth27

[2016-03-15 20:27] pranavkm commented on #315
How does that work?

[2016-03-16 15:57] bricelam commented on #315
If the identities of types are the same between frameworks, it doesn't really matter which one you're compiled against. It's the classic bait-and-switch model.

[2016-03-16 16:06] victorhurdugaci opened #419 "Centralize environment variable reading"
If we use any environment variable in our scripts we should read it in a single place and store it in a variables. Also, reading all variables should be the first thing that the script does when it starts and it should print **all** the variables it uses + their value.

Things like `GetEnvironmentVariable` or `E()` should not appear anywhere in the script other than this central place that creates

[2016-03-17 17:33] ajaybhargavb commented on #310
aspnet/DnxTools@feda5f471c847ce3d0cb51242aab3c8ecf97f9ba

[2016-03-17 17:33] #310 closed

[2016-03-17 20:08] prafullbhosale commented on #362
@victorhurdugaci dotnet/cli#1755 is closed. Can you please add these packages to the aspnetcidev  feed?

[2016-03-18 01:29] victorhurdugaci opened #423 "Cache coherence without a build number as folder name"
Because we're caching it in a folder with the build number, we keep using disk space and never reclaim it.

If you need to know what coherence is cached, drop a text file.

[2016-03-21 22:10] pranavkm commented on #315
Spoke to @bricelam and we decided there wasn't anything we needed to at this stage.

[2016-03-21 22:10] #315 closed

[2016-03-22 17:33] cesarbs opened #425 "Expand NuGet packages when caching Coherence"

[2016-03-23 00:43] #423 closed

[2016-03-23 00:43] #425 closed

[2016-03-28 20:49] muratg commented on #407
I assume this one's no longer valid anymore. Closing. :)

[2016-03-28 20:49] #407 closed

[2016-03-28 20:49] muratg commented on #394
Should this be in KoreBuild repo now?

[2016-03-28 20:50] muratg commented on #415
KoreBuild repo?

[2016-03-28 20:50] muratg commented on #419
KoreBuild repo?

[2016-03-28 20:53] pranavkm commented on #407
We still need this. There are a couple of tests (like ServerTests) that I think don't work in parallel.

[2016-03-28 20:54] pranavkm commented on #407
Oh nevermind. The KoreBuild one should take care of tracking the actual issue.

[2016-03-29 00:18] muratg commented on #298
I believe the current plan is to integrate Roslyn gate to the current gate ("CoreCLR").

@ryanbrandenburg will you be doing this work?

[2016-03-29 15:41] ryanbrandenburg commented on #298
I haven't been instructed to do this work, but I'd be interested and willing assuming @Eilon doesn't want someone else or have other plans for me. It might be worth just confirming that we still want this for RC2 considering how late in the game it is though.

[2016-03-29 15:47] Eilon commented on #298
I'm fine with anyone doing this, so long as said person knows what to do here :smile:

[2016-03-29 15:57] muratg commented on #298
Basically we try taking a new Roslyn in the "CoreCLR" configuration. Possibly running an EF build with it in addition to running "Build Universe, run MusicStore" test.

[2016-03-29 16:04] muratg commented on #298
Looks like @pranavkm is already on it: https://github.com/aspnet/CoreCLR/pull/80

[2016-03-29 16:41] pranavkm commented on #298
We need to unstick the Roslyn versions in our project.json to go with this change -

* https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/project.json#L19
* https://github.com/aspnet/EntityFramework/blob/bfadc70c7f677641199a3c7ed80c20022379158c/test/Microsoft.EntityFrameworkCore.Relational.Design.FunctionalTests/project.json#L17
* https://github.com/aspnet/Scaffolding/blob/0

[2016-03-29 17:08] ryanbrandenburg commented on #298
Looks like there's also:
- https://github.com/aspnet/Scaffolding/blob/078ee20cd6359d0d4b1ec50378ece55a6e9c072b/src/Microsoft.Extensions.CodeGeneration/project.json#L9
- https://github.com/aspnet/Scaffolding/blob/078ee20cd6359d0d4b1ec50378ece55a6e9c072b/src/Microsoft.Extensions.CodeGeneration.EntityFrameworkCore/project.json#L10

[2016-04-04 00:54] #298 closed

[2016-04-04 07:45] davidfowl opened #430 "Remove imports from projects in aspnet org"
We should start removing imports and only adding them when absolutely required.

/cc @pranavkm @NTaylorMullen

[2016-04-05 19:38] muratg commented on #394
Let's reconsider post RC2.

[2016-04-05 19:38] muratg commented on #415
Let's consider post RC2.

[2016-04-05 19:38] muratg commented on #419
Let's consider post RC2.

[2016-04-05 19:40] muratg commented on #430
We can partially do this while working on https://github.com/aspnet/Coherence-Signed/issues/202 and complete the work post RC2.

cc @anurse

[2016-04-06 06:18] davidfowl commented on #430
No we should get it working for *everything* under our control RC2. Here are the errors

[code]

[2016-04-06 15:33] muratg commented on #430
@pranavkm @NTaylorMullen @anurse

[2016-04-06 22:34] pranavkm opened #434 "Branching needs to account for libuv repositories"

[2016-04-08 15:39] pranavkm commented on #430
## Should go away prior to RC2

[ ] Microsoft.Extensions.PlatformAbstractions.Dnx
[ ] Microsoft.Extensions.CompilationAbstractions
[ ] Microsoft.Dnx.Compilation.CSharp.Common
[ ] Microsoft.Dnx.Compilation.CSharp.Abstractions

## Back compat that will be removed after RC2

[ ] Microsoft.Extensions.Caching.Memory.VSRC1 1.0.0-rc1-final - back compat. Will be removed after RC2
[ ] Microsoft.Extensions

[2016-04-08 15:42] muratg commented on #430
@pranavkm How about the following tools:

- [ ] dotnet-aspnet-codegenerator
- [ ] dotnet-ef
- [ ] dotnet-sql-cache
- [ ] dotnet-user-secrets

[2016-04-08 15:44] pranavkm commented on #430
I just reformatted @davidfowl's dump. :smile:

[2016-04-08 15:45] pranavkm commented on #430
@Tratcher can `Microsoft.AspNetCore.WebSockets.Client` be cross compiled to netstandard?

[2016-04-08 16:21] Tratcher commented on #430
@pranavkm No, that only works on full framework. It relies on a specific behavior of HttpWebRequest.

[2016-04-11 18:06] pranavkm opened #438 "Use `portable-dnxcore50+net45+win8+wp8+wpa81` as TFM to import Newtonsoft.Json instead of portable-net451+win8"
This reduces the odds of pulling in the wrong imports. Follow up to #430

[2016-04-11 18:08] pranavkm commented on #430
Fixed the imports in most repos. Need to follow up by removing imports from tests and tools as part of updating to NetCore.App.

[2016-04-11 18:08] #430 closed

[2016-04-11 18:09] NTaylorMullen commented on #438
Will have to do the same thing for tools that use it too :cry:

[2016-04-11 18:10] #434 closed

[2016-04-12 18:10] cesarbs commented on #304
This is finally working :smile:

[2016-04-12 18:10] #304 closed

[2016-04-22 16:06] muratg commented on #438
@pranavkm any change in RC2?

[2016-04-22 16:29] pranavkm commented on #438
Yeah, we need to do a pass and bulk update this. It's kinda tricky because some repos require the `portable-net451+win8` to work with some of the Roslyn dependencies.

[2016-04-22 16:34] muratg commented on #438
OK, putting this in RC2 to track. Let me know if someone else is going to handle this

[2016-04-22 16:37] pranavkm commented on #438
Yeah. I wouldn't mind pawning this off on someone :)

[2016-04-22 16:38] muratg commented on #438
@victorhurdugaci could you take this?

[2016-04-22 17:39] victorhurdugaci commented on #438
Not sure how much time I'll have for this because I need to do the Antares tests

[2016-04-22 17:39] victorhurdugaci commented on #438
Depends on how long it that takes

[2016-04-22 20:48] natemcmaster commented on #304
Looks like our new agent `aspnetci-a20` is missing these variables.

[2016-04-28 19:01] victorhurdugaci commented on #438
I've talked to @moozzyk and @anurse. We don't think this is a bug that we should fix. It would indeed reduce the chances of pulling a wrong TFM but only if Netwonsoft.Json adds new TFMs. Today, it doesn't break because NuGet picks the "closest" match between:

- portable-net40+sl5+wp80+win8+wpa81
- portable-net45+wp80+win8+wpa81+dnxcore50

"portable-net451+win8" best matches the second. At most we

[2016-04-28 20:53] victorhurdugaci commented on #438
I'm going to close this. If I somehow missed something and we actually need this, reopen and comment.

[2016-04-28 20:53] #438 closed

[2016-05-17 22:02] Eilon commented on #349
@dougbu anything left to do here?

[2016-05-17 22:03] Eilon commented on #360
Do we actually need this? If so, where?

[2016-05-17 22:12] dougbu commented on #349
This was always a low-pri cleanup item about consistency between our `.travis.yml` files. The inconsistency remains: EntityFramework, Mvc, and a few other repos contain `brew install icu4c` but the majority do not. So, the action remains for whenever I have a sufficiently boring hour or two.

[2016-05-17 23:02] victorhurdugaci commented on #360
It would simplify some builds that override the make files (e.g. DataProtection) and it would prevent bugs that we introduce when we change the builds steps in KoreBuild but forget to update every repo that overrides that step

[2016-05-18 00:13] Eilon commented on #349
Ok, moved it out then.,

[2016-05-18 00:13] Eilon commented on #360
Ok, sounds lower priority then.

[2016-05-23 16:15] pranavkm opened #446 "Tag the Setup repo along with other repos as part of creating master branch"
We don't have Setup in the set of repos that we branch as part of our scripts. We should add it to the list.

cc @joeloff

[2016-05-23 16:16] joeloff commented on #446
Last commit for RC2 for Setup's release branch was https://github.com/aspnet/Setup/commit/d6ebb6946cf615217d83fc6c6e8e65ed393438fc

[2016-05-27 21:09] muratg commented on #446
Done?

[2016-06-14 18:55] natemcmaster opened #450 "Use SQL Server on Travis CI"
The SQL Server for Linux preview is available as a docker image. Assuming we can setup Travis to protect our access key to the private preview, we could use docker on Travis CI builds to execute against tests SQL Server.

https://www.microsoft.com/en-us/server-cloud/sql-server-on-linux.aspx

https://docs.travis-ci.com/user/docker/

[2016-06-30 19:30] JunTaoLuo commented on #360
@anurse, you might want to consider this when moving towards MSBuild. It would be useful to be able to specify what counts as a `src` or `test` project in addition to inferring it from the directory that contains them. For example, in the Performance repo, some library projects are located under different folders like `stress-test`.

[2016-06-30 22:51] anurse commented on #360
In theory that will definitely be possible in KoreBuild 2.0. The default `makefile.proj` will set up `src` and `test` but a repo could absolutely put a `makefile.proj` in it's repo root to override that and change the definition. Good thing to note though, thanks!

[2016-07-01 18:56] dougbu commented on #349
Repurposed this issue to cover `openssl` installation instead. CoreFx needs that but uses the OS' ICU now.

[2016-07-26 16:58] ZestyBread opened #451 "Circular Dependency causes stack overflow in repo graph analysis"
Accidentally had a StaticFiles dependency in my BasicMiddleware sample, which cause a circular dependency and eventually caused a stack overflow. There should be a check to see if there is an infinite cycle and an appropriate error message rather than just crashing.

[2016-07-26 17:03] pranavkm commented on #451
Why mark it backlog?

[2016-07-27 19:49] muratg commented on #451
@pranavkm let me know if you're busy, and we can either postpone or find someone else to look into this.

[2016-08-04 22:31] pranavkm commented on #446
Yeah. We can figure out what the story for these repos is with MorkBuild 2.0.

[2016-08-04 22:31] #446 closed

[2016-08-26 17:19] #451 closed

[2016-09-04 19:55] dougbu commented on #349
Now have a script that builds on a single template for `.travis.yml` files and handles the (inconsistent) `secure` content we use for WebHooks notifications. I'm moving through the repos that have `.travis.yml` files in three groups and have completed the first group of 16 repos. Will pause until Tuesday to allow Travis to catch up (confirming the updated files work fine) and others to comment.

H

[2016-09-04 22:42] dougbu commented on #349
All Travis builds of my branches are green. Since that happened quicker than expected, I'll open PRs for the next group of 16 repos. Not pushing anything into `dev` branches 'til Tuesday of course.

[2016-09-05 04:21] dougbu commented on #349
All done w/ creating PRs and confirming green Travis builds. Only KestrelHttpServer is red and that's an unrelated problem.

This work was primarily about making the `.travis.yml` files more consistent across repos. The script only added `openssl` installation to OS X builds in 3 repos. OS X builds are currently disabled in one of them (EntityFramework). Travis isn't set up for the other two (Scaf

[2016-09-06 20:22] dougbu commented on #349
aspnet/Antiforgery@c3476cf
aspnet/BasicMiddleware@7e4c9aa
aspnet/Caching@6e39854
aspnet/Common@087c6d9
aspnet/Configuration@f27f7a7
aspnet/CORS@bfd2c36
aspnet/DataProtection@4cfdc2e
aspnet/DependencyInjection@771cb48
aspnet/Diagnostics@fa36a7b
aspnet/dotnet-watch@6eec856
aspnet/EntityFramework@1c8c510
aspnet/Entropy@71f5b25
aspnet/EventNotification@248222f
aspnet/FileSystem@f578108
aspnet/Hosting@

[2016-09-06 20:22] #349 closed

[2016-11-28 08:06] Eilon commented on #415
Haven't seen a need for this resurface, so closing for now.

cc @Rick-Anderson @danroth27 in case there are objections.

[2016-11-28 08:06] #415 closed

[2016-11-28 08:06] Eilon commented on #394
@natemcmaster is this something we continue to see as being a problem?

[2016-11-28 08:07] Eilon commented on #360
Closing because we don't have a clear need for this.

[2016-11-28 08:07] #360 closed

[2016-11-28 08:07] Eilon commented on #419
Closing because we don't have a clear need for this.

[2016-11-28 08:07] #419 closed

[2016-11-28 08:11] Eilon commented on #120
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:11] #120 closed

[2016-11-28 08:11] Eilon commented on #119
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:11] #119 closed

[2016-11-28 08:11] Eilon commented on #113
The plan is to move away from Sake, so closing this.

[2016-11-28 08:11] #113 closed

[2016-11-28 08:12] Eilon commented on #73
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:12] #73 closed

[2016-11-28 08:12] Eilon commented on #66
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:12] #66 closed

[2016-11-28 08:13] Eilon commented on #35
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:13] #35 closed

[2016-11-28 08:13] Eilon commented on #33
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:13] #33 closed

[2016-11-28 08:13] Eilon commented on #15
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:13] #15 closed

[2016-11-28 08:14] Eilon commented on #121
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:14] #121 closed

[2016-11-28 08:14] Eilon commented on #124
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:14] Eilon commented on #125
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:14] #125 closed

[2016-11-28 08:14] Eilon commented on #198
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:14] #198 closed

[2016-11-28 08:15] Eilon commented on #201
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:15] #201 closed

[2016-11-28 08:15] Eilon commented on #229
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:15] #229 closed

[2016-11-28 08:15] Eilon commented on #240
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:15] #240 closed

[2016-11-28 08:16] Eilon commented on #393
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:16] #393 closed

[2016-11-28 08:16] Eilon commented on #342
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:16] #342 closed

[2016-11-28 08:16] Eilon commented on #326
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:16] #326 closed

[2016-11-28 08:16] Eilon commented on #319
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:16] #319 closed

[2016-11-28 08:17] Eilon commented on #269
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:17] #269 closed

[2016-11-28 08:17] Eilon commented on #251
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:17] #251 closed

[2016-11-28 16:39] natemcmaster commented on #394
Caching NuGet may not be worth the headaches of clearing bad caches, but we should definitely look into building in a Mono-less environment once we port our build system. Installing Mono accounts for a minute of the build startup time.

Also, looking to the future, Travis supports specifying the version of dotnet-CLI in the .travis.yml file. See https://docs.travis-ci.com/user/languages/csharp/#Ch

[2016-11-29 19:24] natemcmaster opened #463 "Support MSBuild projects in build graph"
The `GetBuildGraph()` function reads project.json to find dependencies. Dependencies for projects that have ported to csproj are not correctly identified, so the build graph builds these repos in the wrong order. We will need to invoke `/t:GenerateRestoreGraphFile` to inspect which packages are inside the solution and which packages they depend upon.

[2016-12-14 19:09] #463 closed

[2017-01-05 17:57] natemcmaster opened #469 "Upgrade to VS 2017"
We need to upgrade our repos to VS2017.

We will also need to update the Universe build to handle VS 2017 projects better

See also https://github.com/orgs/aspnet/projects/1

[2017-01-06 18:44] #99 closed

[2017-01-12 20:02] pranavkm opened #470 "Remove release and master branches from repositories"
We no longer use the `release` branch and `master` branch hasn't been updated since the 1.0.0 release. Instead, branches or tags with the `rel/` prefix track releases for a repository. The plan is to delete the `release` and `master` branches since they are superfluous.

## Status

* [x] Antiforgery
* [x] AzureIntegration
* [x] BasicMiddleware
* [x] BrowserLink
* [x] Caching
* [x] Common
* [x] Con

[2017-01-15 06:57] photodude commented on #450
Have you actually proceeded in trying to accomplish this task? I would love to try to implement this kind of change in other projects I work with so those projects can have CI testing of all of their database code/drivers.

[2017-01-17 17:49] natemcmaster commented on #450
@photodude I had it working at one point, but reverted the implementation. Travis agent's were too slow. Checkout https://docs.travis-ci.com/user/docker/ for a guide on setting up docker with Travis and https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-docker for a guide on setting up SQL Server in docker.

[2017-01-19 23:43] natemcmaster commented on #470
Has using `master` + tags per release been considered as an alternative? This is more convention git. cc @muratg

[2017-01-20 21:58] photodude commented on #450
I totally can see that. Especially since things like docker images end up not being run on the travis container infrastructure.

AppVoyer might be an option to consider for this kind of CI testing appveyor.com

[2017-01-31 00:55] natemcmaster commented on #469
Adding @bricelam who is upgrading EntityFramework repos

[2017-02-01 17:58] bricelam commented on #124
Here is the file @dougbu and I decided on:
[code]

[2017-02-01 19:17] dougbu commented on #124
👍 Would be great if we can preserve the comments. Looks like whole-line ones work (similar to `.gitignore` files) but EOL comments don't.

[2017-02-01 20:18] Maxim-Kornilov opened #473 "Build for non-contributors"
How can I build this if I am not a contributor? Clearly, my key will not work. Maybe I do not understand something?
[code]

[build_log.txt](https://github.com/aspnet/Universe/files/746020/build_log.txt)

[2017-02-01 20:30] pranavkm commented on #473
Is there a specific repository you're trying to contribute to? You could just clone that instead of building Universe. This repository has evolved to primarily be our build orchestrator and less of an entry point for contributors.

Also the error you're seeing is because you might not have an SSH key registered with GitHub. You could clone Universe over https and that should generally avoid this i

[2017-02-01 21:39] Maxim-Kornilov commented on #473
For now I just want to run the entire ASP.NET from source code.
I cloned it over https and it failed to clone only these three repositories:
[code]
But then I got:
[code]
I guess I just join all repositories that I need with global.json and try to build it inside VS.

[2017-02-01 22:29] pranavkm commented on #473
The 3 repos that failed to clone are private ones, so those warnings are expected. I'm not sure what's causing the exit code, perhaps something further up in the log is failing.

[2017-02-05 01:56] #473 closed

[2017-02-16 20:32] natemcmaster commented on #394
Closing. Not worth the effort.

[2017-02-16 20:32] #394 closed

[2017-02-27 00:16] ctaggart commented on #131
We can change the title of this to `source link` instead of `source index`. I've rewrote SourceLink as a dotnet tool for version 2. It supports Portable PDB files and its new source link support.

I've added pull requests that should get you guys started for both aspnet.mvc https://github.com/aspnet/Mvc/pull/5860 and EntityFramework https://github.com/aspnet/EntityFramework/pull/7726.

It was been

[2017-02-27 20:17] ctaggart commented on #131
Just to get @DamianEdwards @Eilon @shanselman & others up to speed:

* Visual Studio 2017 is shipping with "Enable source link support"
* I worked weekends and evenings this last month to rewrite SourceLink for version 2 as a dotnet command line tool to support this.
* We've agreed to ship the Portable PDB files in the nupkg files for source link support.
* I've provided examples for adding it to

[2017-02-27 20:24] tmat commented on #131
Let me also point out that VS 2017 supports Embedded Portable PDBs. This feature (```/debug:embedded```) instructs the compiler to embed a compressed Portable PDB into the dll/exe itself and the debugger finds it there. I'd recommend using that for release builds for all libraries where the extra size overhead doesn't matter. Source link feature is also available for Embedded PDBs.

[2017-02-28 05:39] ctaggart commented on #131
`/debug:embedded` sounds like a great option that would make it even easier for projects to adopt source linking. I'll add support in SourceLink soon.

[2017-02-28 17:12] Eilon commented on #131
We don't currently ship PDBs anywhere at all - I think that's probably required for this suggestion to be useful, is that correct?

[2017-02-28 17:46] ctaggart commented on #131
@Eilon That is correct. Embedding in the dll sounds like a good option. It is simple to test and to switch to.

The objections about shipping pdb files before were:
* Windows PDB files are too big and require more network
* Windows PDB files take up too much space on the client computer

With Portable PDB files and the new dotnet/nuget tooling, these issues have been addressed. The files are much

[2017-02-28 18:15] anurse commented on #131
Do we know the approximate increase in file size? Even if it's fairly significant, I'd probably still advocate for embedding PDBs because having to manage PDBs is JUST THE WORST. :)

I suppose I could just try it, but then I'd have to do work and <sub>mumble mumble I'm lazy mumble</sub>

[2017-02-28 19:02] anurse commented on #131
A simple test with Microsoft.AspNetCore.Authentication showed an increase from 62 KB to 73 KB for embedding the PDB. An increase of 17% in size. This seems completely reasonable to me given the benefits :).

[2017-03-01 06:34] dougbu commented on #131
Is @AndriySvyryd's comment [above](https://github.com/aspnet/Universe/issues/131#issuecomment-64250191) still correct?

If yes, how do we help users focus on what they're developing when that's their preference?

[2017-03-01 07:54] tmat commented on #131
@gregg-miskelly For opinion on JMC.

I wonder if it would make sense to distinguish Debug (My Node) vs Release (not My Code) bits.

[2017-03-01 15:45] gregg-miskelly commented on #131
As long as dll/exe is optimized compiled, and 'Tools-\>Options-\>Debugging-\>Suppress JIT Optimizations on Module Loads' is in its default (unchecked) state -- no, since the code is JIT optimized it would still be considered non-user code.

[2017-03-01 16:05] dougbu commented on #131
aspnet/EntityFramework#987 happened at the end of October 2014. I know we had a short (let's hope) period where we accidentally shipped non-optimized bits. Anyone remember if the time frames overlap?

If the System.Data.SqlClient bits *were* optimized, we need to figure out why VS treated them as My Code. Or @gregg-miskelly, are you describing a different behaviour than we would have seen way back

[2017-03-01 16:19] gregg-miskelly commented on #131
@dougbu versions of VS before 2015 had Suppress JIT optimizations on by default.

[2017-03-01 16:49] dougbu commented on #131
Excellent 🥇

[2017-03-01 18:09] Eilon commented on #131
@anurse does your experiment just embed regular PDBs in the DLL, or does it include source links and/or embedded source?

[2017-03-01 18:12] ctaggart commented on #131
@anurse @tmat SourceLink 2.0.0-b396 was just uploaded with support for `embedded` debug type. Please try it out.

[2017-03-01 18:24] anurse commented on #131
I haven't had a chance to try embedded source/source links at all yet.

[2017-03-01 21:26] Eilon opened #476 "Change versions to 2.0.0-preview1"
Need to:

1. Change all the NuGet packages (tools, runtime, etc.) to be `2.0.0-preview1-XYZ`
2. Need to update milestones in GitHub repos for issue tracking to rename `2.0.0` to `2.0.0-preview1`.

cc @DamianEdwards @davidfowl @ajcvickers @muratg

[2017-03-01 23:02] Eilon commented on #131
@anurse ah ok, so your experiment was just with embedding a "regular" PDB into the DLL? That's still cool, though, a lot smaller than I would have guessed.

[2017-03-01 23:15] tmat commented on #131
@eilon Had to be Portable PDB. The compiler doesn't support emebedding Windows PDBs.

[2017-03-01 23:41] Eilon commented on #131
@tmat yup, understood. To me a portable PDB is now a "regular" PDB 😄

[2017-03-03 02:56] onovotny commented on #131
@tmat and others: Embedded PDB's are a really, really, really bad idea....sorry. It's bad for mobile devices where the physical image size and memory is tight. We don't want pdb's to be loaded into memory because they're embedded in the dll. This is a complete non-starter.

[2017-03-03 03:30] ctaggart commented on #131
@onovotny What do you think of my [previous](https://github.com/NuGet/Home/issues/4142#issuecomment-282573801) `dotnet pack --include-portable-pdbs` proposal? The current `--include-symbols` & `--include-source` are options in support "enable source server support". It would be great to have `--include-portable-pdbs` or just `--include-pdbs` since they are "regular" now in support of "enable sourc

[2017-03-03 03:36] onovotny commented on #131
I'm okay with anything that makes it easy to include source indexed symbols in a place we all agree is convenient and easy to use. They just have to be a different file than the main dll to minimize the memory taken by loading the dll from storage to ram :)

[2017-03-03 07:26] roji commented on #131
@onovotny, another possibility is simply to allow stripping the embedded debugging information (plus sources) for scenarios where binary size is very important (e.g. mobile). This is similar to the Unix model, where you use `strip` to reduce the size of binaries by removing the debugging info. This could be a simple step in the build for mobile, etc.

There is something very appealing in the assem

[2017-03-03 07:28] roji commented on #131
BTW and unrelated - if the debugging information is stored as an embedded resource in the assembly, does that actually have an effect on *memory* footprint? I mean, do embedded resources in general get loaded implicitly as opposed to user code explicitly requesting them?

(regardless of memory footprint, there's still the image size on disk, of course)

[2017-03-03 08:06] tmat commented on #131
@roji It's not a resources, it's debug table data. I believe the memory is not committed until it's accessed.

[2017-03-03 08:12] roji commented on #131
@tmat from https://github.com/dotnet/roslyn/issues/12390 it seemed that the embedded resource implementation option was chosen, although I may be misunderstanding things. Regardless, it's not a fundamental issue.

[2017-03-03 12:46] onovotny commented on #131
@ruji, if stripping out the non-essential bits, like embedded PDB's, can be part of the toolchain, and present by default on the Xamarin/Mono toolchain, then my objections go away.

My goal is that the developer of a solution that's within space constrained limits isn't encumbered by libraries that are too "fat" because library authors thought they being helpful by providing symbols.

[2017-03-03 13:44] ctaggart commented on #131
The raised concerns were:

1) memory footprint
It sounds like memory is is not committed until the debug table data is accessed.

2) image size on disk when targeting scenarios like mobile
Stripping out the debug tables to save 10-20% on disk space sounds a good option for the toolchains like Xamarin/Mono.

**Embedding the debug data with source link support enabled will works out the box with Vis

[2017-03-03 13:47] roji commented on #131
@onovotny I understand and that makes sense.

It seems reasonable to say that all assemblies contain all debugging and source information inside by default - this simplifies the debugging experience in the majority of cases - but to definitely have a strip option in place for Xamarin.

The strong name issue is indeed a problem. It may be good to confirm that the Xamarin toolchains actually check/e

[2017-03-03 14:03] onovotny commented on #131
Xamarin does not enforce strong name signing at all. Authenticode is a separate issue that while isn't validated by default is still a concern. If an assembly is authenticode signed, as all Microsoft ones and many third party are, then it's wrong to break that chain.

[2017-03-03 17:37] tmat commented on #131
@onovotny Just realized, if you want the smallest footprint possible you'd probably want to use a linker that tree-shakes all the unused code and merges everything into one assembly. I assume the linker also produces a separate PDB.

[2017-03-04 09:47] davidfowl commented on #131
Right, why wouldn't the linker take care of this?

[2017-03-04 14:17] onovotny commented on #131
The linker's on iOS/Android only link Xamarin iOS/Android libraries by default:
https://developer.xamarin.com/guides/android/advanced_topics/linking/

I suspect it's because linking all assemblies, Sdk and User assemblies, would break too much by default.

.NET Native is similar -- by default, it doesn't link user assemblies either. From the default template:
https://github.com/onovotny/Zeroconf/b

[2017-03-04 17:31] davidfowl commented on #131
I personally think the benefit outweighs the things you mention

[2017-03-05 22:37] ctaggart commented on #131
I released SourceLink 2.0.0 today.

http://blog.ctaggart.com/2017/03/enable-source-link-support-announcing.html
https://twitter.com/cmr0n/status/838516874258296833

The MVC pull request has been updated to use it. The builds & tests pass.
https://github.com/aspnet/Mvc/pull/5905

[2017-03-06 05:16] tmat commented on #131
@onovotny I don't think one approach fits all scenarios. Both approaches have trade-offs. It's up to the producer of each package to consider them and make the decision. It's up to consumers to choose packages that meet their requirements on features and size for their scenarios.

[2017-03-06 07:02] roji commented on #131
@tmat it doesn't seem right to say that the producer of each package should make the decision if their package is meant to be used in a reduced-footprint context or not - as a package producer I have no idea who uses my package or for what, and shouldn't be concerned with that.

It seems more reasonable to find ways in which capabilities which benefit one scenario (e.g. embedded PDBs and sources)

[2017-03-06 07:11] davidfowl commented on #131
It's more the fact that mobile scenarios already have a very complex toolchain that already do things to reduce the impact on the device. It doesn't seem like a stretch to support stripping out *more* information.

/cc @migueldeicaza @mhutch

[2017-03-06 08:15] tmat commented on #131
@roji

If your users don't ask you to make the library smaller then it's probably just fine.

[2017-03-06 08:29] roji commented on #131
I think we're all sort of saying the same thing - ideally the Xamarin (and .NET Native) toolchains would do all the necessary stripping, giving us the best of both worlds - embedded debugging information without an impact on final image size where that counts.

[2017-03-06 14:16] ctaggart commented on #131
I opened up a Xamarin User Voice suggestion: [option to strip embedded debug informatio](https://xamarin.uservoice.com/forums/144858-xamarin-platform-suggestions/suggestions/18530113-option-to-strip-embedded-debug-information). I think it is the appropriate place to discuss the mobile optimizations further.

[2017-03-07 18:19] natemcmaster commented on #450
Closing as this is something we're probably not going to invest effort in.

[2017-03-07 18:19] #450 closed

[2017-03-07 18:23] photodude commented on #450
@natemcmaster AppVoyer has been a successful solution for MSSQL testing for us.

[2017-03-07 18:25] natemcmaster commented on #450
Yeah, same here. We use AppVeyor in our repos that need SQL Server.

[2017-03-08 18:22] pranavkm opened #479 "MSBuild migration follow ups"
* Consolidate bootstrapping of a project in to a bootstrapper project in KoreBuild. To build a repository, we have to be able to restore `KoreBuild.proj` in the context of the project's `repo.props` and then run build on it. This involves copying files around (might be unavoidable) and duplicating what `KoreBuild.ps` \ `KoreBuild.sh` does: https://github.com/aspnet/KoreBuild/blob/dev/build/KoreBui

[2017-03-08 18:22] pranavkm commented on #479
cc @natemcmaster

[2017-03-10 01:06] pranavkm opened #481 "Building Universe as one big project sometimes OOMs"
@pakrym investigated this (🥇) and launching inner build as an MSBuild target as opposed to launching `build.[ps1|sh]` causes the process to OOM. Setting `UnloadProjectsOnCompletion` on the build tasks might be an option.

[2017-03-10 01:07] pranavkm commented on #481
cc @davidfowl

[2017-03-10 01:07] davidfowl commented on #481
😄

[2017-03-10 05:54] pranavkm commented on #481
😦 doesn't seem to help a lot. Here's a snapshot from building locally - this is about when it's trying to build DataProtection and EF, so about 60% of the way there and it keeps growing:

![image](https://cloud.githubusercontent.com/assets/174281/23783581/770c4100-0511-11e7-9a93-f8e01017eaba.png)

I'm going to switch Universe and CoreCLR to execing `build` instead. I think it's a safer option.

[2017-03-10 05:57] pranavkm commented on #481
Still later:

![image](https://cloud.githubusercontent.com/assets/174281/23783842/51566754-0513-11e7-8fd1-b47c1821bf66.png)

[2017-03-10 07:42] davidfowl commented on #481
:\

[2017-03-10 13:09] pranavkm commented on #481
Much saner with the alternative:

![image](https://cloud.githubusercontent.com/assets/174281/23796401/9c8b7e94-054f-11e7-8ae8-08ccafdd8840.png)

[2017-03-10 18:45] davidfowl commented on #481
How much slower?

[2017-03-10 20:33] pranavkm commented on #481
It's faster by 5 minutes. Less thrashing of the page file I suppose.

[2017-03-10 20:33] #481 closed

[2017-03-10 20:33] pranavkm commented on #481
Fixed in https://github.com/aspnet/Universe/commit/df66022ff8f0cc6da4c637dd6c46674063c2ed31

[2017-03-10 21:38] natemcmaster commented on #450
Btw, decided to revisit this for EF. https://github.com/aspnet/EntityFramework/pull/7842. It doesn't take too much to enable SQL Server on Travis now.

[2017-03-12 13:00] kimbell opened #484 "Question: How does the ASP.NET team measure code coverage?"
For the last couple of years I've become more and more interested in code coverage. It's become sort of professional gamification; level up and get to the next boss fight.

With the release of VS2017, Code coverage for .NET Core based projects seems to be lacking at the moment, and third party solutions such as Resharper don't provide an alternative yet.

I posed the same question to the corefx re

[2017-03-13 16:12] pranavkm commented on #484
We don't have a formalized process for running code coverage. I can't speak for the remainder of the subteams inside Asp.NET / EF, but the Mvc team specifically hasn't focused much on code coverage as a a measure for determining what unit tests and how many to write.

@Eilon does the engineering team have any thoughts on this?

[2017-03-13 22:13] natemcmaster commented on #469
Was fixed in https://github.com/aspnet/Universe/pull/478

[2017-03-13 22:13] #469 closed

[2017-03-13 22:34] anurse opened #485 "Build graph is no longer displayed in the build log"
It doesn't seem to be displayed any more :(. It was pretty useful and we should put it back if we can.

/cc @dougbu

[2017-03-13 22:34] pranavkm commented on #485
`outputtype: ascii-art`?

[2017-03-13 22:35] anurse commented on #485
Well, not so much the graph as the layers of the build :).

[2017-03-13 22:45] JunTaoLuo opened #486 "Skip SignalR when net46 is not available"
Some of our downstream machines, Win8 for example, doesn't have net46 framework assemblies so we need to skip building and testing some of our repos that use that tfm on those platforms.

The proposal is to check the environment variable env.TEAMCITY_BUILDCONF_NAME in MSBuild and then determine whether to build or not. Would this be the best approach?

cc @natemcmaster

[2017-03-13 22:57] pranavkm commented on #486
Is that fixable? I think VS 2017 installs just fine on that platform.

[2017-03-13 22:59] JunTaoLuo commented on #486
Just checked, yea seems like we can install for that platform. Though I think there is one specific configuration that we don't want to do that:  Win2012-NET452-Universe

[2017-03-13 23:00] natemcmaster commented on #486
We plan to drop that net452 machine altogether. Just skip SignalR tests on that machine.

[2017-03-14 15:43] #485 closed

[2017-03-15 15:41] pranavkm opened #488 "Publishing to the volatile feed is broken"

[2017-03-15 16:22] #488 closed

[2017-03-15 16:45] kimbell commented on #484
FYI

[Resharper blog about their issues](https://blog.jetbrains.com/dotnet/2017/02/21/resharper-net-core-unit-testing/)

[Live unit testing](https://blogs.msdn.microsoft.com/visualstudio/2017/03/09/live-unit-testing-in-visual-studio-2017-enterprise/)
Live unit testing isn't supported for .NET Core, Se FAQ at the end of the post. I imagine this uses some of the same infrastructure as code coverage.

[2017-03-15 22:41] Eilon commented on #484
Yeah code coverage just hasn't been a priority for us. We looked into it a bit a while ago (1+ years ago) and there weren't great options for us. I would imagine things are better these days, but we haven't looked deeply into it.

[2017-03-16 06:15] kimbell commented on #484
Well, it looks like things have temporarily taken a turn for the worse. With the updating feature of Visual Studio, hopefully it won't take that long until this becomes available.

[2017-03-16 16:25] natemcmaster commented on #476
This should be pretty easy to do now. Most of our repos will only need a change in two places, version.props and build/dependencies.props.

Are there any exclusions to what should be 2.0.0? e.g. SignalR, ResponseCompression middleware, etc. I'm thinking of things not currently building as "1.2.0".

[2017-03-16 19:03] pranavkm opened #491 "PinVersions does not pin CLI tools"
When producing a coherent build, we don't pin CLI tool references to a specific version. This might cause restore failures as we attempt to restore a tool from the ci-dev feed as opposed to the package we just built.

[2017-03-16 19:03] pranavkm commented on #491
cc @kichalla

[2017-03-20 18:56] kichalla opened #494 "Update Json.net version to the latest (10.0.1)"
We need the [latest](https://www.nuget.org/packages/Newtonsoft.Json/10.0.1) Json.net package which has the fix for the issue: https://github.com/aspnet/Mvc/issues/5413

[2017-03-21 17:46] #491 closed

[2017-03-21 20:48] dougbu opened #495 "Support incremental `BuildRepositories` runs"
Currently `KOREBUILD_REPOSITORY_EXCLUDE` and `KOREBUILD_REPOSITORY_INCLUDE` affect cloning. However, `BuildRepositories` builds every repo in the `.r` folder. The root cause is the inner `BuildRepositories` target (in `RepositoryBuild.targets`) builds everything in the `BuildGraph.proj` file and that file lists every cloned repo. Fix is probably passing the narrowed `@(Repository)` items to that t

[2017-03-23 15:37] Eilon commented on #486
Once we do https://github.com/aspnet/KoreBuild/issues/211, we should be able to build on all platforms no matter what. But of course you won't be able to *run* tests without having the right .NET FX installed.

[2017-03-23 15:56] Eilon opened #497 "Consolidate running of NuGetPackageVerifier default rule"
From @natemcmaster :

[2017-03-23 16:57] natemcmaster opened #498 "Update appveyor env vars to skip dotnet first run and telemetry"
Most of our appveyor runs don't set these variables. They may speed up the build.

DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
DOTNET_CLI_TELEMETRY_OPTOUT=1

cc @pranavkm

[2017-03-23 17:23] JunTaoLuo commented on #486
This issue can be closed, we have removed the NET452 configuration and installed VS2017 (which includes net461) on all other configurations.

[2017-03-23 17:23] #486 closed

[2017-03-27 17:28] Eilon commented on #498
Dup of https://github.com/aspnet/Coherence-Signed/issues/415.

[2017-03-27 17:28] #498 closed

[2017-03-27 18:01] natemcmaster opened #500 "Use EditorConfig consistently"
EditorConfig has trickled into a few repos, but with some inconsistency. We should be consistent in our settings and investigate carefully what we want those settings to be.

**Goals:**
- use the same settings across all repos
- set Roslyn settings so that anyone with non-default VS formatting settings can still work on our code

**Resources:**
Compiler and VS do not yet enforce editorconfig. See

[2017-03-27 19:06] pranavkm commented on #500
There was an engineering discussion about this. We were using Razor and Mvc as a test ground to see if what we have now helps. @rynowak \ @NTaylorMullen maybe you might have some inputs on if you found the settings to be intrusive in any way. If not, we could use the one in Razor \ Mvc as a template.

[2017-03-27 19:54] rynowak commented on #500
I didn't notice much. It wasn't intrusive, but I didn't notice anything positive that it did because I already do things the right way.

[2017-03-27 20:28] anurse commented on #500
I definitely think it would be good to set up one EC file. I think we should start simple and build up, since Code Style enforcement isn't quite there in Roslyn/VS yet. I had a really detailed one here: https://github.com/aspnet/SignalR/commit/76174580fd79c2f06289aff177203c97ae292ed0 but I think we'd need to have a larger discussion about style before going to that level.

Also, I kinda want to ju

[2017-03-27 21:42] NTaylorMullen commented on #500
Assuming the EC didn't get in the way of normal work behavior it'd be very useful. Just like @rynowak I haven't noticed any difference in Razor. At the very least it'd make it more likely that a contribution is easy to consume.

[2017-03-27 22:05] pranavkm commented on #500
@anurse looking at the file you have - we had a discussion with the engineering team and decided we did not want any of the enforcements to be either a warning or an error. The intent is for the config to be guidance rather than enforcement.

[2017-03-27 23:01] anurse commented on #500
Fine with me. The file was mostly a listing of the style rules I was aware of. We already have a significant lack of documentation of style rules (the list on the Home wiki is super out-of-date), so anything we can add will be much better than our current system of just assuming people know what to do :).

[2017-03-29 17:08] muratg commented on #111
Aren't we doing this already now? @pranavkm @Eilon

[2017-03-29 17:09] muratg commented on #470
@Eilon did we talk about this previously in one of the engineering discussions? What was the decision?

[2017-03-29 17:26] dougbu commented on #124
No, we haven't done an across-the-Universe update to simplify `.gitattributes`. The issue hasn't been triaged and isn't assigned to anyone.

[2017-03-29 17:33] davidfowl commented on #111
No, we are not.

[2017-03-29 17:46] pranavkm commented on #111
What do other teams (CoreFx \ Roslyn) etc do here?

[2017-03-29 21:17] Eilon commented on #470
@muratg no we need to triage this.

[2017-03-30 16:43] natemcmaster opened #501 "200k+ lines of output overwhelm TC and browser"
Our universe build on TC produces so much output that viewing the build log can cause the browser to crash. They are also really hard to sift through as error messages are produced to stdout, not stderr.

**Stats:**
Raw log files can be >= 60 MB.
The latest (failed) run of tests on macOS agents produce 234,871 lines before dying.

We should look into reducing the logged output to make it more mana

[2017-04-04 17:30] #476 closed

[2017-04-07 16:37] Eilon commented on #494
@kichalla this is all done now, right?

[2017-04-07 16:37] kichalla commented on #494
Oh yes.

[2017-04-07 16:37] #494 closed

[2017-04-20 16:53] Eilon opened #502 "Add a <clear> to every repo's nuget.config"
It will fix issues that people have when they have custom feeds and they clone and build our projects. We've had a few external contributors and members from other teams (and even our own team) run into this.

[2017-04-24 22:24] pranavkm opened #505 "Print more details to the log to show what commit the repo is on."

[2017-04-25 18:14] natemcmaster opened #506 "Re-enable DotNetCliToolReference in samples for netcoreapp2.0"
To get aspnet/DotNetTools#286 in, we disabled DotNetCliToolReference in a bunch of samples. Once we get a CLI that supports DotNetCliToolReference + netcoreapp2.0, we should re-enable in samples.

[2017-04-25 21:12] natemcmaster commented on #506
:watch: https://github.com/dotnet/cli/pull/6356 and https://github.com/dotnet/sdk/pull/1128

[2017-04-28 18:52] #506 closed

[2017-05-05 11:44] kichalla opened #507 "When building in Universe repo.targets of inidividual repos is not getting used"
**Repro steps:**
- Clone universe in rel/2.0.0-preview1 branch
- set environment variable to be `KOREBUILD_REPOSITORY_INCLUDE="MusicStore"`
- build.cmd /p:compileonly=true
- open up the generated msbuild.log file and look for target called `_FilterTestProjects` (which is the one defined in MusicStore repo's repo.targets file)

**Expected:**
Able to find the target _FilterTestProjects in build log

[2017-05-05 13:58] pranavkm commented on #507
We call build.cmd on individual repos. Look for the target in `.r\MusicStore\artifacts\msbuild\msbuild.log`.

[2017-05-05 15:56] kichalla commented on #507
Thanks @pranavkm , I was looking at the wrong place! Closing this issue now

[2017-05-05 15:56] #507 closed

[2017-05-08 20:28] kichalla opened #508 "Update travis and appveyor ymls of all repos to build for 'rel' branches"
Example: https://github.com/aspnet/Caching/commit/a871eff4749f1458b8c4701fa6bde7a65c5448fa#diff-354f30a63fb0907d4ad57269548329e3R19

[2017-05-15 20:19] Eilon opened #510 "Move rel/2.0.0-preview1 branches to rel/2.0.0-preview1 tags"
1. [x] Move https://github.com/aspnet/Mvc-Private/ patch branches into https://github.com/aspnet/Mvc/
2. [ ] Move rel/2.0.0-preview1 branches to rel/2.0.0-preview1 tags

[2017-05-15 20:20] smitpatel commented on #510
Also leftover patch branches from 1.0.x & 1.1.x releases?

[2017-05-15 23:22] Eilon commented on #510
1. [ ] Move https://github.com/aspnet/Mvc-Private/ patch branches into https://github.com/aspnet/Mvc/
2. [ ] Move rel/2.0.0-preview1 branches to rel/2.0.0-preview1 tags

[2017-05-15 23:23] Eilon commented on #510
@smitpatel hmm not sure... I would assume so?

[2017-05-16 21:25] smitpatel commented on #510
@Eilon - Can someone from MVC team take up migrating the branches? Branch names are ambiguous between both repo to easily locate which branch to merge and also the patch branches are not merged to dev properly

[2017-05-17 03:21] Eilon commented on #510
@kichalla - can you work with @smitpatel on this so we can get all the preview1 stuff with the right tags?

Let me know if you guys have questions on any "special cases" (if there are any).

[2017-05-17 23:02] smitpatel commented on #510
I believe, getting branches merged properly to dev would be required before we branch for preview2. Tag creation is not that urgent.

[2017-05-18 00:30] pranavkm commented on #510
We typically don't merge patch branches back in to dev. Why is that causing issues here?

[2017-05-18 00:31] smitpatel commented on #510
😕 Then why do we have so many merge commits?

[2017-05-18 15:52] dougbu commented on #502
@Eilon it's pretty easy to undo this per-repo when testing cross-repo changes one at a time. But, that will get old after the 3rd repo. And, what about building Universe with locally-built tools (e.g. BuildTools) in place?

[2017-05-23 22:36] kichalla commented on #510
I moved the Mvc-Private branches to Mvc

[2017-05-23 23:25] ryanbrandenburg commented on #501
I filed https://github.com/aspnet/Hosting/issues/1087, which at a quick glance seems to account for ~50% of the output in Universe.

The size of these logs is making teamcity backups unwieldy (currently take over an hour to produce, the vast majority of that being logs) Not to mention it makes each TC backup ~9GB, which seems like it will get expensive to keep around fast.

[2017-05-24 18:04] joeloff opened #511 "Presist runtime information in Coherence builds"
Setup repos need to know the URL for the runtime to ensure we have matching bits that line up. E.g., the server host bundle pulls in the package store MSIs, runtime and ANCM. The runtime we pull in needs to exactly match what the coherence build depended on. For the setup repos, we only maintain URLs for the runtime installers, we redist, e.g.

https://dotnetcli.blob.core.windows.net/dotnet/Runtim

[2017-05-24 20:44] ryanbrandenburg opened #512 "Make running Universe locally easier"
We would like to make it easier to run Universe on your local machine for the purpose of testing cross-repo changes. I see this as being a couple different steps:

1. Try to build Universe locally, note what steps are required to make it work and document them.
2. Point Universe at a local repo with a breaking change then do step 1 again.
3. Ideally make builds incremental to save build time (righ

[2017-05-24 20:48] Tratcher commented on #512
The instructions are here: https://github.com/aspnet/universe#verifying-cross-repo-changes
It was the lack of incremental builds that was killing me.

[2017-05-24 20:56] mikeharder commented on #512
For the local build, I think we should have instructions of exactly what is required starting from a clean Win10 VM:

* VS: Which channel to install and which workloads and options to select.
* Other Dependencies: Git for Windows, NPM for SignalR, etc.  I would standardize on Chocolatey to install any dependencies with available packages.
* What repo to clone, what command(s) to run the build, etc

[2017-06-01 14:48] pranavkm commented on #502
@dougbu - editing individual NuGet.configs (and not checking them in 😄 ) would still work. I was planning on doing this today whilst I bump up the versions in the dev branch to preview3.

[2017-06-01 18:44] dougbu commented on #502
@pranavkm right. Plus, I wasn't aware .deps/build was used as a package source in our Universe builds.

Bottom line, workarounds exist though there's some "and not checking them in" peril.

[2017-06-01 19:45] pranavkm commented on #502
Cool. I made the changes as part of my version change today. This can be closed.

[2017-06-01 19:45] #502 closed

[2017-06-05 23:02] kichalla opened #515 "Make sure to publish MSBuild artifacts for all the build configurations in TeamCity"
cc @mikeharder

[2017-06-05 23:16] kichalla opened #516 "Disable doing ApiCheck and nuget package verification in Test nodes"
These two are not required in test nodes.

[2017-06-08 18:54] ryanbrandenburg opened #517 "Check for prerequisites at begining of build"
We should check for prerequisites like npm and netframework 46 as early in the build as possible and pre-emptivly warn people that they're missing them. This is important because sometimes builds take an hour plus to reach the point where they fail, which can be very frustrating.

[2017-06-13 23:18] Eilon commented on #515
Given the current build system, this particular issue isn't needed.

[2017-06-13 23:18] #515 closed

[2017-06-14 21:40] smitpatel commented on #501
That issue is resolved already in 2.3-beta2 package of xunit we use. We should disable the auto-reporter.

[2017-06-14 21:53] natemcmaster commented on #501
The auto reporter is already disabled on aspnetci :) https://github.com/aspnet/KoreBuild/pull/230

[2017-06-15 00:12] smitpatel opened #518 "Disable warning xUnit1004: Test methods should not be skipped"
At present, the test runner reports skipped test.
Skipped test with skip reason also printed out to console logs
And now xunit also generates warning for skipped test.

If we start treating warning as errors then above can cause failures too.

We should disable xunit warnings globally in universe. How many times do we want to be told about skipped tests anyway.

[2017-06-16 15:21] pranavkm commented on #502
As a follow up to this, I'd like to add `NuGet.config` to the repo's `.gitignore`. This would avoid accidentally checking in changes to the file (when you're doing local cross-repo testing). Any objections to this?

[2017-06-16 15:59] Eilon commented on #502
@pranavkm - file a new bug for that? I think that's a good idea but I'd like to get it triaged.

[2017-06-16 17:38] smitpatel commented on #502
NOTES
The purpose of gitignore files is to ensure that certain files not tracked by Git remain untracked.
To stop tracking a file that is currently tracked, use git rm --cached.

I don't think .gitignore is the way we could do this.

[2017-06-16 20:27] pranavkm commented on #502
@smitpatel - yeah you're right. `git rm --cached` isn't what we want either since we want to track the file, just disallow updates to it (unless done via something like `git add --force`) but there really isn't a git feature for this. Oh well, guess we'll just have to be vigilant about changes to the config file.

[2017-06-18 03:52] Eilon commented on #502
I thought this was exactly something you can do with .gitignore? Did anyone try it? I know we discussed doing this "trick" in other places before, but I'm not sure if we ever tried it.

[2017-06-18 18:01] pranavkm commented on #502
Seemingly not. Once you force add the file back (`git add --force NuGet.config`), since you do want to commit it to git history, git starts tracking changes to it. There's a `git update-index --assume-unchanged` that's does work correctly, however it's a client-side command and there doesn't seem to be a way to persist it to the server.

[2017-06-18 18:45] Eilon commented on #502
Oh well, I guess it's not a super important thing. I think people are pretty good in general at spotting someone changing a nuget.config file.

[2017-06-28 23:43] smitpatel commented on #510
Finished Repos
- Mvc
- HttpAbstractions
- DependencyInjection (pending tag push)

[2017-06-30 21:12] natemcmaster commented on #495
+💯 . The `/p:BuildGraphOf=HttpAbstractions` property helps a little, but it would be great for the inner dev loop if I didn't have to recompile the world if it can be avoided.

[2017-06-30 21:13] natemcmaster commented on #512
Dupe of #495 ?

[2017-06-30 21:38] ryanbrandenburg commented on #512
Not entirely, this also encompasses the work of making sure Universe works locally, and that the steps we advise people to take to make that happen are up to date.

[2017-06-30 21:46] natemcmaster commented on #512
+:100:. Working with Universe has been especially frustrating lately. I'm trying to verify that my cross-repo changes for the last few hours. Each time I run, a different piece of Universe fails, usually due to floating versions. Even with the `BuildGraphOf` property set, it takes at least 20 minutes to run each time because the errors I'm working at are at the tail end of the build graph.

[2017-06-30 21:53] smitpatel commented on #512
You can achieve incremental build by modifying `buildgraph.proj`. It requires to remove certain targets & incrementally remove projects from the file as their build succeeds and packages are dropped in artifacts.

@pranavkm knows exact steps needed but I have used it while reworking API check and it was pretty decent to make cross-repo changes since it built every repo incrementally.

[2017-06-30 21:56] natemcmaster commented on #512
Yeah, I've done the same thing, esp to avoid re-cloning the repos. Also,
I usually end up changing `Repositories.props` to drop projects that I know are unaffected, yet would get built each time anyways (in particular, EF).

Incremental should be default IMO. We can add `/t:Clean` for when you actually want to clean.

[2017-06-30 21:58] smitpatel commented on #512
I avoided re-builds. (Had to do it else PinVersion crashed due to multiple built versions available.). Again I don't remember steps, Pranav knows them. But once a repo is built and nupkg created, you can avoid rebuilding it.

[2017-06-30 22:20] pranavkm commented on #512
It needs a bit of refactoring to have a inner-loop. We hacked things on @smitpatel's box by just skipping a bunch of steps (which are part of the global build) but get in the way of iterative builds.

[2017-07-05 20:29] Eilon commented on #510
What else is left on this issue?

[2017-07-05 21:24] smitpatel commented on #510
A lot of repos are pending. Last I was doing this and hit sync issues with GitHub.
This does not affect any source code so I was prioritizing my efforts on bug fixes till we reach code freeze.

[2017-07-06 00:04] natemcmaster commented on #518
Although there is overlap, xUnit1004 represents a category of test are skipped **permanently** in code. The other category of skipped tests are those skipped dynamically. e.g.
 unmet conditions on a `ConditionalFact/Theory`. xUnit1004 doesn't trigger for those.

We left xUnit1004 enabled as a warning because permanently skipped tests are an actionable item. Remove them or fix them. Tests that neve

[2017-07-06 00:11] smitpatel commented on #518
Its not the warning which is issue here, Its reporting same warning 5 times which is utterly useless and does nothing other than growing the build log.

I think this was also discussed with @ryanbrandenburg with EF team in team room once. Warning for flaky test is **code smell** which needs to be fixed. But many times especially for queries, we have written tests (which derives based on model clas

[2017-07-06 00:11] #518 closed

[2017-07-06 00:13] natemcmaster opened #523 "Make 'push' an explicit, separate step from 'build'"
Running build.ps1 may have 'push' side-effects when certain environment variables are set.  We should separate anything that "pushes" into a separate step

 - separation of concerns
 - avoids accidental package pushes
 - makes it safer for us to write automation that runs Universe builds for PRs, mirror builds, etc.
 - make it easier to figure out which variables are required for a successful push

[2017-07-06 17:42] #479 closed

[2017-07-06 18:22] Eilon commented on #510
@smitpatel ah ok thanks, this is definitely lower priority 😄

[2017-07-06 21:15] smitpatel opened #524 "ApiCheck: Update baseline to 2.0"
As we are nearing to 2.0-RTM release, we need to update our baselines to v2.0.0.
There are 2 options to do it,
- Last commit in 2.0 release is updating the baseline.
- We update baselines while creating final tag for 2.0 release

[2017-07-11 01:08] smitpatel commented on #510
**Branches of KoreBuild converted to tags**
rel/1.0.1
rel/1.0.4
rel/1.0.5
rel/1.1.0-preview1
rel/1.1.0
rel/1.1.2
rel/2.0.0-preview1
rel/2.0.0-preview2
(versioning in KoreBuild is a mess)

**Following repo created/updated tags**
All branches with rel/* following our normal semvar converted to tag. Branches which did not follow normal naming convention or were appended with msbuild were not converte

[2017-07-11 01:08] #510 closed

[2017-07-11 01:14] smitpatel opened #528 "Post-Processing of a release"
We do process of branching when releasing a version to NuGet.
There is also required post-processing for each release. Steps are below.

1. Every version number has to be pinned instead of floating. We should do this even for test dependencies to make sure build works in future.
2. Change NuGet.Config file to remove all the feeds which can be removed or purged. Once packages are release on NuGet,

[2017-07-14 16:47] anurse opened #531 "Remove common prefixes from project paths/csproj names to avoid MAX_PATH issues"
We're hitting issues with paths being too long during our build. There are some redundant parts in our paths and project names that we can remove to reduce this.

* We should remove the `Microsoft.Extensions` prefix from all Project Directory names and `csproj` file names. For example: `Options/src/Microsoft.Extensions.Options.ConfigurationExtensions/Microsoft.Extensions.Options.ConfigurationExten

[2017-07-14 17:18] smitpatel commented on #531
Just for info. EF converted `Microsoft.EntityFrameworkCore` to EFCore a long time ago. It removed longer name and also preserved the context.

[2017-07-14 17:29] anurse commented on #531
Yeah, that's another option, use a shorter prefix. Like `Ext` for `Microsoft.Extensions` and `AspNetCore` for `Microsoft.AspNetCore`.

[2017-07-14 17:40] pranavkm commented on #531
Could we drop the longest prefix per repository e.g `Microsoft.AspNetCore.Server.Kestrel.Core` -> `Core`?

[2017-07-14 18:00] pranavkm commented on #531
By the way, we could investigate if switching to Server 2k16 helps here (https://www.ghacks.net/2016/05/27/microsoft-260-long-path-limit)

[2017-07-14 23:40] anurse commented on #531
Yeah, that's the extreme thing I mentioned in one of the sub bullet points. I think I have a slight preference for truncating the same prefix repo-wide (at least in the first pass) so that it's easy to mentally append `Microsoft.AspNetCore` or `Microsoft.Extensions` to get the package ID. Although now that I say that, the fact that there will need to be at least two of those prefixes means that ma

[2017-08-04 00:00] Eilon commented on #528
cc @danroth27 because he usually does the GitHub "release" stuff.

[2017-08-10 18:46] natemcmaster commented on #531
Some repos have already started doing this. Here is a list of repos that have the folder names shortened.

 - [ ] Antiforgery
 - [ ] AzureIntegration
 - [ ] BasicMiddleware
 - [ ] BrowserLink
 - [ ] Caching
 - [ ] Common
 - [ ] Configuration
 - [ ] CORS
 - [ ] DataProtection
 - [x] DependencyInjection - https://github.com/aspnet/DependencyInjection/pull/561
 - [ ] Diagnostics
 - [ ] DotNetTools
 -

[2017-08-10 19:46] pranavkm commented on #531
Just a note on my previous suggestion for completeness - Server 2k16 actually works well for this. However, this wouldn't work for down level where we'd continue building and compiling.

[2017-08-10 19:47] natemcmaster commented on #531
cc @ryanbrandenburg

[2017-08-14 17:31] pranavkm commented on #528
One more step is to publish .Sources packages to the `aspnetcore-master` feed. Since we'd be referencing timestamp free noship packages (`dependencies.props` would say `<AspNetCoreVersion>2.0.0</AspNetCoreVersion>` which includes non-shipping packages, we should produce timestamp free versions of these too.

[2017-08-18 00:45] smitpatel commented on #528
@pranavkm - This should be marked as completed right?

[2017-08-18 19:39] #528 closed

[2017-08-18 22:02] natemcmaster opened #546 "Partial builds with lineups"
Lineups broke KOREBUILD_REPOSITORY_INCLUDE/EXCLUDE. We should fix that before we roll out lineups everywhere.

cc @ryanbrandenburg

[2017-08-18 23:13] #546 closed

[2017-08-18 23:13] natemcmaster commented on #546
Fixed with #547

[2017-08-22 23:29] Eilon commented on #523
@natemcmaster can you give examples of specific places where this is problematic?

[2017-08-22 23:30] Eilon commented on #517
Not a high pri issue.

[2017-08-22 23:30] #517 closed

[2017-08-22 23:35] Eilon commented on #511
@joeloff we believe the builds now drop version files for each build so this is done. Can you confirm? If not done, please provide additional details.

[2017-08-22 23:38] Eilon commented on #508
We're ok doing this on demand as we see it missing in repos.

[2017-08-22 23:38] #508 closed

[2017-08-22 23:39] Eilon commented on #505
Sounds fascinating, but not clear what the value is.

[2017-08-22 23:39] #505 closed

[2017-08-22 23:40] Eilon commented on #501
Apparently the new TeamCity is better at this by not expanding huge logs by default. So closing.

[2017-08-22 23:40] #501 closed

[2017-08-22 23:43] Eilon commented on #500
I think contributors in general have been doing a good job with these things so I don't feel the value is there.

[2017-08-22 23:43] #500 closed

[2017-08-22 23:45] Eilon commented on #497
More consistency would be nice but this isn't a high priority.

[2017-08-22 23:45] #497 closed

[2017-08-22 23:46] natemcmaster commented on #523
This is typically most problematic when setting up a new TeamCity configuration. You have to very carefully setup environment variables to avoid accidental pushes. Environment variable configuration is inherited in TC so it's not obvious from looking at "build steps" if the artifacts will be pushed when the build finishes.

It's also tricky when setting up builds of feature branches or "personal b

[2017-08-22 23:46] Eilon commented on #512
FYI the incremental build was discussed in https://github.com/aspnet/Universe/issues/495, which I've closed because this bug tracks the overall work.

[2017-08-22 23:47] Eilon commented on #495
Closing this because https://github.com/aspnet/Universe/issues/512 covers it all.

[2017-08-22 23:47] #495 closed

[2017-08-22 23:47] Eilon commented on #484
Closing because we still don't run code coverage tools and don't plan to at this time.

[2017-08-22 23:47] #484 closed

[2017-08-22 23:49] pranavkm commented on #500
@Eilon can we copy the settings file we're using in Razor \ Mvc across repos - https://github.com/aspnet/Mvc/blob/dev/.editorconfig? We can make it a bit more opinionated about using certain features (along the lines of Roslyn's .editorconfig)?

That said, I actually find value in having errors for features I'd like to use and that's how I have it set up on my local VS instance. It can be a bit di

[2017-08-22 23:49] Eilon commented on #523
Do you have a specific example where this could be a problem?

[2017-08-22 23:51] #111 closed

[2017-08-22 23:53] Eilon commented on #124
This doesn't seem like it's a problem anymore. I can't recall seeing this problem from any contributors.

[2017-08-22 23:53] #124 closed

[2017-08-22 23:54] smitpatel commented on #500
What IDE or tools support the EditorConfig at present?

[2017-08-22 23:55] pranavkm commented on #500
@smitpatel VS and VS Code support it out of the box.

[2017-08-22 23:56] #250 closed

[2017-08-22 23:57] smitpatel commented on #500
In EF team, most of us use R# to enforce coding guidelines.

[2017-08-23 00:00] Eilon commented on #470
Naah.

[2017-08-23 00:05] natemcmaster commented on #523
I only remember a few of accidental pushes in the last couple years, and they were to myget so it was low-impact or even went unnoticed. My bigger concern is that one day it be an accidental push to NuGet.org, not myget. Because we've merged "build" and "deploy" concepts into one command line gesture, it will most likely happen when a dev is working on a build script locally and forgets to unset s

[2017-08-23 00:06] natemcmaster commented on #523
Repos where "build.ps1" may result in a push (given the right env variables)

 - https://github.com/aspnet/AzureIntegration
 - https://github.com/aspnet/Universe
 - https://github.com/aspnet/Coherence
 - https://github.com/aspnet/Coherence-Signed
 - https://github.com/aspnet/AspNetCoreModule

[2017-08-23 01:58] joeloff commented on #511
I think we're good. We get the information from the additional deps in the package store. For 1.x patches the process is still manual, but that's fine as we typically build the bundles for those ones or twice. My concern was more with things like the active dev/release where we want as much of the build automated

[2017-08-23 01:58] #511 closed

[2017-08-23 18:17] Eilon commented on #500
I just don't think we've seen this being a big enough problem in the last several months. Even that JsonPatch PR it's a matter of personal preference that we wouldn't enforce one way or another.

[2017-08-24 16:51] davidfowl commented on #500
Whats the downside though? Seems like all upside

[2017-08-24 17:02] anurse commented on #500
It's worth it just to ensure my indentation settings are always right :)

[2017-08-24 17:03] anurse commented on #500
Also: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#a-nameusingsorganize-usingsa

[2017-08-24 17:24] Eilon commented on #500
It's work that we'll end up arguing over the details on, it'll take time, and not provide much value.

[2017-09-08 17:38] smitpatel commented on #524
This has been done for EntityFrameworkCore & Microsoft.Data.Sqlite repos.

[2017-09-12 05:33] Eilon opened #553 "Enable source link for all 'src' projects that produce DLLs"
See https://github.com/aspnet/Mvc/pull/5905 for how to use an existing NuGet package by @ctaggart that does this.

We'll want to do this via KoreBuild so that it applies to all 'src' projects that produce DLLs.

[2017-09-12 05:35] Eilon commented on #553
@ryanbrandenburg feel free to start partying on this. We can sync in person if anything isn't clear.

[2017-09-12 05:37] Eilon commented on #553
Please use SourceLink.Create.CommandLine version 2.2.1 for this (I have approval for it).

[2017-09-12 06:47] davidfowl commented on #553
@Eilon when I spoke to @jaredpar turns out there were some performance problems with roslyn when they looked at using that package (something about launching too many processes) such that it slowed the build down too much.

/cc @tmat @pranavkm

[2017-09-12 06:57] ctaggart commented on #553
He then supplied the values to avoid looking them up each time via a command line process for each build.

[2017-09-12 07:06] davidfowl commented on #553
@ctaggart is it all fixed then?

[2017-09-12 08:04] ctaggart commented on #553
I'd say yes. Lookup the Roslyn pull request and sync with @jaredpar again. I'm on vacation in Greece with just my phone, else I'd be more helpful.

To recap, you can look at the targets file to see what values need to set to skip running the processes. https://github.com/ctaggart/SourceLink/blob/master/SourceLink.Create.CommandLine/SourceLink.Create.CommandLine.targets

- SourceLinkRootDirectory t

[2017-09-12 17:56] vancem commented on #553
The PR that is being referenced is  https://github.com/dotnet/roslyn/pull/20719.
We should clone that here unless there is a good reason not to.

[2017-09-12 18:53] vancem commented on #553
Looking this over a bit, the Roslyn team already had infrastructure for getting the GIT commit ID and repository URL and thus just wired into that.   I don't know if the ASP.NET build has that.

The SourceLink code does figure that out on its own if you let it, but it will probably have the performance issue that @jaredpar  mentions in https://github.com/dotnet/roslyn/pull/20719.

Note that ultima

[2017-09-12 21:21] Eilon commented on #553
@vancem , ah it's a bit trickier to get into the 2.0.x patch but we'll give it a shot. We have other infrastructure stuff to figure out for 2.0.x so this might be able to be rolled into that.

[2017-09-13 16:55] natemcmaster opened #554 "Produce a Linux arm32 runtime for ASP.NET Core"
In 2.0.0, `microsoft/dotnet` Docker images added support for arm32v7 architectures in Debian Jessie/Stretch. To make ASP.NET Core work well in, we need to produce corresponding Docker images and an ASP.NET Core runtime store.

cref https://github.com/dotnet/core-setup/issues/3122

arm32 runtime announcement: https://github.com/dotnet/announcements/issues/29

[2017-09-13 16:57] natemcmaster commented on #554
Potential issues:

- Does SQLitePCLRaw support for linux-arm? cc @bricelam @ericsink
- How do we configure a TeamCity agent to build the runtime store on arm32v7? cc @JunTaoLuo
- Are there any other native components that need to xcompile to linux-arm32?

[2017-09-13 16:59] ericsink commented on #554
"Does SQLitePCLRaw support for linux-arm?"

Yes, as of version 1.1.8.

[2017-09-13 17:02] natemcmaster commented on #554
@ericsink thanks, good to know.

Microsoft.Data.Sqlite 2.0.0 depended on 1.1.7, so we should consider patching this if we want to make SQLite work in a 2.0.x runtime store.

[2017-09-13 17:25] jaredpar commented on #553
I really dont think the extra processes will be noticable on most solutions. Roslyn is really big and hence the problem gets magnified a lot. We are also really sensitive about build speed

[2017-09-13 21:04] Eilon commented on #553
ASP.NET/EF Core is ~200 source projects but we'll see what happens 😄

[2017-09-13 21:13] pranavkm commented on #553
cc @natemcmaster \ @anurse. We already have access to the commit sha in our repo builds and we get to it by reading files in the `.git` directory. The repo url is stored in gitconfig so it's a bit more obtuse to read it without running git.

[2017-09-13 21:40] natemcmaster commented on #553
Also stored as an MSBuild property ([example](https://github.com/aspnet/Common/blob/bd73f61ec14a02bd7b3c6f24a4e60f9936b0e261/Directory.Build.props#L6))...though we never verify it or use it.

[2017-09-13 22:10] JunTaoLuo commented on #554
Libuv and sqlitepclraw are the only native components in the store now so this is definitely possible. It's going to take a bit of work to set up the agents to build the store. Do we need to build installers for this or will a zip be sufficient?

[2017-09-13 22:20] jaredpar commented on #553
Yeah you will notice the perf hit. Roslyn is ~160 and it was measurable there.

[2017-09-13 22:27] natemcmaster commented on #554
tar.gz for sure so we can make the docker images. Installers would be great too if it's not too much work. If it is, then we should evaluate this in our triage discussion.

[2017-09-13 22:35] vancem commented on #553
It sounds like you can do what Roslyn did (set variables for the GIT commit/URL so you don't need to run GIT.   It sounds like ASP.NET has enough projects so this is worth it.

Note that we should not be so allergic to invoking GIT commands.   It is frankly better to do that than to rummage around in the .git directory (taking dependencies on internal details), to avoid it.   The main issue is tha

[2017-09-13 22:56] Eilon commented on #553
Yeah we should do whatever makes the most sense for us and is easy to maintain.

@ryanbrandenburg - please take into account @vancem 's post above when working on this.

[2017-09-14 03:42] anurse commented on #553
Yeah, I'm OK with running `git` if we need it. It's better than diving too deep into `.git`.

My suggestion would be to have KoreBuild load up the Git and SourceLink data and pass it through to the projects when they build.

[2017-09-15 22:42] JunTaoLuo opened #559 "Alleged conflicting lineup version conflict"
In our runtime store music store tests I see failures caused by alleged conflicting versions in our two lineup files
[code]
http://aspnetci/viewLog.html?buildId=332018&buildTypeId=XPlat_RuntimeStoreMusicStore&tab=buildLog&_focus=252

The odd thing here is that Universe.Lineup does not contain an entry for `System.Threading.Tasks.Channels` so it may be an issue with how we are using the Lineup file

[2017-09-15 23:46] natemcmaster commented on #559
I have a hunch it has something to do with https://github.com/aspnet/Universe/pull/547

[2017-09-20 00:03] natemcmaster commented on #559
Resolved. The MusicStore TC configuration was missing artifacts from its artifact dependency on aspnet/Universe.

[2017-09-20 00:03] #559 closed

[2017-09-20 14:28] pranavkm commented on #470
Could we do this? Just avoids people sending PRs to master branches ever so often.

[2017-09-20 16:26] Eilon commented on #470
Yes it's tracked here: https://github.com/aspnet/Coherence-Signed/issues/651

@muratg will write a Python script that will "solve all our problems" 😄

[2017-09-20 16:49] pranavkm commented on #470
Spoke to @Eilon offline. For the list of repos in Universe, I'll do a manual check to ensure that `master` and `release` branches aren't pointing to anything useful (they're most likely set to the 1.0.0 tag). If so, I'll remove it. I'll work with individual repo contacts in the event these branches are pointing to something different.

[2017-09-20 17:12] Eilon commented on #524
@smitpatel - did you do it "manually" or did you have some kind of script that makes it easier to run on multiple repos?

[2017-09-20 19:23] smitpatel commented on #524
I did it manually since there were not many projects to update.

[2017-09-20 20:19] pranavkm commented on #470
A couple of repos have unmerged branches. Pinging owners to determine if they need be persisted or if we could delete them:

@Tratcher HttpSysServer - https://github.com/aspnet/HttpSysServer/tree/release/
@SteveSandersonMS - https://github.com/aspnet/JavaScriptServices/tree/master/
@muratg - https://github.com/aspnet/ResponseCaching/tree/master
@BrennanConroy  - https://github.com/aspnet/SignalR/t

[2017-09-20 20:24] BrennanConroy commented on #470
Gone

[2017-09-20 22:02] muratg commented on #470
@pranavkm Assign back to me for further clean-up. (Mainly for the rando branches folks have checked in and not touched.)

[2017-09-20 22:07] pranavkm commented on #470
All yours. We can sort out JavaScriptServices tomorrow.

[2017-09-21 14:48] SteveSandersonMS commented on #470
Have removed JavaScriptServices/master.

[2017-09-21 16:17] Eilon commented on #524
@javiercn - since @ryanbrandenburg is going to be OOF, can you take a stab at this? We need to get this in ASAP to avoid accidental breaking changes in 2.1.

[2017-10-02 22:33] natemcmaster opened #573 "Upgrade xunit to 2.3.0-rc3"
New analyzers, new compiler errors. Will require changes to source.

[2017-10-04 16:11] natemcmaster opened #574 "Commit the exact sha of repositories"
Currently, the build clones sub repositories by pulling a branch. We want to switch to having the exact sha committed to the source in universe.

Justification:
 - reproducible builds.
   - Make it easier for external contributors to build
   - Make it easier for us to build patches
 - synchronizing changes. Make it easier to synchronize a change in sub repos with required changes in aspnet/Univer

[2017-10-04 16:13] natemcmaster opened #575 "Reproducible builds"
Tracking issue for multiple issue related to making the build reproducible.

 - Commit the exact sha of repositories - https://github.com/aspnet/Universe/issues/574
 - Commit the version of build tools - https://github.com/aspnet/Universe/issues/576
 - Forbid floating versions in PackageReference - https://github.com/aspnet/BuildTools/issues/398

Pinning versions in repos:

- [x] Antiforgery - htt

[2017-10-04 16:14] natemcmaster opened #576 "Commit the version of build tools"
Currently, a build of aspnet/Universe gets the latest version of KoreBuild. We should commit the korebuild-lock.txt file.

Part of #575

[2017-10-04 16:17] natemcmaster opened #577 "Automate dependency updates"
Because we plan to start committing repo hashes, build tool versions, and have already started committing exact versions of dependencies, we should make it easier to automate updates to these.

Workflow:
 - Run a scheduled or trigger-based update script
 - Ensure build still passes
 - Commit and push changes

cref #576 , #574 , #566

[2017-10-05 22:05] natemcmaster opened #579 "[2.0.x] Add aspnet/templating"
We should add the aspnet/templating repo to the main product build so we can ensure templates and new runtime builds align.

cc @SteveSandersonMS

[2017-10-05 23:05] #573 closed

[2017-10-06 19:50] JunTaoLuo opened #584 "Move symbol packages to artifacts/symbols"
These packages are consumed in https://github.com/aspnet/Coherence-Signed/blob/dev/build/Prepare.targets#L50.

I think we'll need this.

[2017-10-07 00:47] JunTaoLuo opened #586 "Creating common manifest files needs trimming by existing manifests"
We trim the RID specific manifests by existing manifests. The common manifest needs to do the same.

[2017-10-09 18:48] pakrym opened #588 "Allow having packages in runtime store but not in metapackage"
This is needed only for AI hosting startup in 2.0.x patch
/cc @JunTaoLuo

[2017-10-09 18:56] JunTaoLuo commented on #588
To support this we will need
- [ ] Additional column to specify whether the package should be in the runtime store
- [ ] Generate a separate reference project for use when generating the runtime store instead of using the .All metapackage
 - This is an interesting change since it allows us to avoid doing the dance where we build the .All nupkg, use it to generate the store, then shim the new manif

[2017-10-09 19:33] natemcmaster commented on #584
Fixed in #587

[2017-10-09 19:33] #584 closed

[2017-10-10 05:19] nzain commented on #554
I want to add that many (most?) "arm developers" can't rely on default installation routines. Generic solutions (zip or tar.gz) and a little custom work are preferred in my oppinion. This is more the linux-way not the windows-way of doing things. For example, my team is neither working on a raspberry PI nor does our device run debian linux. Custom work is required anyways, flexibility is welcome.

[2017-10-10 11:53] ctaggart commented on #553
@ryanbrandenburg, @Eilon what is the [new route](https://github.com/aspnet/BuildTools/pull/407#issuecomment-335316489)? The public communication seams to have stagnated and there doesn't appear to have been any progress.

[2017-10-10 15:59] Eilon commented on #553
@ctaggart ah sorry, the guy who was working on this was on vacation for 2.5 weeks and just returned. @ryanbrandenburg - can you share an update when you have a chance?

[2017-10-10 16:32] ryanbrandenburg commented on #553
I discussed it with @natemcmaster and we came to the conclusion that between the build from source effort, the desire to only SourceLink "src" projects, and our simple requirements, it would be simpler to write a SourceLink task ourselves and include it in Internal.AspNetCore.Sdk.

[2017-10-10 16:52] Eilon commented on #553
That sounds fine to me, thanks!

[2017-10-10 20:04] pakrym opened #590 "Run couple of iterations of microbenchmarks during Test target"
Benchmarks keep breaking (kestrel, DI) and it goes unnoticed.

[2017-10-10 20:22] smitpatel commented on #590
https://github.com/aspnet/EntityFrameworkCore/blob/dev/benchmarks/EFCore.Benchmarks/BenchmarkJobAttribute.cs

In EF Core we have attribute to create benchmark job. It is conditional on env var to set run strategy and iteration count. dotnet run runs 1 iteration of each benchmark. Only setting env var makes it to run as full result collecting benchmarks. We haven't bothered to look into integrating

[2017-10-10 23:42] Eilon commented on #590
Yes this is reasonable. Can you investigate a solution for Kestrel and we can try to apply that to other repos that still need this?

[2017-10-10 23:43] Eilon commented on #554
@DamianEdwards - do you know if we have ARM32 support planned for ASP.NET/EF Core?

[2017-10-10 23:44] pakrym commented on #590
I started a thread in BenchmarkDotNet https://github.com/dotnet/BenchmarkDotNet/issues/566

[2017-10-11 15:48] natemcmaster opened #591 "[2.0.x] The .All metapackage's list of dependencies is incorrect"
Two issues:

1. Currently, the Microsoft.AspNetCore.All 2.0.3-rtm-* metapackage is generating a list of dependencies with `exclude="Build,Analyzers"`. This is a breaking change from 2.0.0.
2. The metapackage's list of dependencies differs from those that were in the 2.0.0 version

Comparison of the nuspec files: https://gist.github.com/natemcmaster/634caaa2648469e42b1bdf789b52aa29

Missing package

[2017-10-11 16:38] JunTaoLuo commented on #591
Regarding 2: there are a bunch of entries missing from https://github.com/aspnet/Universe/blob/rel/2.0.3/build/artifacts.props. See https://github.com/aspnet/Coherence/blob/rel/2.0.2/packages/packages.csv for reference.

[2017-10-11 23:00] natemcmaster commented on #579
Requires these changes: https://github.com/aspnet/templating/pull/58

[2017-10-11 23:06] JunTaoLuo opened #595 "Move archiver tool to Universe"
Currently lives in Metapackage's history at https://github.com/aspnet/MetaPackages/tree/7d3461eed4378b5142eabd48205d032d511d34c3/src/dotnet-archive

[2017-10-11 23:06] JunTaoLuo commented on #595
We are using the pre-published version of that tool in our drop share which isn't ideal.

[2017-10-12 16:02] JunTaoLuo commented on #591
Thanks for fixing this

[2017-10-12 16:02] #591 closed

[2017-10-12 20:20] JunTaoLuo opened #600 "Cleanup reference insertion and runtime store build steps"
BuildAllMetapackage and BuildRSReferencePackage targets uses mostly the same logic and can be cleaned up. Same with the Add*References.cs build tasks. Avoid building then unpacking and repacking the .All metapackage.

[2017-10-12 22:22] ryanbrandenburg opened #602 "Error message for package dependencies is misleading."
Right now we have [this message](https://github.com/aspnet/Universe/blob/e84122978296413b2ec8f4bc85c98daca77ef655/build/tasks/VerifyCoherentVersions.cs#L116), but what it actually means is that the shipping package X can't depend on the noship package Y. We should clarify this message so people know how to react.

[2017-10-13 23:54] JunTaoLuo opened #604 "Add tests for produced linux installers"
Test scripts for linux installers were omitted in https://github.com/aspnet/Universe/pull/603.

[2017-10-13 23:56] JunTaoLuo opened #605 "Produce debian 9 installers and ubuntu 17.04 installers"
This step was omitted from https://github.com/aspnet/Universe/pull/603. These are just renamed from debian 8 and ubuntu 16.04. I'll add automation to produce these as part of the regular build.

[2017-10-17 18:38] natemcmaster commented on #579
Done in rel/2.0.x. Still needs to be added in dev. Closing this one and will use a separate issue to track porting these build improvements to dev.

[2017-10-17 18:38] #579 closed

[2017-10-17 18:39] natemcmaster commented on #574
This has been done in rel/2.0.x. We need to port the change to dev

[2017-10-18 14:23] ctaggart commented on #553
Now that #423 has merged, when will the pdb files be added to the nuget packages?

[2017-10-18 14:30] ctaggart commented on #131
I think the finish line is close. #553 merged which enables source linking. The pdb files just need to be added to the nuget packages.